[2020-05-18 18:01] JackUrb commented on #111
@leopardyao The contents of your image suggest that visdom is now running correctly. If you run the demo you should either see plots or potentially errors in the server logs if not.

[2020-05-19 12:37] leopardyao commented on #111
Thanks JackUrb.
It turns out it is still the proxy issue.  Following the suggestions by ningykan, **I removed my http_proxy setting in env variables** and now it is working. (although sometimes it may need to restart the computer).

I am curious why this happens? After downloading all necessary static files, why Proxy setting still matters for visdom? As a few people are having the issues, can we

[2020-05-27 14:16] 300LiterPropofol opened #736 "visdom shows nothing nor env label in 'environment' when starting"
Hi,

The environment that I use: Windows 10, python 3.7, visdom 0.1.8.9

I have installed visdom and typed python -m visdom.server in a terminal, it said 'It's alive'.

However, when I start using it in the code using
self.vis = visdom.Visdom(env='env-test', use_incoming_socket=False, **kwargs)
and try to plot something in the server,
it neither shows the 'env-test' name label in the environment a

[2020-05-27 14:19] 300LiterPropofol commented on #736
The screenshot is as below, there is no 'test-env' label in the environment, all shown names are previous work
[https://imgur.com/yJoje3i](url)

[2020-05-27 14:34] 300LiterPropofol commented on #736
It seems like I can not upload any image due to firewall limitation, sorry about that.

[2020-05-27 15:17] 300LiterPropofol commented on #734
Hi, did you solve this issue? I have a similar issue after changing to a new virtual environment. Not only the screen is blank, when I am using self.vis = visdom.Visdom(env='new-env', use_incoming_socket=False, **kwargs) to create a new environment label, it doesn't show either.
Basically it seems nothing is transmitted to the visdom server, it just keeps blank.

[2020-05-27 18:58] JackUrb commented on #736
There are no posts to `test-env` in your server log, only lines like `INFO:tornado.access:200 POST /env/main`. If you manually set the `env` in your log call (`vis.line(..., env='test-env')`) does it work? The fact that you're posting to main at all would mean that the `Visdom` object is pulling `'main'` from here:
https://github.com/facebookresearch/visdom/blob/7b1203a0aa43a72a6e3dc2271ddba41f9cc

[2020-06-01 05:32] sekigh opened #737 "How to store (or save) and resume a experiment window in envs you obtained after creation of a window?"
I created a experiment window in environment " tutorial plot" by using sample codes, train.py and utils.py shown this https://github.com/facebookresearch/visdom/ and successfully obtained loss and accuracy curves on windows on browser. However,  I have problem in how to store (or save)  windows with created curves and resume them.  Once I stop "$python visdom", the windows are gone and never show

[2020-06-01 05:40] sekigh commented on #737
The codes, train.py and utils.py which I used as sample codes are under https://github.com/noagarcia/visdom-tutorial. Sorry for confusion.

[2020-06-01 07:45] 300LiterPropofol commented on #736
Thank you for your reply. I will close this because it seems to be a firewall proxy issue which can not be solved by changing visdom configurations.

[2020-06-01 07:45] #736 closed

[2020-06-01 19:44] JackUrb commented on #737
Have you tried using [`vis.save`](https://github.com/facebookresearch/visdom#vissave) or using the save button on the frontend (the folder icon closest to your environment name)?

[2020-06-02 04:09] sekigh commented on #737
I used the "save" button on the frontend .

[2020-06-02 15:24] JackUrb commented on #737
Alright, has anything been written to your `~/.visdom/` directory?

[2020-06-08 16:50] xiaoleihuang opened #738 "Run visdom without Internet Access"
I am running the visdom on a server without Internet access, when I start visdom, it just stays and stops at the following steps:

Checking for scripts.
Downloading scripts, this may take a little while

How can I setup for the server without the Internet access?

[2020-06-08 16:54] JackUrb commented on #738
You can run the download script on a machine with internet access, and then copy the `py/static` directory over manually.

[2020-06-08 17:12] xiaoleihuang commented on #738
Yes, I have downloaded files under the `py` directory. I find the visdom is installed under `~/anaconda3/lib/python3.7/site-packages/visdom`, and I overwrite the  `~/anaconda3/lib/python3.7/site-packages/visdom/static` by the `py/static/`, but the progress does not proceed to next steps.

[2020-06-08 17:51] xiaoleihuang commented on #738
@JackUrb Thanks for your help. After copying the web pages, I comment out `download_scripts()` in the `server.py`, and it works well.

[2020-06-08 17:51] #738 closed

[2020-06-10 11:00] lukacu commented on #682
Visdom works with [server proxy extension for Jupyter](https://github.com/jupyterhub/jupyter-server-proxy/), the only problem is that is a bit hard to configure correctly because every proxied service is prefixed with a path, you have to then configure Visdom to use this path internally as well. This is due to #411 which was meant to solve the problem of absolute paths, but it only removed the hos

[2020-06-11 20:47] jramapuram opened #739 "Visdom killed when using image history"
**Bug Description**
Visdom is killed without any error when sending a lot of image history (eg: replaying logs)

**Reproduction Steps**
Replay many logs with image history

**Expected behavior**
Visdom does not get killed.

**Screenshots**
![image](https://user-images.githubusercontent.com/8204807/84437447-4a6b1f80-ac35-11ea-85ea-40e586dcf261.png)

**Client logs:**
None because visdom pid was kill

[2020-06-11 21:03] JackUrb commented on #739
Hi @jramapuram - it's possible that your visdom instance ran out of allowed system memory. Image History works by keeping every instance in local storage. Are the images you're logging particularly large?

[2020-06-11 21:36] jramapuram commented on #739
Thanks for the super quick response @JackUrb . I think you are right. I kept on eye on the RAM usage and it started growing exponentially (and stayed there!) during log-replay with Image History (image are ~300k and there are about 600).

Is there a difference in the serialization process during log-replay versus just normal POST's? I don't see the process being killed during normal usage.

[2020-06-11 21:40] JackUrb commented on #739
I don't think there's a major difference, as it should be sending the exact same content to the server. I wonder if it's the server process or the logging process that has the issue, but really I haven't done any extensive testing with the `replay_log` functionality.

[2020-06-18 06:50] jaintj95 opened #740 "Visdom keeps printing "Setting up a new session...""
I am running a project and visdom keeps printing this several times back to back?
The "Device: cpu" command is from my script but how I can stop visdom from printing the session thing in my terminal?

[code]

![visdom_issue](https://user-images.githubusercontent.com/36858630/84987588-0eb4e600-b15e-11ea-8ea5-ea433b2e0bec.png)

[2020-06-18 23:01] DinoMan opened #741 "Coordinates obtained from Click events are slightly misleading"
Issue:
At the moment when I read the coordinates for mouse clicks using my callback function, I get the coordinates w.r.t the window pane and not the image. Additionally, the coordinates are provided based on the current size of the window, which means that if someone resizes the pane by dragging it then the coordinates for the same location on the image will change. I do not see a way of obtainin

[2020-06-19 09:15] vb123er951 opened #742 "Cannot draw 2 line plots"
Hi, here have a question about re-run the script.

While using Visdom, I first start the server by type `visdom` in command line, and then use another command line to execute my script, said `test.py`. I am using visdom with pytorch.

In `test.py`, draw 2 line plot by using a class, like this:

    class Visualization():
        def __init__(self, env_name='main'):
            self.vis = Visdom(

[2020-06-19 13:55] DinoMan commented on #741
Upon closer inspection, it seems to me that calculation for the image coordinates is wrong whenever the image is resized. One problem I found is that the tx, ty variables which I think signify the x,y coordinates of the top left of the image are not what I would expect. If you stretch the pane along one axis the tx, ty will stay at 0,0 but I think it should be changing.

[2020-06-22 16:15] mnagel opened #743 "Image Link in README broken"
In README.md you have

[code]

Which looks like:

<p align="center"><img src="https://lh3.googleusercontent.com/-h3HuvbU2V0SfgqgXGiK3LPghE5vqvS0pzpObS0YgG_LABMFk62JCa3KVu_2NV_4LJKaAa5-tg=s0" width="500"  /></p>

i.e. broken image, http code 400

[2020-06-26 12:22] jramapuram commented on #739
@JackUrb : I can confirm that it was an OOM / ulimit issue. Does image history need to re-broadcast the entire set of images at each POST? I see a HUGE slowdown when using image history vs. not for the same image dimensions / batch size. This might be the cause for the OOMs , eg:

without image-history:
[code]

with image-history:
[code]

Note: this effect is only found when posting from approxima

[2020-07-03 02:43] vb123er951 opened #744 "having 2 same index while drawing line chart"
**Bug Description**
Sometimes there have 2 same index with different values while drawing line chart
![image](https://user-images.githubusercontent.com/15091938/86425915-fa094e00-bd18-11ea-9096-0e66926bc615.png)

**Reproduction Steps**
use `vis.line()`, sometimes it works well but sometimes it will happen this kind of error.

**Expected behavior**
Every index has only 1 value.
![image](https://use

[2020-07-08 07:20] jramapuram opened #745 "Visdom webpage (client side) OOMs while loading images with history"
**Bug Description**

Loading image history for `64x64x3` images with 99 steps and around 400 images per frame crashes the visdom webpage

**Reproduction Steps**

  1. Send images with image-history
  2. load using chrome
  3. crash with OOM

**Expected behavior**

Not crash with OOM. Maybe cache [-a, +a] frames around current image-history index and poll server for rest when requested.

**Screensh

[2020-07-10 13:07] SergioRAgostinho opened #746 "Inconsistent state triggered when removing and reinstalling visdom with unsaved environments"
**Bug Description**

Ill try to be as concise as I can, however at the time of writing, I've not been able to pinpoint the exact circumstances in which my problem occurs. Every now and then it happened that I had to reinstall visdom, either to update or when trying to meet  some version requirement.  It's something which only I only experienced twice.

This is a problem which manifests itself if m

[2020-07-10 13:41] SergioRAgostinho commented on #746
Just figured out what it was. I had a background job still running on an external server still trying to post updates to a no-longer existing environment.

[2020-07-10 13:41] #746 closed

[2020-07-11 13:26] mingmingjiang1 commented on #419
Is the port  arbitrary ? Should I set it ?

[2020-07-16 01:54] KiAlexander opened #747 "AttributeError: module 'visdom.server' has no attribute '__path__'"
**Bug Description**
Please enter a clear and concise description of what the bug is.
`/home/yjm/anaconda3/envs/pych/bin/python: Error while finding module specification for 'visdom.server.py' (AttributeError: module 'visdom.server' has no attribute '__path__')`

**Reproduction Steps**
Enter steps to reproduce the behavior:
1. pip install visdom
2. Click on 'python -m visdom.server.py'
3. See error

[2020-07-16 02:12] #747 closed

[2020-07-21 21:04] vfdev-5 opened #749 "get_env_list raises TypeError in offline mode"
**Bug Description**
If call `get_env_list()` in offline mode, it raises `TypeError`.

**Reproduction Steps**
[code]

[2020-07-26 14:27] tejank10 opened #750 "Recovering a closed plot"
Hello,

I accidentally closed a plot in visdom. After that, even if I re-run my code I could not get it back. Can you point me to how do I recover the closed plot back?

[2020-07-29 23:19] jramapuram opened #751 "Is Visdom development dead?"
I see a few PRs being merged from ~2 mo ago, but no active development, eg: https://github.com/facebookresearch/visdom/pull/675 has been in progress since last year.

I get it that we all have time constraints and things to focus on (I'm a prime example of this with my ~4yr old cross-GPU ML lib 😂). Just want to know if I should start refactoring my code to move to an alternative like wandb or not.

[2020-08-02 05:57] zhuwenxaing commented on #734
the same issue

[2020-08-04 23:24] JackUrb commented on #751
Hi @jramapuram - I've mostly been caught up in other projects and following survey feedback on visdom there wasn't enough immediate interest for me to motivate others to help out on the work. I hope to return someday as I think it's still ideal for visualizing experiments under custom workflows, but until the requirements of my projects bring me back to using visdom I likely won't have much bandwi

[2020-08-05 12:45] ivanov-v-v commented on #751
Hi @JackUrb! Actually, Visdom is invaluable to my work as ML engineer and researcher, and this is probably true for many others as well. We would greatly appreciate it if you could invest more time into this project (at least, do more PR reviews). This could change ML experience for better for many developers all over the world, because it is much more functional than TensorBoard which everyone is

[2020-08-05 12:57] ivanov-v-v commented on #751
You could also consider submitting Visdom to GSOC, this can help to push the project forward and make it more recognisable in the community as well

[2020-08-05 16:51] jramapuram commented on #751
@JackUrb : thanks for the update. Just to clarify again, Visdom and your work on this project is **awesome** and greatly appreciated. I totally understand being strewn between projects. Best of luck.

[2020-08-12 02:17] amandayeyan commented on #484
This method works for me!

[2020-08-28 13:43] JackUrb opened #753 "The future of Visdom: Are you interested in taking on Visdom development?"
To all in the Visdom community: We are looking for developers who want to take over the development of Visdom from us!

Visdom has a large base of active users who depend on Visdom. More importantly, Visdom still has a lot of untapped potential for data visualizations or managing data workflows that makes further development worthwhile. As much as we want to see the vision through, we no longer ha

[2020-08-28 13:43] JackUrb commented on #751
Closing, as is answered in #753.

[2020-08-28 13:43] #751 closed

[2020-09-09 12:33] MasonZong opened #754 "Exception in user code"
# Description

I run visdom server (python -m visdom.server)on Ubuntu.
There is something wrong when I excute python demo:

[code]

# error message

[code]

I have tried to Modify demo like:  but it doesn't work。
[code]

[2020-09-10 13:15] IMIMyzj opened #755 "Maybe visdom.line() has a bug"
**Bug Description**
When I use visdom.line() to draw a pic, the code give me the information "X and Y should be the same shape". So I go to see the source code, to find where I get wrong with. After thinking and testing, I think there may exist a bug.
The bug code is here:
[code]
So if I send the function line(X=x_input, Y=y_input), where x_input is an 'N' tensor or 'Nx1' tensor , and y_input is a

[2020-09-17 02:29] huangzhao1 commented on #701
I also met this issue,have you solve it ??

[2020-09-17 05:48] huangzhao1 commented on #701
I solved it by set same value(8097)  on port of chrom  and  server.

[2020-09-17 08:45] noletter opened #758 "how to change the font size of figure?"

[2020-09-18 07:59] pabs3 opened #759 "change visdom to an open source license?"
I note that visdom is released under the Creative Commons Attribution-NonCommercial 4.0 International Public License.

This license is not compatible with the Open Source Initiative's [Open Source Definition](https://opensource.org/osd), the GNU Project's [Free Software Definition](https://www.gnu.org/philosophy/free-sw.en.html) nor the [Debian Free Software Guidelines](https://www.debian.org/soci

[2020-09-18 12:43] lvdmaaten commented on #759
Thanks for your feedback, @pabs3!

We are fully aware of the limitations of the Creative Commons Attribution-NonCommercial 4.0 International Public License. We are unable to change the license of visdom at this point. However, as part of https://github.com/facebookresearch/visdom/issues/753 we are happy to transition the project to a non-Facebook organization and grant that new organization the ri

[2020-09-19 01:57] pabs3 commented on #759
Thank you for providing a potential path towards re-licensing visdom.

I will do some research on the potentially appropriate organisations
and present my results here.

I would propose that recent contributors could be surveyed in order to
choose an appropriate org.

I would propose that once an organisation is chosen, that org would
survey all previous contributors to visdom in order to come up

[2020-09-22 06:24] pabs3 commented on #759
I've done some research on potentially appropriate organisations
related to the users of visdom and the technology it uses and I found
that NumFocus, LF AI, FOSSASIA, PSF or SFC are potentially appropriate
organisations.

NumFocus is a non-profit supporting open source code for better science
and is strongly related to the NumPy project, which visdom uses.

https://numfocus.org/

The Linux Foundat

[2020-09-23 21:08] shapovalov commented on #688
@JackUrb I think your proposal should fix it (in my case, the size of the arguments varies dynamically, and I had to do `if Y.shape[1] == 1: Y = Y.squeeze(axis=1)` before calling). It is a pretty nasty bug, requires digging into the source code to debug, and I feel should be pretty common.

[2020-09-25 07:28] Jimmy2027 opened #760 "Error when runnning visdom: The 'torchfile' distribution was not found and is required by visdom"
**Bug Description**
Hello, after I install visdom, I get the following error when I run the command `visdom` in the terminal:

[code]

Where can I find the needed package? I don't see it anywhere in the requirements for visdom nor anywhere else in the source code.

[2020-09-25 11:12] JackUrb commented on #760
Ah the reference to this requirement can likely be removed, we deprecated torch support over a year ago and `torchfile` is a remnant of that functionality.

[2020-09-25 17:20] Jimmy2027 commented on #760
Hi @JackUrb, thanks for your response! Is there any way I can get rid of this error then? I don't find the code where visdom is looking for torchfile :/

[2020-09-25 17:44] JackUrb commented on #760
What version of visdom are you running here? Indeed `torchfile` has been removed from the repo, so it seems you're somehow on an earlier revision?

[2020-09-29 14:58] adgilbert commented on #755
I also saw this issue

[2020-10-06 19:49] tdavchev opened #761 "Plotting for Y.ndim == 2 with Y.shape[1] == 1 leads to inconsistent shapes"
https://github.com/facebookresearch/visdom/blob/7b1203a0aa43a72a6e3dc2271ddba41f9cc960ce/py/visdom/__init__.py#L1692

The reference code above combined with an X.ndim == 1 leads to wrong tiling of X
e.g.

Consider Y with shape Mx1 and X with shape M. After reverting Y on the referenced line above we get Y with shape 1xM and X with shape M, then
https://github.com/facebookresearch/visdom/blob/7b120

[2020-10-10 01:41] zhangp14 commented on #755
same problem encountered when running `python main.py ` from
https://github.com/valerystrizh/pytorch-histogram-loss

but use your modified code, _pytorch-histogram-loss_ runs sucessfully.

[2020-10-10 10:53] tdingquan opened #762 "Bug raises when encountering x = [1.0, 2] and y = [[0.78], [1]]"
**Bug Description**
I want to draw two points with each affiliating with one entry denoted as an array of length 1.

Line 1687 of __init__.py will cause side effects on line 1692.
And there comes the shape assertion bug on line 1695.

[2020-10-17 07:17] wangyinyan1998 commented on #294
I meet the same problem with fangxiaoke, I want to ask if there are some methods to solve it? I am a new user to visdom.

[2020-10-19 21:34] mehrdad-h opened #763 "Edit button does not work anymore"
The edit button at the bottom right of the charts is not working now. According to [plot.ly](https://community.plotly.com/t/url-change-for-chart-studio-cloud-https-chart-studio-plotly-com/33557) the link in the edit button (below) should be changed from `https://plot.ly` to `https://chart-studio.plotly.com` in order for the charts to be imported to the cloud.

https://github.com/facebookresearch/v

[2020-10-21 17:03] JackUrb commented on #763
Thanks for the heads up @mehrdad-h! We'll be able to handle this soon.

[2020-11-03 08:52] pabs3 commented on #759
Did you get a chance to research the organisations I found? If it helps to make a decision, I would recommend NumFocus. I'm happy to approach them if you don't have time to do that.

[2020-11-03 11:46] JackUrb commented on #759
Hi @pabs3 - we're in the final steps of transferring ownership to one of these groups. Thanks for the possible connections, and more news to come soon.

[2020-11-03 13:27] pabs3 commented on #759
Excellent, I look forward to hearing which organisation was chosen.

--
bye,
pabs

https://bonedaddy.net/pabs3/

[2020-11-05 07:44] vb123er951 commented on #744
any comments?

[2020-11-05 10:47] TaehwanKwon opened #764 "Click event doesn't work in demo.py"
**Bug Description**
I am running 'demo.py' and Click callback function doesn't work.

I am clicking quite hard but no coordinates are written.

I checked key press callback is detected.

I don't know why only click callback doesn't work.

I am using visdom==0.1.8.9 and chrome Version 83.0.4103.116 (Official Build) (64-bit).

![visdom_click](https://user-images.githubusercontent.com/21196353/982310

[2020-11-05 14:40] JackUrb commented on #744
Hi @vb123er951 - you haven't really provided enough context for me to know what's going on here. The screenshots of spreadsheets don't tell me how you're plotting, what your server setup is, or even what the plots are currently coming out as. The server logs look normal, so it's not that.

[2020-11-09 10:08] JasonFinisher123 opened #765 "I have put data into line plots,but it update the line when I select online to offline,and then online. otherwise, it does not work."
I want to know why ? Thanks for your answer.

[2020-11-10 02:57] vb123er951 commented on #744
Hi @JackUrb ,
I use a class doing visdom drawing:

    class Visualization():
        def __init__(self, env_name='main'):
            self.vis = Visdom(
                port = 8097,
                server = 'http://localhost',
                base_url = '/',
                username = '',
                password = '',
                use_incoming_socket = True,
                env = env_name,

[2020-11-11 23:28] JackUrb commented on #759
The license has been updated to Apache 2 in #767

[2020-11-11 23:28] #759 closed

[2020-11-11 23:32] pabs3 commented on #759
Excellent, thanks for relicensing.

Was there a decision about which organisation will take over visdom?

--
bye,
pabs

https://bonedaddy.net/pabs3/

[2020-11-11 23:34] JackUrb commented on #759
Yes, details to come soon!

[2020-11-16 19:03] JackUrb commented on #744
Hi @vb123er951 - this may be due to a bug in how visdom assigns window ids - you can resolve this by specifying the window ID even during the first creation. For example:
[code]
You also no longer need to specify update to `append` or `None` if you'll always be appending, append on a non-existent window is now treated as a create.

[2020-11-17 07:08] vb123er951 commented on #744
Hi @JackUrb,
thank you for your advise, I'll try it!

[2020-11-17 07:35] bnbqq8 commented on #755
Same issue.
Inputs:
![image](https://user-images.githubusercontent.com/18081890/99359432-07029480-28ea-11eb-82d5-63e6975ebfd4.png)

And return:
![image](https://user-images.githubusercontent.com/18081890/99359697-6b255880-28ea-11eb-90e7-d63ae205b12d.png)

[2020-11-19 06:49] spicy-dog commented on #554
can you tell more details about it?I meet similar problem and I dont know how to convert each element to numpy...Thanks a lot

[2020-11-20 13:08] caph1993 opened #769 "Box plots with shaded areas"
It would be nice if we could do box plots with shaded areas like this one at the right:

![image](https://user-images.githubusercontent.com/5473460/99802693-1eb66480-2b06-11eb-94a6-9b49c8f1cfc2.png)

Reason: Box plots like the one at the left are crucial for understanding the confidence of the results, but they become a struggle when the whiskers of the series collide.

[2020-11-24 12:44] dizcza commented on #510
@dzimmerer seems like your loggers have no longer `plot_model_structure` function, right?

[2020-11-25 11:19] dizcza opened #771 "Moving to asyncio"
**Problem**
Visdom appeals to me because of the iterative send updates to a server. However, I'm always frustrated to see that visdom get and post requests are 10 times (!) slower than my analysis payload script. This is because visdom uses `requests` under the hood, which is sequential by design.

**Describe the solution you'd like**
Switching to asyncio coroutines. In particular, using [`asyncio

[2020-11-28 08:55] dizcza opened #772 "Wrong downloaded image file extension"
**Reproduction Steps**
Taken from demo.py script:
[code]
Navigate to locahost:8097 "main" env, download the image by clicking on the download button. The downloaded file has a ".jpg" extension and cannot be opened - it must have a ".png" extension.

**Expected behavior**
"Random images.png" is downloaded.

**Additional context**
I thought the issue is in https://github.com/facebookresearch/visdom/

[2020-11-30 21:29] JackUrb commented on #771
I'm definitely a fan of `asyncio`, and would be interested to see Visdom updated to be compatible with coroutines. I worry a bit that we'll lose more backwards compatibility for those who don't have it though, but ultimately think it's the right overall direction.

[2020-11-30 21:31] JackUrb commented on #765
Hi @JasonFinisher123 - unfortunately you haven't really provided enough detail for me to be able to understand your request. Please open up a new issue and fill out the bug report template in order for me or another visdom community member to be able to help.

[2020-11-30 21:31] #765 closed

[2020-12-01 09:26] dizcza commented on #771
I'll wait for the #675 first, maybe fix other code style issues, and then consider adding asyncio because adding such an advanced API as asyncio makes sense when the code is relatively clean.
Maybe others are interested in doing this.

[2020-12-09 19:15] Zumbalamambo opened #773 "Pointclouds"
Please add an option to load and display Pointcloud

[2020-12-09 19:21] JackUrb commented on #773
What do you mean by displaying a pointcloud? We can do 2d and 3d scatterplots already.

[2020-12-09 19:33] Zumbalamambo commented on #773
@JackUrb Loading a PLY file that has `xyzrgb` information and displaying it with an option to control/update the camera within the model space

[2020-12-09 19:36] JackUrb commented on #773
This would be a cool feature to have - right now I don't think Plotly has a renderer for this kind of thing, so it'd be implementing a full renderer. Working with 3D isn't really my domain, so I'll be opening this up to the community.

[2020-12-10 06:55] JafferWilson commented on #773
@JackUrb @Zumbalamambo I think this might be helpful: https://chart-studio.plotly.com/~ply-files#/
But I don't think there is a way to "control/update the camera within the model space". Actually, I do not know what it means.

[2020-12-17 03:26] fzyzcjy commented on #724
half a year has passed... Is there any updates?

[2020-12-25 14:14] GrumpyZhou opened #775 "Behaviour of vis.line(update='append') in visdom 0.1.8.9"
I found different behavior when using vis.line under visdom 0.1.8.9  and 0.1.8.8.
When using 0.1.8.8., I can directly create a new window under a new environment by using the update='append'. This is not working samely for me when I have a newer version of visdom 0.1.8.9.

**Reproduction Steps for Visdom 0.1.8.9.  and Python 3.7 **
1. Start a visdom server
2. Go to command line,
[code]
I didn't fi

[2020-12-30 20:04] JackUrb commented on #775
Hi @GrumpyZhou - this change was not intentional. The final intended behavior should be create-on-append if a surface doesn't already exist for all actions, but I'm not positive why this changed recently. I'm revisiting #675 next year, after which the semantics of this should be standard.

[2021-01-01 22:12] no-Seaweed commented on #740
I had the same problem. But it turns out I made this mistake by calling visdom.Visdom in my iterating function over and over. I should call it at the top of my entire the script instead. To target where this print happens, in the source code, it shows a logging info "Setting up a new session" is called every time visdom is initialized.

[2021-01-01 23:09] s099064146 commented on #554
@spicy-dog
Hope you have solved your problem, if not, that is what I have done to pass through.
If you are using the same repository as @liuyazhou951218, that is [awesome_face_antispooing](https://github.com/JinghuiZhou/awesome_face_antispoofing).
I used some of the code in `__init__.py` of Visdom, and I copied some of them to the Visualizer.py since I have no idea how to call them outside of the

[2021-01-05 02:38] shubham-goel opened #776 "Cannot plot to environments with `/` in name"
**Bug Description**
Visdom doesn't plot to environments with `/` in their name. Instead, it redirects the plot to an alternate environment name where `/` is replaced by `_`.

**Reproduction Steps**
[code]

**Expected behavior**
I expect the "Hello, world!" window to show up in the `a/b` environment.

**Screenshots**
Screenshot 1
<img width="1784" alt="Screen Shot 2021-01-04 at 9 19 38 PM" src="htt

[2021-01-06 00:17] pabs3 commented on #759
Looks like FOSSASIA was chosen as the organisation to take over the visdom project, congrats to the @fossasia folks, even though I felt NumFocus was the better choice.

[2021-01-06 01:08] mariobehling commented on #759
Thanks a lot for making this possible! @JackUrb

@pabs3 I think transitioning the repo here is not a decision against another organisation. Actually it would be great if we could work together with different orgs to bring this project forward. The info on the NumFocus website seems outdated and parts of their site is broken though. So, not sure what is the status.

I think a community meeting onli

[2021-01-06 01:23] pabs3 commented on #759
Another announcement of the change:

https://www.facebook.com/FacebookAI/photos/a.360372474139712/1739843239525955/?type=3&theater

[2021-01-07 19:33] ShirAmir commented on #755
There is indeed a bug in `visdom\__init__.py`. When `Y` is two dimensional and the second dimension is 1 (when plotting multiple points of a single line) `Y` and `X` are reshaped for no reason and the run is eliminated when asserting `X` and `Y` are of the same shape.

The quickest fix is to eliminate the following code lines in the `line` function:

[code]

On the other hand, add multiple lines t

[2021-01-12 16:41] JackUrb commented on #776
Hi @shubham-goel, thanks for opening an issue!

This is a product of our first design - all environment `.json` files were to be stored in the specified folder, but allowing `/` in the filename would lead to issues in addressing the files. As such we just replaced those (and other special characters) with `_`. That character is also used as the delimiter in the selector, allowing the grouped dropd

[2021-01-12 18:33] mariobehling opened #782 "Continuous Integration Set up"
Please set up continuous integration and tests where possible using Github Actions or another service. Also add badges to the Readme file.

[2021-01-12 20:10] mariobehling commented on #782
We are not assigning issues to external contributors. Please mention that you would like to work on the issue and make a pull request to resolve it shortly after. Thanks.

[2021-01-12 21:06] shubham-goel commented on #776
Thanks for your response @JackUrb! I now understand the expected behavior. There's certainly a plethora of features that could be build to improve visdom, I wish we had the time to implement them all :)

Closing this issue since it's not an important feature enhancement.

[2021-01-12 21:06] #776 closed

[2021-01-13 02:14] nlok5923 commented on #743
Working on it.

[2021-01-13 02:26] nlok5923 commented on #743
@mariobehling  sir please can you provide me the correct image link.

[2021-01-13 09:10] duxingren14 commented on #734
the same issue.

[2021-01-13 23:15] mariobehling opened #783 "Create a project logo"
The project does not have a logo yet. A simple text logo using a freely licensed font would be a great start.

[2021-01-14 02:48] back920096 opened #784 "button side by side"
in properties

Is there a way to make 2 buttons side by side with 2 menus side by side?

[2021-01-14 05:11] yashsehgal commented on #783
Hey @mariobehling, I am interested in this issue. Can you please assign me this?

[2021-01-14 05:24] mariobehling commented on #783
We are not assigning issues to external contributors. Please mention that you would like to work on the issue and make a pull request to resolve it shortly after. Thanks.

[2021-01-14 05:33] yashsehgal commented on #783
Got it.

[2021-01-16 13:23] nidhi8686 commented on #783
I made three logos for the project.  Hope you'll like it

![b69022eb-13b5-4298-b79f-f84e8fb28575_200x200](https://user-images.githubusercontent.com/43919764/104812892-708c1a00-582b-11eb-8a43-f97db885432d.png)

![64a5bc9f-77e2-4c77-a37f-15a107388249_200x200](https://user-images.githubusercontent.com/43919764/104812896-7550ce00-582b-11eb-8b2c-9a0ef858c64a.png)

![2ae2c549-a878-4c5c-9887-1b91a94d47f2

[2021-01-16 13:26] norbusan commented on #783
Codeheat?

The project has a different name ..

[2021-01-16 13:29] nidhi8686 commented on #783
The logo should be named Visdom?

[2021-01-16 16:41] mariobehling opened #785 "Move images from Readme to /docs/images"
The images in the Readme are loading from different sources including some from Google drives. To follow best practices please move them to a folder at /docs/images, please and correct the links in the Readme.

[2021-01-16 17:07] iamsdas commented on #785
Working on it.

[2021-01-16 17:15] iamsdas commented on #785
@mariobehling the second image in the README seems to be a dead link. Should I leave it as is?

[2021-01-16 17:42] mariobehling commented on #785
Please delete dead links. If images have cryptic names please rename them to visdom-project-1.jpg/png etc.

[2021-01-16 17:46] iamsdas commented on #785
Is the current way of naming alright?
Or should i rename them all to visdom-project-1..2..3 etc?

[2021-01-16 17:49] iamsdas commented on #785
@mariobehling removed the dead link, could you review the PR?

[2021-01-17 04:36] yashsehgal commented on #783
This might be more relevant.
![image](https://user-images.githubusercontent.com/62352288/104831111-a8d33d00-58ab-11eb-9745-d8af947c5056.png)

[2021-01-17 04:44] norbusan commented on #783
@yashsehgal bit better, thanks

[2021-01-17 04:51] yashsehgal commented on #783
So may I share the Figma Link to this file?

[2021-01-17 20:51] urfinorg opened #787 "Auto scrolling for textarea (visdom text method)"
Hello,

Maybe I missed something. I try to create simple online(web) logging system with Visdom,
so I have many messages. For example:

[code]

Messages are constantly adding. The last message is the most important. I must to scroll textarea to bottom every time then i want to see last message. It is very uncomfortable. To solve this problem, I wrote a small auto-scroll jQuery function:

[code]

I

[2021-01-19 04:09] anushkrishnav commented on #762
I wish to work on the issue

[2021-01-19 15:50] himanshujaidka commented on #783
Please go through the documentation

[2021-01-20 18:00] iamareebjamal commented on #782
Can you please assign this issue to me?

[2021-01-22 08:23] kashyaprajharsh commented on #772
Sir, I want to work on this issue.

[2021-01-22 11:50] dizcza commented on #772
If you're asking me, of course, I'll be glad if you or someone else will fix it. I just posted the issue here.

[2021-01-22 14:11] adit4455 commented on #783
How is it
![PicsArt_01-22-07 40 43](https://user-images.githubusercontent.com/70281937/105501098-cceab000-5ce9-11eb-8185-492204ff4e20.jpg)

[2021-01-23 19:17] avner-vortex opened #788 "plotlyplot window size"
**Bug Description**
visdom don't change the window size according to a plotly figure's size.

**Code:**
[code]

Result:
![image](https://user-images.githubusercontent.com/76641899/105611818-566cb180-5dc0-11eb-82bf-366e78afb51f.png)

[2021-01-24 00:10] rajdesai24 commented on #769
Hey, can I work on this issue?

[2021-01-24 00:19] rajdesai24 commented on #769
How to reproduce the issue?

[2021-01-25 16:37] anjali1102 commented on #758
@noletter explain your issue briefly

[2021-01-27 11:52] rajdesai24 commented on #772
<img width="1680" alt="Screenshot 2021-01-27 at 5 22 01 PM" src="https://user-images.githubusercontent.com/53701807/105987349-2d9c3300-60c4-11eb-8f4f-5837e01e0731.png">

[2021-01-27 11:53] rajdesai24 commented on #772
<img width="871" alt="Screenshot 2021-01-27 at 5 23 16 PM" src="https://user-images.githubusercontent.com/53701807/105987485-5a504a80-60c4-11eb-97b2-24e6b10f7a8f.png">

[2021-01-27 11:55] rajdesai24 commented on #772
This says it downloads jpg when we specify it specifically. Kindly check if you've done that, it could be the reason you might be facing the issue.

[2021-01-27 13:33] dizcza commented on #772
@rajdesai24
please read the issue description once again.
Do I define a jpgquality in the test script? - No. ---> "If not defined, the image will be saved as a PNG" - this is the expected behavior.
But instead, I get an image with a JPG extension that cannot be opened by any JPG readers because it is NOT a JPG.

[2021-01-27 18:28] elioqoshi commented on #783
@mariobehling here are 2 proposals from my side:

![image](https://user-images.githubusercontent.com/5436686/106036634-e1f28500-60d5-11eb-92f3-26a40ab451e2.png)

[2021-01-28 14:34] avner-vortex commented on #788
Any update?

[2021-01-30 19:01] rajdesai24 commented on #772
Yes, understood. Working on it @dizcza, thank you for clearing it out.

[2021-02-12 23:13] brando90 commented on #554
is there something like `torch.to_json(dictionary_with_tensors_as_values)`?

[2021-02-13 00:41] brando90 commented on #554
If like me you just wanted to save the dict of tensors in a human readable way check this out:

https://discuss.pytorch.org/t/typeerror-tensor-is-not-json-serializable/36065/3 or https://stackoverflow.com/questions/12943819/how-to-prettyprint-a-json-file/66180687#66180687.

[2021-02-18 10:54] avner-vortex commented on #788
Hi, is someone knows how to solve this issue?

[2021-02-18 13:45] JackUrb commented on #788
Hi @avner-vortex - right now we don't do any processing on the figure before it's rendered, so it's created with the default size pane. You can see this implementation here:
https://github.com/fossasia/visdom/blob/bc71e868b781dcc4735b2b66a4fa194a474a8d3c/py/visdom/__init__.py#L1017

Compare this to the `image` method, which does parse out the details and add them to the `opts`:
https://github.com/

[2021-02-18 13:52] avner-vortex commented on #788
Thanks!
So, How can I manually change the above code so that the visdom win will be bigger?

[2021-02-18 14:23] JackUrb commented on #788
You'll have to add height and width to this opts dict:
https://github.com/fossasia/visdom/blob/bc71e868b781dcc4735b2b66a4fa194a474a8d3c/py/visdom/__init__.py#L1036

[2021-02-18 14:26] avner-vortex commented on #788
Thank you very much!
One more question please, how can I change visdom win after the creation of it?

[2021-02-18 14:28] JackUrb commented on #788
Why do you need to change it?

[2021-02-18 14:31] avner-vortex commented on #788
When I want to update the image/scatter of it.

[2021-02-18 14:32] JackUrb commented on #788
Only certain window types have update methods. Refer to the documentation of this. `plotlyplot` can only be "updated" by naming the `win`, and then re-using that name on a future plot call.

[2021-02-20 22:39] avats-dev commented on #735
I would like to contribute and resolve this. Thanks!

[2021-02-26 16:50] avats-dev commented on #785
I think this issue is resolved, right?

[2021-03-07 09:52] al1216 commented on #758
@noletter which figures's font size we have to change?

[2021-03-19 11:35] Shubhams-nd commented on #734
+1

[2021-03-19 12:07] JackUrb commented on #734
Please check the JavaScript console in your browser - this kind of issue occurs when visdom cannot serve the JavaScript resources required for showing visualizations.

[2021-03-22 14:11] JackUrb commented on #758
Closing due to lack of details. Feel free to reopen @noletter with more commentary.

[2021-03-22 14:11] #758 closed

[2021-03-22 14:15] JackUrb commented on #743
We have removed this link, as we are not sure what was originally behind it anymore.

[2021-03-22 14:15] #743 closed

[2021-03-24 17:25] victor-moreno commented on #682
Hi Luka,
Could you share the possible solution to use visdom on Jupyter
I am interested in finding or developing a proxy extension that works. I got stuck with the /static js URLs not being properly prefixed by jupyter server proxy
Thanks

[2021-03-25 10:08] lukacu commented on #682
Hi, I had a hacked version for some time, but now the upgrades have reverted my changes. I use normal SSH port forwarding now, much less hassle.

[2021-03-28 10:30] gyanprakash0221 commented on #782
I would like to work on this issue @mariobehling

[2021-04-14 15:40] DuanhaoranCC opened #795 "Vis.surf"
Hello, I see the visdom function Vis.surf , but no relevant examples have been found. I want to draw error surface. I don't know what suggestions you have. Thank you very much.

[2021-04-18 14:03] BoNiu-HZY opened #796 "how to implement ‘passing ping_timeout=100.0 (amount is arbitrary) to ws.run_forever fixes the problem.’"
Upstream bug in websocket-client is here:
https://github.com/websocket-client/websocket-client/issues/466

As mentioned there, passing `ping_timeout=100.0` (amount is arbitrary) to `ws.run_forever` fixes the problem.

_Originally posted by @xqms in https://github.com/fossasia/visdom/issues/450#issuecomment-415573978_

[2021-04-18 14:04] #796 closed

[2021-04-20 12:20] KnightOfTheMoonlight commented on #509
@JackUrb  what if there is some node that is not accessible by the non-intranet. My server has one node which is the login-in node, other nodes can only be shared by intranet. the login-in can only run 30-mins jobs, which is not practice. So I need to run the code in the intranet nodes. But that node can not be accessed by my local machine. Do you have any suggestions?

[2021-04-22 15:34] JackUrb commented on #509
Sorry @KnightOfTheMoonlight, I don't have any good guidance on being able to run something like that. If you're logged into the network from the login node, are you able to remain doing things? If so there's likely a shell process that can run longer than the 30 mins? But yeah I don't actually have any strong understanding of your network configuration, and may not be able to help even if I did.

[2021-04-23 15:09] dizcza commented on #782
Just came upon this issue. I do continuous integration with a remote visdom server involved. The solution is to set up a few environment flags in a CI of your choice (CircleCI, for example) and then opening a visdom client as following [(see the full code)](https://github.com/dizcza/pytorch-mighty/blob/7be3c1b883974cbb51258c7bb68375848b125fb2/mighty/monitor/viz.py#L37-L39):
[code]
Assuming, of cou

[2021-04-26 18:53] phamvantoan opened #797 "Cannot update 3d scatter in the existing plot"
Hi,
Please help me check if you can update 3d scatter in the existing plot.
I test with 2d scatter and it can update as usual when setting: opts=dict(..., update='append', win=win)
However, 3d scatter does not work when updating is required.
I attached here the code I used to test 3d scatter.
Thank you so much for your help!

colors = np.random.randint(0, 255, (1, 3,))
win = vis.scatter(
    X=np.

[2021-04-28 13:21] Ir1d commented on #537
The fonts are still missing, resulting in permission denied error in a docker container

[2021-04-28 16:55] JackUrb commented on #795
Hi @DuanhaoranCC - the full extent of work we've done with surface so far is available in the demo:
https://github.com/fossasia/visdom/blob/master/example/demo.py#L263-L270

[2021-04-28 17:06] JackUrb commented on #784
Sorry for the late response here, though there's not really enough context for me to understand what you're looking for. At the moment properties panes only handle the types of inputs we display in the demo:
https://github.com/fossasia/visdom/blob/master/example/demo-properties.py#L63-L67
You could feasibly add more types to be able to add additional functionality, but I'm not sure this is a prior

[2021-04-28 17:06] #784 closed

[2021-04-29 03:21] KnightOfTheMoonlight commented on #509
@JackUrb
I tried to restart visdom server on the login node. But then I can not see the plots. I have no idea why yet.

[2021-04-29 03:22] DuanhaoranCC commented on #795
@JackUrb ,OK,Thank you very much for your help!

[2021-05-05 17:25] nikhilaravi commented on #646
@jramapuram  +1 for being able to select several environments from the UI and delete them all together! This would be very useful! Can there not just be an option to select multiple environments in the "delete" section instead of just a dropdown to select one?

![Screen Shot 2021-05-05 at 10 22 25 AM](https://user-images.githubusercontent.com/5912647/117183261-2e5ff780-ad8c-11eb-8513-a964b9feb901.

[2021-05-05 17:34] JackUrb commented on #646
Hi @nikhilaravi, that could be an interesting solution. There's one main approach, which starts by replacing the following `<select>` with some kind of multiselect:
https://github.com/fossasia/visdom/blob/master/js/main.js#L1154-L1171
This will require some kind of state update to now be tracking an array of selected envIDs rather than just one.

Then it becomes an issue of configuring `deleteEnv`

[2021-05-09 11:41] sekigh opened #801 "Changing port does not work by visdom -port xxxx"
I want two independent visdom processes running on two different servers in parallel, sending visdom figures to a single local client by different ports, e.g. 8097 and 8098.  I want these setting because I accelerate a multiple number of processes in parallel. So what I did is as follows:

On visdom server A: visdom (with default port 8097)

On visdom server B: visdom -port 8098

But it looks that

[2021-05-09 12:05] sekigh commented on #801
Additional Information:
My environment is as follows:

Server A: ubuntu16.04  ---> It works fine with "visdom" command
pytorch  1.3.1 cuda100py37h53c1284_0
visdom 0.1.8.9
ssh config with local forward port 8097

Server B: ubuntu 18.04  ---> I have a problem in "visdom -port 8098' after ssh Server B
pytorch  1.8.1 py3.7_cuda11.1_cudnn8.0.5_0
visdom 0.1.8.9
ssh config with local forward port 8098

[2021-05-10 07:58] yu675797450 opened #803 "NotImplementedError"
It's Alive!
Traceback (most recent call last):
  File "E:\Anaconda\lib\runpy.py", line 194, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "E:\Anaconda\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "E:\Anaconda\lib\site-packages\visdom\server.py", line 1922, in <module>
    download_scripts_and_run()
  File "E:\Anaconda\lib\site-packages\visd

[2021-05-10 13:01] vadimkantorov opened #804 "visdom.images: problems with aspect ratio when plotting a grid of images"
I'm calling `visdom.images` with a tensor of shape `2x3x224x224` and `nrow=2`. I'd like it to stack two square images in a row. Instead it stacks them such that all images fill in a single square destroying original aspect ratio of individual images. I also could not find an option for images to fill the window horizontally.

![image](https://user-images.githubusercontent.com/1041752/117662866-555

[2021-05-10 13:08] vadimkantorov commented on #804
It seems that one has to refresh the webpage to have it right

[2021-05-10 15:50] yu675797450 commented on #803
Python 3.8.3

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Jack ***@***.***&gt;;
发送时间: 2021年5月10日(星期一) 晚上9:32
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [fossasia/visdom] NotImplementedError (#803)

What version of Python are you using here? Please provide more context - following the issue template.

—
You are receiving this because you authored the thread.

[2021-05-10 15:51] yu675797450 commented on #803
thank you for the great tool

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Jack ***@***.***&gt;;
发送时间: 2021年5月10日(星期一) 晚上9:32
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [fossasia/visdom] NotImplementedError (#803)

What version of Python are you using here? Please provide more context - following the issue template.

—
You are receiving this because you autho

[2021-05-10 21:17] JackUrb commented on #801
Can you try explicitly running `server.py` (`python server.py -port 8098`)? The code that should pull this argument in is here:
https://github.com/fossasia/visdom/blob/master/py/visdom/server.py#L1799-L1801
And then use it here:
https://github.com/fossasia/visdom/blob/master/py/visdom/server.py#L1780

[2021-05-10 21:22] JackUrb commented on #602
Agreed - I'd be happy to accept a PR that makes this change! Code pointers in the discussion above.

[2021-05-10 22:11] JackUrb commented on #804
This is a strange one, I don't really have good intuition as to why this surfaces. Does resizing the pane not cause the same kind of fix that refreshing the page does? It's strange, as the rendering method shouldn't change between the two situations, and the backend data definitely doesn't change either.

[2021-05-13 08:21] SuperRui41 commented on #740
I meet the same problem. Could you tell me how do you solve it ? I need help,please.

[2021-05-13 10:41] RitikaAg commented on #419
I tried following you method by hosting my localhost through ngrok and pasting the url generated by ngrok inside visdom.Visdom(), but I'm getting an error: Visdom python client failed to establish socket to get messages from the server. This feature is optional and can be disabled by initializing Visdom with `use_incoming_socket=False`

[2021-05-13 16:04] JackUrb commented on #740
@SuperRui41 you should ensure your script only initializes `visdom.Visdom()` once.

[2021-05-15 02:52] jmandivarapu1 commented on #419
try keeping the ip address of the system and open port. Check if it is working in incognito mode.

[2021-05-23 08:08] dizcza opened #805 "NetworkX/Graphviz/DOT integration"
**Is your feature request related to a problem? Please describe.**
I'd like to visualize a (NetworkX) graph in Visdom.

**Describe the solution you'd like**
A function `vis.graph` that takes a NetworkX graph or a more abstract structure as a dict of nodes and edges and plots it.

**Describe alternatives you've considered**
* `graphviz` graph rendered in a SVG string (it works, this is my current b

[2021-05-24 04:29] neverstopZyy commented on #111
Hi! I get into the same trouble. Could you please tell me how to find some offline downloaded static folder to replace the online one?

[2021-06-05 19:21] dizcza opened #806 "store_history for scatter and line plots"
I'd like to have the `store_history` option in all visdom plots as it's currently done in the `viz.image` function.

Let's start with scatter and line plots.

Two approaches:
1. Borrow the slider routine from ImagePane.js into PlotPane.js.
2. A call to plotly with the `_send` API with a payload as in the [plotly slider example](https://plotly.com/python/sliders/).

[2021-06-13 22:13] ambersTail commented on #803
Is this issue solved?? I run into the same error.

[2021-06-14 15:23] JackUrb commented on #803
This seems to be a strange interaction with `tornado` and `asyncio` in Python 3.8 specifically in windows. Some documentation can be found here: https://github.com/tornadoweb/tornado/issues/2608. I'm happy to accept an implementation of this solution: https://github.com/tornadoweb/tornado/issues/2751#issuecomment-594460695 in our `server.py` to resolve this for windows.

[2021-06-14 15:27] ambersTail commented on #803
Thanks for the reply! Problem solved!

Regards,
Amber

On Mon, Jun 14, 2021 at 9:23 AM Jack Urbanek ***@***.***>
wrote:

[2021-07-02 12:25] LyuYuxin opened #808 "How can I make Chinese texts displayed correctly rather than messy code?"
When I want to display a Chinese text it shows like this.
Use this to open other questions or issues, and provide context here.
![QQ截图20210702202116](https://user-images.githubusercontent.com/39041262/124274015-5644bf00-db73-11eb-9b84-b00f78c5d4c8.png)
Is this some kind of config error?
What should I do ?

[2021-07-05 09:23] HLBayes commented on #111
maybe you need to update a newer version of visdom package.

[2021-07-08 07:35] hei6775 opened #809 "columnnames or xticklabels not work for line"
Hello, I am newer in Visdom. I want to change the xticklabels.
[code]
If I change the `columnnames` to `xticklabels`, but nothing seems to have changed
But not work. What should I do?

[2021-07-08 15:19] JackUrb commented on #809
I suspect in order to properly use `xticklabels`, you'll also need to provide `xtickvals`, but I'm not entirely sure. We [transform](https://github.com/fossasia/visdom/blob/e0a912d39f88e637f483c229c0fbf3d4da119ac5/py/visdom/__init__.py#L150-L166) incoming arguments to try to conform to the [plotly standard](https://plotly.com/javascript/tick-formatting/).

[2021-07-09 02:51] hei6775 commented on #809
Yes, you are right. After I tried to add `xtickvals`, it works!!
[code]
Thanks for your response!!

[2021-07-09 02:51] #809 closed

[2021-07-11 07:45] Psycoy commented on #484
@JackUrb
So basically I am running the python -m visdom.server and demo.py on two panes of tmux on the server. I first ran python -m visdom.server and then run the demo.py, while it reports the same Connection error. Do you know what is happening?

[2021-07-21 01:31] sekigh commented on #801
Sorry for late response! I just read your message. I already tried visdom -port 8098 from server B again and succeeded in connection! Thank you.

[2021-07-21 01:44] #801 closed

[2021-07-28 02:31] theshy456 opened #810 "AssertionError: name should not be specified with multiple labels or lines"
AssertionError                            Traceback (most recent call last)
<ipython-input-1-a6b8f8c88f14> in <module>
    335 # start
    336 if __name__ == '__main__':
--> 337     main()

<ipython-input-1-a6b8f8c88f14> in main()
     72     solver = Solver(args)
     73     start_time = time.time()
---> 74     solver.run()
     75     end_time = time.time()
     76     print('time cost: {:.2f}mi

[2021-08-02 13:44] Azuresonance opened #811 "Installation using pip fails"
**Bug Description**
I am using an NVIDIA Jetson AGX Xavier, which is an ARMv8 platform.

If I ran `pip install visdom` with python3.6, I get the following error:
[code]
And the installation process will set stuck printing the above lines, looping on and on forever.

**Reproduction Steps**
1. Run `pip install visdom`
2. Get the above error

Alternatively,
1. Clone this repo
2. Run `pip install -e .

[2021-08-02 13:45] #811 closed

[2021-08-02 13:46] Azuresonance commented on #811
Not an issue with the package. Happens with everything. Closing.

[2021-08-02 13:51] Azuresonance commented on #811
For future referece, it works if you `export OPENBLAS_CORETYPE=ARMV8`.

[2021-08-20 16:47] pulkit10251 commented on #805
Hi dizca, I like to contribute to this issue. Can you please guide me through this issue!

[2021-08-21 12:34] dizcza commented on #805
@pulkit10251 glad to see that someone is willing to work on it.

## Regarding the Javascript part
The best approach, as for me, is the last one with the [link](https://ipython-books.github.io/64-visualizing-a-networkx-graph-in-the-notebook-with-d3js/) to an example with D3.js. If I knew Javascript, I'd implement it already. If you implement the basics like the core Javascript/D3.js code to plot a

[2021-08-28 23:39] pulkit10251 commented on #805
Hi @dizcza, I have created the first draft of the code. I have already created pull request #814 .
you can check this PR.
Also, I want to put forward some problems/requirements regarding this PR :
1.  It is interactive, But still needs to add functionality to zoom and other useful functions.
2. The python code still needs some changes related to "update" and "env".  I hope you will help 👍 .
3. Sti

[2021-08-31 13:58] jaredyam commented on #734
@JackUrb, I also got the blank blue screen, here is my logs:
[code]
Does these logs make any sense?

[2021-09-17 10:00] DavidBoja commented on #702
Any news on this?

Trying to run the code from @prclibo above:
[code]

i get:
`'win is not scatter, custom, image_history, embeddings, or text; was scatter3d'`

My workaround is to just merge the 3d points togeather and use one `viz.scatter` call, but I would like the option to interactively switch off one point cloud and the other.

[2021-09-17 17:58] AbhijithGanesh commented on #810
Can you please specify more about the issue you're facing? This is the error log shown by the compiler @theshy456

[2021-09-19 14:48] muhammadyaseen opened #818 "replay_log doesn't read the json file correctly"
**Bug Description**
The saved .json file is not read correctly when replaying the logs.

Platform: Win 10 (with cygwin), Python 3.9, Visdom.__version__ =  0.1.8.9

**Reproduction Steps**

1. Save the environment from Browser UI.
2. Use the following code to attempt replay

[code]

Throws the error
[code]

[lines_log.json.txt](https://github.com/fossasia/visdom/files/7192284/lines_log.json.txt)

**

[2021-09-19 15:06] muhammadyaseen commented on #818
For convenience, here's a preview of the structure of formatted version of the saved JSON log file.

![image](https://user-images.githubusercontent.com/4466271/133932420-3d6d6136-89b4-4368-8011-58be0146434f.png)

You can see the keys `jsons` and `reload`. These string values are assigned to `endpoint, msg` when `endpoint, msg = json.loads(entry)` is executed. I'm not sure what the correct schema o

[2021-10-01 10:02] muhammadyaseen commented on #818
I confued saving environment with saving logs.
You need to pass `log_to_filename` param starting a server and then use `replay_log(filename)` to restore the state.

[2021-10-01 10:02] #818 closed

[2021-10-03 09:10] yotamraz opened #819 "License iquiry"
I'm using visdom 0.1.8.9 installed on my conda environment. Not sure regarding the software license, is it distributed under Apache-2.0 as specified here, or is it CC BY 4.0 as specified in anaconda website?

[2021-10-15 04:14] KhandeKaustubh commented on #764
Yes,I'm ready to take this one.

[2021-10-15 19:15] JackUrb commented on #819
Hi @yotamraz - We've relicensed to Apache-2.0.

[2021-10-15 19:23] JackUrb commented on #764
Hi @KhandeKaustubh - If you want to investigate, the key code pointers for how click events work are:
Click events are registered to image panes here:
https://github.com/fossasia/visdom/blob/0027f170fd296e9576012133a7875486c2929060/js/ImagePane.js#L51
The event API is defined here where messages are sent:
https://github.com/fossasia/visdom/blob/0027f170fd296e9576012133a7875486c2929060/js/main.js#L

[2021-11-03 18:51] ath34-tech commented on #769
can anyone tell where is code for visdom python implementation or for creating box plot.
thank you

[2021-11-03 20:21] JackUrb commented on #704
Closed in #820

[2021-11-03 20:21] #704 closed

[2021-11-04 19:35] ath34-tech commented on #750
I have an idea, what if we made a cache or recovery folder which temporarily stores each plot's SVG, and on ending the session we will delete SVG from it!

[2021-11-04 19:51] JackUrb commented on #750
The panes are already stored in local storage of the server - we could instead of directly deleting them, move them to a "deleted" bucket that they could be restored from.

Instead of just popping `win` (as we do [here](https://github.com/fossasia/visdom/blob/06f9cb22fdc4da2cb74f65faf0d6ec64d89e03fc/py/visdom/server.py#L1079)) we could put it into an "undo" list (though we should cap the size of s

[2021-11-04 20:03] ath34-tech commented on #750
Yes that better,i think i can do this, let me try this problem!

[2021-11-04 20:05] ath34-tech commented on #750
Can you point where i can find code for the plot and other stuff of UI, I got confused between all JS files, if you can tell then it will be very easy for me to start the work.
Thank you!

[2021-11-04 20:07] JackUrb commented on #750
The previous link is to where the close events occur:
https://github.com/fossasia/visdom/blob/06f9cb22fdc4da2cb74f65faf0d6ec64d89e03fc/py/visdom/server.py#L1079
And I imagine you'd create a new button for undoing on the main toolbar:
https://github.com/fossasia/visdom/blob/master/js/main.js#L1612-L1644

[2021-11-04 20:11] JackUrb commented on #749
In offline mode, we don't even send anything to the frontend:
https://github.com/fossasia/visdom/blob/e0a912d39f88e637f483c229c0fbf3d4da119ac5/py/visdom/__init__.py#L680-L682
As such, in offline mode we'd probably need to be keeping track of a local env list to solve this problem. You could do so right in the above location, intercepting sends that are setting different `env`s.

[2021-11-04 20:16] ath34-tech commented on #749
Ya, I thought the same,  can you point what function is responsible for creating env?
I am thinking that whenever env is created we will add its data to the list and return that list. Or there is something that work different and I am still missing some point then please tell me.
Thank you!

[2021-11-04 20:18] JackUrb commented on #749
The local client doesn't do anything to create a new env, or create them itself, it has to do with the `env` value set by the time the `send` method is called. The server then creates an env.

[2021-11-05 08:33] ath34-tech commented on #749
Hey there,i manage to solve this issue, please check if it is right or wrong.
Thank you!

[2021-11-05 12:28] ath34-tech commented on #750
Help needed!!!!
how handler will be called from frontend?
sorry but I am got confused while reading the js code. a little guidance will help a lot.
thank you!

[2021-11-05 14:30] ath34-tech commented on #750
Hey I ,done most of part, now I am going to make an UndoHandler, I need help here.
I append "win" in undo list when plot is closed, i want to know that if i can recover closed plot just by "win" variable or not, if not then should i have to add some sort of data variable like:
[code]

[2021-11-05 15:05] ath34-tech commented on #750
One more alert!

UI is not updating, I am updating that file but UI is not updating, I found out there is one more main.js so that might be the reason, please look into this.

[2021-11-05 15:07] JackUrb commented on #750
Hi @ath34-tech - you can always try to see what is returned during the `pop` call yourself, adding a statement like
[code]

After the undo call, you'll need to restore `state` to the same place it was before, so you'll need both `win` and the contents of what is popped.

As far as the UI not updating, you need to run build on the UI to see changes: https://github.com/fossasia/visdom/blob/master/CO

[2021-11-05 18:08] ath34-tech commented on #750
Hey, which main.js file is being loaded?
if you check index.html then you will notice this https://github.com/fossasia/visdom/blob/master/py/visdom/static/js/main.js
file is being loaded. On opening this file it is very heavy and can't be edited.
so what should i do?

[2021-11-05 18:11] JackUrb commented on #750
More details about working with the UI are described in this section

[2021-11-05 18:15] ath34-tech commented on #750
I read whole, i think #734 is related to this, on updating UI i am getting blue screen.

[2021-11-05 19:57] ath34-tech commented on #700
Checkout my solution!

[2021-11-06 06:15] ath34-tech commented on #700
Hey @JackUrb ,please checkout my pull request,
Thank you!

[2021-11-06 17:54] ath34-tech commented on #763
I think this issue is resolved, maybe you should close it, and if it is not  resolve yet then please let me know what is expected behaviour.

[2021-11-06 19:49] ath34-tech commented on #700
Hey there,
I opened a pull request yesterday, want to know should I can make the layout customizable too or not?
thank you!
Please merge my PR if it is ok.

[2021-11-07 00:46] JackUrb commented on #700
Sorry, but I won't be reviewing things until Monday.

[2021-11-07 02:00] pabs3 opened #823 "Tag a new release since visdom is now under an open source license"
Since #759 was resolved by relicensing visdom under the Apache 2.0 license, there has not been a new release. Since the relicensing was a significant change there should probably be a new release.

The folks involved in that relicensing were @lvdmaaten @JackUrb @mariobehling @fossasia, hopefully they can share the status of a new release.

PS: I suggest the dependabot PRs be merged before the rele

[2021-11-08 10:47] ath34-tech commented on #734
did someone manage to solve this issue?
I am seeing blue screen whenever I am trying to contribute to UI, if you check line 58 of https://github.com/fossasia/visdom/blob/master/py/visdom/static/index.html then you will notice it is importing https://github.com/fossasia/visdom/blob/master/py/visdom/static/js/main.js not https://github.com/fossasia/visdom/blob/master/js/main.js.

On changing path fi

[2021-11-08 13:15] JackUrb commented on #734
If this is happening after a build, it's possible that your build failed for some reason. If you rerun, and check the console closely, are there any messages about errors at all?

[2021-11-08 13:43] ath34-tech commented on #734
same logs as @jaredyam

[2021-11-08 13:45] ath34-tech commented on #700
@JackUrb can you assign this issue to me, and review my PR so that I can work on other open issues.
Thank you!

[2021-11-08 14:05] JackUrb commented on #734
I'm referring to build errors when you're running the process to generate the bundle, not errors when trying to load it

[2021-11-08 17:25] ath34-tech commented on #734
Sorry for being late!
Here is what I got on running `npm run build` :
[code]

[2021-11-08 17:37] JackUrb commented on #734
Hm it seems the file was successfully emitted, so I'm not sure why you've changed the path - the file was emitted to `py/visdom/static/js/main.js`, not `/js/main.js`.

[2021-11-08 17:38] JackUrb commented on #763
@ath34-tech are you saying that the edit button currently does link to being able to edit a plot in plotly?

[2021-11-08 17:45] ath34-tech commented on #700
Thanks for assigning
 and please review the pull request too!

[2021-11-08 17:47] ath34-tech commented on #763
Yes right, if you see it is a link now which open in plotly where you can edit the graph.

[2021-11-08 17:54] JackUrb commented on #763
Confirmed - thanks for identifying @ath34-tech.

[2021-11-08 17:54] #763 closed

[2021-11-08 17:55] JackUrb commented on #753
Forgot to close this after the FOSSASIA transfer

[2021-11-08 17:55] #753 closed

[2021-11-09 17:55] ath34-tech commented on #734
Hey i solved my problem by running `npm audit fix`

[2021-11-09 17:58] JackUrb commented on #700
@ath34-tech Thanks for implementing this functionality!

[2021-11-09 17:58] #700 closed

[2021-11-09 18:01] ath34-tech commented on #795
Hey @JackUrb  if this issue is resolved then please close it. thank you!

[2021-11-09 18:03] ath34-tech commented on #750
Hey @JackUrb can you please assign this issue to me, I want to work on this now. thank you!

[2021-11-09 18:04] #795 closed

[2021-11-10 18:04] ath34-tech commented on #750
I tried to append the removed item from list in an `undo_list` but I think it is not appending anything in list.
Code for CloseHandler:
[code]

[2021-11-12 05:41] fmscole opened #825 "Issue running Visdom with Windows: `pwd` is not cross-platform"
**win10 visdom 0.1.8.9**
When I visit http://localhost:8097,follow the errors:
[code]

[2021-11-12 09:54] ahx-code commented on #419
Dear Jack, thanks for the solution.

The result of the `! cat url.txt` gives me multiple results.  Is it possible to reduce it to 1?

Regards

[2021-11-12 12:15] JackUrb commented on #825
Hi @fmscole, I don't believe we have robust windows support for visdom. The issue here is a request to find the current directory, using a Linux-specific command. I would certainly accept a PR to make it cross-platform though.

[2021-11-12 13:20] fmscole commented on #825
@JackUrb thanks！

[2021-11-12 13:21] #825 closed

[2021-11-12 18:35] ath34-tech commented on #749
hey @JackUrb , please review:https://github.com/fossasia/visdom/pull/824
thank you!

[2021-11-13 18:23] ath34-tech commented on #749
Hey @JackUrb I made changes to PR, please check them,
Thank you!

[2021-11-14 16:56] ath34-tech commented on #749
Hey @JackUrb , i formatted the code, please check if it is working.

[2021-11-15 17:56] ath34-tech commented on #749
Hey @JackUrb , please check my code on latest commit.

[2021-11-17 17:20] ath34-tech commented on #749
@JackUrb Please merge my PR.thank you

[2021-11-17 19:54] JackUrb commented on #419
It will store all of the URLs passed to it given the current setup, I believe you can use `lt --port 6006 > url.txt 2>&1 &` to replace the file.

[2021-11-18 10:32] ath34-tech commented on #749
Hey @JackUrb  i removed whitespaces , please merge my PR now.
Thank you

[2021-12-01 08:57] dizcza commented on #805
The first draft has been accepted. Other networkx-related feature requests should be raised in separate issues.

[2021-12-01 08:57] #805 closed

[2021-12-05 17:35] ath34-tech commented on #749
Hey @JackUrb please close this issue

[2021-12-05 18:35] #749 closed

[2021-12-09 19:08] daiqing98 opened #827 "[error 16] Device or resource busy"
![3DEA8892-EDC5-4ECF-9FE6-F07F64F9D488](https://user-images.githubusercontent.com/95208297/145459206-619e1e19-e134-45c4-a186-e2d0bf272731.png)

I am not sure if it is because there is something wrong with my code. I understand that I can set a larger ulimit value so that more files can remain open at the same time. But I wonder if it is necessary. My question is that, if there is a way that they a

[2021-12-09 21:17] JackUrb commented on #827
Visdom requires a server process running concurrently with your plotting process to enable live logging. I'm not quite sure this is a file limit issue - your visdom client is unable to connect to the server. Are you able to visit the server (localhost:8097) in your browser? Are there any issues printed in the server script when you're doing this?

[2021-12-09 23:28] daiqing98 commented on #827
Thanks for your reply.
<img width="983" alt="Snipaste_2021-12-09_18-20-56" src="https://user-images.githubusercontent.com/95208297/145491057-41f0b5e6-a02a-4bfd-ae36-16b62e035786.png">

Yes. I am able to visit it and it gives me the error during the training.
It also says "too many open files". When I set ulimit = 10000 instead of 1024, it can run for a longer time before it gives the error.

This

[2021-12-10 02:47] daiqing98 commented on #827
<img width="983" alt="Snipaste_2021-12-09_18-20-56" src="https://user-images.githubusercontent.com/95208297/145508420-18fc6005-41bf-42dd-b373-039ef33b1668.png">

Thanks for your reply.

Yes. I am able to visit it and it gives me the error during the training.
It also says "too many open files". When I set ulimit = 10000 instead of 1024, it can run for a longer time before it gives the error.

Here

[2021-12-10 15:21] JackUrb commented on #827
What's your `visualize_images` implementation? I suspect it may be leaving open file handles, as nothing here would lead to there being open files.

[2021-12-12 13:54] neuronphysics opened #828 "How can I setup Visdom on a remote server using slurm?"
I want to use `visdom` to visualize the results of my trained deep learning algorithm which has been running on a remote cluster server. First I am wondering whether I should use special command line to connect via `ssh` to the cluster or not to be able to see the visdom plots?

In my slurm script I used the following command line:
`python -u script.py --visdom_server "http://ncc1.clients.dur.ac.u

[2021-12-13 17:10] JackUrb commented on #828
Hi @neuronphysics, one way to manage this kind of setup is with an ssh tunnel, such that you can still log to `localhost` at the port you tunnel. This isn't required to get a remote server working, however it does make the semantics equivalent to if you run the server and the plotting script on the same machine.

That being said, it seems something isn't quite right with your underlying setup:
[co

[2021-12-23 14:46] ItayVortex commented on #685
is it planned to be implemented?

[2021-12-31 11:15] sudojarvis commented on #783
I would like to work on this issue.

[2022-01-05 16:38] JackUrb commented on #783
I'm unsure why we haven't followed through on this earlier. @elioqoshi if you're still interested, these designs look great to me. I'd probably go with the more rectangular one (as it's closer in form to plots, but the rounded corners are still nice aesthetically).

[2022-01-06 08:02] elioqoshi commented on #783
@JackUrb Thanks! Yeah I don't know what happened. @mariobehling asked me last year if I wanted to draft something up but then I never got a reply.

Anyway, I exported the 2nd logo for you in color, monochrome and horizontal and vertical versions as well :)

[Visdom Logo.zip](https://github.com/fossasia/visdom/files/7820306/Visdom.Logo.zip)

[2022-01-23 06:26] Krish-bhardwaj commented on #797
I am interested to fix this issue. I request you to allow me to fix it. can you assign me this issue

[2022-01-23 06:27] Krish-bhardwaj commented on #761
I am interested to fix this issue. I request you to allow me to fix it. can you assign me this issue

[2022-02-01 11:17] MounaSah commented on #479
Hello Shaneshbi,
Did you got a solution for your issue ?
I encountered the same problem :( Could you help me please!!

[2022-02-03 22:41] nileshkulkarni commented on #701
I think it might be related to HTTP  vs HTTPS. Please check that. Worked for me with HTTP but not with HTTPS.

[2022-02-04 12:49] MounaSah opened #830 "Can't open Visdom !!"
Hi,

When running Visdom using this command `!python -m visdom.server` I get :

**/usr/local/lib/python3.7/dist-packages/visdom/server.py:39: DeprecationWarning: zmq.eventloop.ioloop is deprecated in pyzmq 17. pyzmq now works with default tornado and asyncio eventloops.
  ioloop.install()  # Needs to happen before any tornado imports!
Checking for scripts.
Downloading scripts, this may take a litt

[2022-02-07 20:13] HarmanDotpy commented on #553
great comment!

[2022-03-04 18:18] JackUrb commented on #82
Fixed in #834

[2022-03-04 18:18] #82 closed

[2022-03-04 20:55] JackUrb commented on #568
Resolved in #839

[2022-03-04 20:55] #568 closed

[2022-03-23 21:37] #18 closed

[2022-04-03 09:32] zb12138 opened #847 "'axis equal' in visdom"
How to make x,y,z axis equal in the function 'vis.scatter'（3D）, which is equivalent to MATLAB command 'axis equal'？

[2022-04-03 09:39] zb12138 commented on #847
I set xtickmin=ytickmin=ztickmin (also xyztickmax) and it works.

[2022-04-03 09:39] #847 closed

[2022-04-10 13:17] tuyunbin commented on #553
Thanks, great solution.

[2022-05-02 13:38] cheekety commented on #808
This might be a UNICODE issue. Have you tried `encode('utf-8')` ?

[2022-06-02 06:57] tianyu06030020 commented on #701
maybe the visdom port is being used by other process,  find the process and kill it or change another free port

[2022-06-20 11:52] shalini-maiti commented on #735
Hello, I'm receiving this error when I try to call -
fig = px.scatter_3d()
fig1 = px.scatter_3d()
fig2 = px.line_3d()
fig = go.Figure(data=fig.data + fig1.data + fig2.data)
fig.update_layout(title=title)
image =
'vis._send({'data': [trace], 'layout': layout, 'win': 'mywin'})'

------
Alternatively, when I pass the figure object directly to
vis.plotlyplot(figure)

It simply does not plot anything.

[2022-06-27 05:38] Mahmood-Hussain opened #857 "AttributeError: module 'numpy' has no attribute 'asscalar'"
**Bug Description**
AttributeError: module 'numpy' has no attribute 'asscalar'
numpy 1.23.0
visdom-0.1.8.9

**Reproduction Steps**
Enter steps to reproduce the behavior:
using the latest version of NumPy and when plotting heatmap

**Expected behavior**
plot heatmap

**Screenshots**
![image](https://user-images.githubusercontent.com/31275645/175867187-06354473-4dc7-4c7b-a123-e836415dbd50.png)

[2022-07-17 16:29] da-h commented on #857
Hey there,

thanks for taking your time and submitting an issue. :)

Just looked into this and the error does not occur in the most recent visdom version.
Actually, I just checked the whole project for any occurrence of `asscalar` and it seems someone has already fixed all deprecations of this function.

Note, however, the most current version of visdom is not yet on pipy.org . (see #845 ).

Best,

[2022-07-18 02:05] Mahmood-Hussain commented on #857
Thank You for your response it is also solved for me.

[2022-07-18 02:05] #857 closed

[2022-07-30 06:22] kartikeyshaurya commented on #830
hey @MounaSah ,
Could you install once more by creating a fresh anaconda or conda  env(any virtual env) , and installing Visdom in that ,my guess is that somehow tornado is causing problem
So Try this approach once and let me know whether it is resolved or not ???

[2022-08-11 14:59] muranranv5 opened #859 "How do I use it on www.kaggle.com"

[2022-08-14 03:40] lixuanze commented on #174
I am facing the same issue, is anyone here got the things sorted out?

[2022-08-14 12:18] JackUrb commented on #174
@lixuanze please open a new issue and fill out the complete set of details, otherwise it is impossible to diagnose your problem.

[2022-08-27 15:54] hemantwasthere opened #860 "I would like to join this organisation"
Use this to open other questions or issues, and provide context here.

[2022-08-30 19:30] JackUrb commented on #860
You'll have to go through [fossasia](https://fossasia.org/) to join the underlying organization. If you're interested in contributing to the project though, feel free to check some of the available issues or open a PR.

[2022-08-30 19:30] #860 closed

[2022-08-30 20:00] hemantwasthere commented on #860
yeah what i have to do then @JackUrb

[2022-08-30 20:36] JackUrb commented on #860
For joining fossasia or contributing? For the former, I'm not 100% sure what their workflow is. For the latter, feel free to ask about any of the available issues, especially those tagged with `help wanted` and `fix proposed`.

[2022-08-31 12:05] hemantwasthere commented on #860
Okay, thanks @JackUrb 😊

[2022-09-01 15:05] shouldsee opened #861 "refactoring the data model to enable automatical saving"
**Is your feature request related to a problem? Please describe.**
Ex. I'm always frustrated when Visdom crashed and all my data lost. current solutions call `vis.save` to create json snapshots but this sounds expensive.

**Describe the solution you'd like**
- Automatically saving env data to disk on a incremental basis.. when I call `vis.scatter` to create a plot, the server writes the received d

[2022-09-01 17:45] JackUrb commented on #861
Hi @shouldsee - you may be interested in the [`log_to_filename`](https://github.com/fossasia/visdom#:~:text=log_to_filename%3A%20If%20not%20none%2C%20log%20all%20plotting%20and%20updating%20events%20to%20the%20given%20file%20(append%20mode)%20so%20that%20they%20can%20be%20replayed%20later%20using%20replay_log%20(default%3A%20None)) argument, which automatically logs all outgoing plots to a file su

[2022-09-02 05:19] shouldsee commented on #861
Sounds cool. This is essentially a transaction log stored to the file. I am more interested in the stateful persistent storage.

[2022-09-16 09:26] KarhouTam opened #865 "Install visdom without Internet connection"
I have used `pip install -e .` to install visdom itself through source code. However, visdom needs to download scripts additionally. And the target environment cannot connect to the Internet. What am I supposed to do to get through this?

[2022-09-17 08:05] da-h commented on #865
Hey there,

easiest solution is probably to execute the `download.sh` script and then push the downloads placed in `py/static` folder to the machine without internet.

I think there should be a message somewhere that suggests exactly that in the event that no internet connection is available.

Best,
*da-h*

[2022-09-17 08:57] KarhouTam commented on #865
I would try it. Thanks for your reply.

[2022-09-17 09:05] da-h commented on #865
I will add a PR for this feature as soon as the refactoring of the server is done. (See #858).

[2022-09-17 09:38] da-h commented on #859
Hey there,

there is unfortunately currently no native jupyter support for visdom.

As a starting point, you can however try to set it up using [jupyterhub/jupyter-server-proxy](https://github.com/jupyterhub/jupyter-server-proxy/).
**See also the duplicate issue #682, where possible problems are mentioned with this approach.**

In case something needs to change in visdom to make this approach poss

[2022-09-17 14:50] #865 closed

[2022-09-23 02:18] luokang6 opened #867 "Draw multiple subgraphs of histogram"
I want to draw multiple subgraphs (e.g., 3*3) of histogram with using vis.histogram.
Could it output a histogram with uing vis.histogram to plt.subplots(3, 3) for drawing multiple subgraphs (e.g., 3*3)?
Or Visdom comes with a function that draws multiple subgraphs of histogram ?

[2022-09-23 06:26] da-h commented on #867
Hey there,

something like matplotlib-subgraphs are currently not included in visdom.

The current way to go for multiple plots side-by-side is probably to either
* create multiple plots that are then placed near each other on the screen, or,
* add the 9 histograms into a single histogram-plot (see examples), or,
* create (vector-)images of the plot using tools like matplotlib and showing them usi

[2022-09-28 06:22] shouldsee opened #869 "[feat] event handler is shared across envs"
**Is your feature request related to a problem? Please describe.**
The supposed problem would be, if I have windows with the same name in different env, then accroding to event_handler, their events would cross-talk.

**Describe the solution you'd like**
change the event_handler to binds to a precise (env,win) pair.

**Describe alternatives you've considered**
na

**Additional context**

event mes

[2022-10-04 21:06] #823 closed

[2022-10-06 14:38] Snimm commented on #764
Is the issue solved?

[2022-10-06 16:00] da-h commented on #764
Hey, the current version (`master`-branch) should have working click events.
*There are at least recently cypress tests that check the function regularly.*

But, the current version (`0.2`) it is not on `pip`, yet.
However, it should not take long until this gets fixed (see #872).

[2022-10-09 07:42] shouldsee commented on #580
Maybe this is due to visdom suppressing the default callback within the window with preventDefaults?

[2022-10-11 10:57] Dracilem opened #874 "cannot run "python -m visdom.server""
The error is:

/usr/local/lib/python3.7/dist-packages/visdom/server.py:38: DeprecationWarning: zmq.eventloop.ioloop is deprecated in pyzmq 17. pyzmq now works with default tornado and asyncio eventloops.
  ioloop.install()  # Needs to happen before any tornado imports!
Checking for scripts.
Downloading scripts, this may take a little while
It's Alive!
Traceback (most recent call last):
  File "/us

[2022-10-14 10:52] da-h commented on #874
Hey there,
could you both check if you run the most recent version, `0.2.1`?
- The errors show different line numbers here than where these lines currently are in the code.
- Also, the current implementation should have tried to create the required paths before their use.

[2022-10-14 10:58] Ctozzzzz commented on #874
I have the same problem. I've checked the version of visdom. It's 0.2.1, but it still couldn't work.

[2022-10-14 11:01] da-h commented on #874
PS: I just saw that conda-forge does not use the most recent version, yet.

See:
* https://anaconda.org/conda-forge/visdom
* https://github.com/conda-forge/visdom-feedstock/pull/14

[2022-10-14 11:17] da-h commented on #874
**Long-Term Solution**:
It is probably best to give a better message about what to do in such a case. I'm willing to add a PR for this. However, I think it is best to wait for #858 to be merged or postponed before working further on the server code. However, I'll add this to my personal todo-list.

----

**To solve the problem directly**:
- you can either specify the `env_path` folder you would li

[2022-10-14 11:29] da-h opened #875 "Create `env_path` if it does not exist or give instructions what to do."
**Is your feature request related to a problem? Please describe.**
In case one specifies a env-path that does not exist, for instance, `visdom -env_path /tmp/doesnotexist`, visdom exits with a `FileNotFoundError`-Exception.
[code]

I suggest to let visdom try to create the specified folder first.
This problem occurs also when some users run the project in an environment, where the `DEFAULT_ENV_PAT

[2022-10-14 16:22] JackUrb commented on #875
Automatically creating the folder is definitely the right call. I'm surprised we overlooked it the first time around here.

[2022-10-15 04:13] huangjin520 commented on #874
I have solved the same problem by changing the version of the Visdom--v 0.1.8.9. Maybe the last version is instability.

[2022-10-16 14:42] shouldsee opened #876 "[bug]firefox client crashed. Something went wrong with axis scaling"
**Bug Description**
Some illegal axis scaling crashed the react. Other envs are fine

**Reproduction Steps**
Run some local scripts with very large heatmap?

**Expected behavior**
At least let's keep the react env alive?

**Screenshots**
NA

**Client logs:**

console from my firefox browser

[code]

**Server logs:**
Not much

**Additional context**
Add any other context about the problem here. (li

[2022-10-16 15:35] da-h commented on #874
short question @huangjin520: which version did work for you?

I quickly checked the versions back to `0.1.8.4` but could not find a version where `visdom -env_path /tmp/nonexistent` would not yield an error.

[2022-10-16 15:43] da-h commented on #876
Hey there,

can you give some more details on the scenario you have used?
* Which version are you using?
* Can you give a specific python-example that reproduces this crash? This could help to nail down where the bug is.

Best,
*da-h*

[2022-10-17 03:18] huangjin520 commented on #874
`0.1.8.9`  works normally for my system.

[2022-10-17 17:42] JackUrb commented on #869
This is an interesting discussion, as the current callback functionality is definitely limited. I think your second thought direction is likely more compelling, as this opens up Visdom towards a model of having remote procedure calls. Still, it's also more complicated as choosing what actions to register for frontend windows is somewhat unclear.

Ultimately I'd be happy to accept either solution t

[2022-10-19 13:02] shouldsee commented on #869
Hi jack thanks for reading. I am currently using the second-thought solution, using "target" as pointer to backend-registered callback, which is working fine so far, with the frontend message sent through the following line of js-hacker.

[code]

I am currently heavily using `vis.text` to create custom html window with js-hacker callback func and it's working like a charm so far. Definitely worth

[2022-10-19 13:05] shouldsee commented on #876
which version do you suggest I use for reproducing the error?

[2022-10-19 17:24] da-h commented on #876
Easiest for me would be the most recent version with an example, i.e. `0.2.1` together with a minimal python script that lets the firefox client crash so I can look into this in more detail.

[2022-10-20 09:13] bhavanap12 opened #878 "Not able to load latest visdom 0.2.2 module"
By installing the latest visdom 0.2.2 using pip, loading the module raises an error.
**ModuleNotFoundError: no module names 'visdom.utils'**

Steps to reproduce
1. pip install visdom==0.2.2
2. python3 -c "import visdom"

**Expected behavior**
Clean load of visdom module

[2022-10-20 11:02] da-h commented on #878
Hey there, thanks for pointing this out! :)

Did some refactoring recently, but this one should be easy to fix, see the PR linked above.

[2022-10-21 01:58] XuRainbow opened #882 "cannot run "python -m visdom.server".ModuleNotFoundError: No module named 'visdom.utils'"
When I installed visdom (0.2.2), I could not run "python -m visdom.server".
The error is:

I removed it and installed visdom(0.2.1) and it worked.

[2022-10-21 02:09] #882 closed

[2022-10-21 16:01] da-h commented on #878
Hi, could you please check the most recent release of visdom `0.2.3`?

[2022-10-21 16:02] #875 closed

[2022-10-21 16:03] da-h commented on #874
Hi, there has been a new release today that should fix this error.
Feel free to check the most recent release of visdom `0.2.3`.

[2022-10-23 08:49] DakotaFan opened #884 "Error: root initializing-- Visdom does not show graphs, only has a weird blank table"
**Bug Description**

after initializing visdom using python -m visdom.server -port ${port} --hostname ${node}
ERROR:root:initializing
INFO:root:Application Started
INFO:root:Working directory: /gpfs/scratch/fanj06/visdom_cache

**Reproduction Steps**
Enter steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Give a clear an

[2022-10-23 19:22] da-h commented on #884
Hi there,

the table shows the selected environments to be compared: in your case its `main` and `torch-env_train_perc_100_0_expansion_0`.
As `main` is probably empty, there are no graphs to be compared.
If you remove `main` from the environment list in the input-line above, you should see the graphs of the one single environment `torch-env_train_perc_100_0_expansion_0` that probably does contain

[2022-10-28 22:32] da-h opened #887 "Removing Envs is buggy"
**Bug Description**
1. When removing an `env` in the "Environment Management Modal" visdom will crash if the `env` has not been saved explicitly.
2. Removing an active `env` results in a state where no `env` is selected, but all windows of the removed `env` are still visible.

As a side note: One could put the `os.remove` into a `try`/`catch`-block, but with the second issue above, it seems this s

[2022-11-24 15:09] omid-ghozatlou commented on #268
I got this error and the output of print(dir(visdom)) :
['__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__']