[2017-03-17 02:54] mehdi-shiba opened #6 "Stem plot doesn't show (on python)"
Hi all and thanks for the great work on this library.
I am still getting familiarized with the API using the Python demo code, but I am having problem getting the stem plot to work.
I am using the exact code from `demo.py`:
[code]
But nothing shows up on the client. There is no output error either (running on iPython the result from running that black is `u'pane_34ecea25d1...` so it seems to be co

[2017-03-17 03:07] j-min commented on #6
same here with python 3.6

[2017-03-17 03:10] mehdi-shiba opened #7 "Append on Visdom.line expect different data format"
Thanks again for the great library.
I was trying the python example code, and it seems to me there's a problem with the input data format in the following block:
[code]
When creating the line plot, the two series of data are stacked as columns, such as every Nth row of X contains Nth value of all the series.
But using the same format for updating the plot (with `update='append') doesn't work. The

[2017-03-17 06:18] tengr opened #8 "Feature Request: pie chart?"
awesome library btw

[2017-03-17 06:34] alexanderkoller opened #9 "Problems executing example code"
Hi,

thanks for a really cool-looking library!

I'm having trouble running the demo code, using an Anaconda distribution of Python 3.5 on macOS Sierra. I installed Visdom using "pip install visdom".

Here's the example code from your README:

[code]

When the `vis.text` call is executed, the following error message appears in the "python -m visdom.server" process:

[code]

Nothing appears in the b

[2017-03-17 08:00] lantiga commented on #9
These issues should have been fixed in master. Try cloning the repository, running 'python setup.py install' and running the demo again.

[2017-03-17 08:42] junhocho opened #11 "Python example works but not lua"
installed as required but found lua examples are not working

[code]

But python code works fine and can see in port 8097.

[2017-03-17 09:02] alexanderkoller commented on #9
Thanks, this works!

[2017-03-17 09:02] #9 closed

[2017-03-17 09:19] onlytailei opened #12 "HTTPConnectionPool for python"
When I try
[code]
I got this:
[code]
Actually the first time I launched the web successfully. But after that it cannot work anymore even I restart the computer.

[2017-03-17 09:22] onlytailei commented on #12
Sorry... Forget to start the server....

[2017-03-17 09:22] #12 closed

[2017-03-17 09:41] ludc opened #13 "TypeError: Bytes instead of String.... No plot"
Hi,

 I am trying to use Visdom with python 3.5. Each time I try to plot something, I obtain the following error (on, the server side ):

[code]

Moreover, when plotting image, I have the error ```TypeError: string argument expected, got 'bytes'```on the client side -- I suppose it is a problem with the filename (line 479 in ```_save```, file ImageFile.py)

[2017-03-17 11:15] pokey opened #16 "Issue with pip install -e ."
When I try to install visdom for local development, I get the following error when running `example/demo.py`:

[code]

When I rename the directory `py` to `visdom`, this error goes away.

[2017-03-17 11:32] elanmart commented on #13
@ludc Are you using `pip`? I've had similar error, seems it is fixed on `master` now.

[2017-03-17 11:39] ludc commented on #13
Yes. I submitted a fix one hour ago.. I suppose it is related to my version of python...

[2017-03-17 11:57] lvdmaaten commented on #8
It is not implemented right now, but Plotly does support pie charts so it should be very easy to expose this functionality in the Lua and Python clients.

https://plot.ly/python/pie-charts/

[2017-03-17 12:44] tengr commented on #8
Thanks!

Our requirement is a drill-down pie chart, something like this http://www.highcharts.com/demo/pie-drilldown Unfortunately I don't think we can use visdom for our visualisation for now. It would be nice if there's a feature like this so that we don't have to pipe the nested json to another javascript library. Probably not a common use case though.

[2017-03-17 15:19] boyhero commented on #13
Has this been fixed? Should we reinstall without using pip?

[2017-03-17 15:34] mencattini opened #17 "update='append' add line"
I have this two lines:
![ema1](https://cloud.githubusercontent.com/assets/16821049/24050461/29f054fa-0b2f-11e7-9e12-cae8e2b32fb0.png)
![ema2](https://cloud.githubusercontent.com/assets/16821049/24050466/2dcdd5de-0b2f-11e7-9639-0dfd30dd5d09.png)

I try to plot them together with:
[code]
And I get this plot:
![ema3](https://cloud.githubusercontent.com/assets/16821049/24050554/77c6e5e0-0b2f-11e7-96b6

[2017-03-17 16:01] ludc commented on #13
I don't think so, but you can take my version until the merge github.com/ludc/visdom

[2017-03-17 16:11] cwkx opened #18 "Feature Request: Improved line plotting functions with interactive smoothing"
I think it would be good if it could support better line plotting like with tensorboards writer.add_summary summary.scalar:

1) append single data points at a time
2) interactive smoothing slider for line plots ( e.g. with https://plot.ly/python/slider-widget/ )
3) transparent view of non-smoothed data
4) error envelopes ( https://plot.ly/python/continuous-error-bars )
5) logging of relative/wall

[2017-03-17 17:15] lvdmaaten commented on #17
The `append` option adds new values to the existing lines, but cannot currently be used to add new lines. What is happening in your example is that the data is treated as a single line; hence the "jump" when you go from the first to the second line.

At this point, I think your best option is to create a new plot:
[code]
We're looking into fixing this issue in a more principled way; thanks for rep

[2017-03-17 17:19] lvdmaaten commented on #11
Are you sure the server name (`localhost`?) and port (8097?) you used to initialize the Lua client are correct?

I cannot reproduce this issue: the Lua and Python client both appear to work fine for me (I can even use both with the same server simultaneously).

[2017-03-17 17:25] mencattini commented on #17
Your solution works.
Thanks for the solution and the answer.

[2017-03-17 17:25] #17 closed

[2017-03-17 17:31] elanmart opened #19 "Feature Request:"

[2017-03-17 17:31] #19 closed

[2017-03-17 17:34] lvdmaaten commented on #16
I can reproduce this behavior. It appears to be a `pip` issue: https://github.com/pypa/pip/issues/3

We will look into how we can solve this more elegantly (but for now, your work-around seems to work).

[2017-03-17 17:37] elanmart opened #20 "Feature Request: update text pane"
Hi,
sometimes it's useful to send some textual data from the model in regular intervals. As far as I understand, right now we can only replace text in the window with something new, but we cannot append.

I can easily monkey-patch it by adding the following to `UpdateHandler` and modifying `css` to display newlines, but I don't know how to do this properly.
[code]

[2017-03-17 17:41] lvdmaaten commented on #6
The equivalent code in Lua works correctly:
[code]
I'm looking into the Python wrapper to see what is happening.

[2017-03-17 18:42] ajabri commented on #16
Note that you can also do:
[code]

[2017-03-17 19:58] lvdmaaten commented on #6
The underlying issue is that the data generated by the stem plot creates NaNs, which aren't turned into `null` by the JSON decoder. I will send out a fix soon.

[2017-03-17 21:00] FlorianFranzen commented on #13
@ludc Thank you, your patch fixes the error for me:
[code]

[2017-03-17 21:38] lvdmaaten commented on #6
Solved by https://github.com/facebookresearch/visdom/commit/930f7802e5214535da1cf46b01b961313813e1c4.

[2017-03-17 21:38] #6 closed

[2017-03-17 21:49] lvdmaaten commented on #20
The most logical way would be to add an `update` option to the Python and Lua implements of `text()`. If `update` is set to `True`, the `UpdateHandler` should be called instead. Here's an example of how to send a request to the `UpdateHandler`: https://github.com/facebookresearch/visdom/blob/master/py/__init__.py#L306-L315

In the `UpdateHandler`, you would have to check that the `type` of the req

[2017-03-18 01:01] SSeanHsu commented on #11
I got the same question. Python code works fine, but not lua

[2017-03-18 01:08] SSeanHsu commented on #11
@lvdmaaten I type `python -m visdom.server` to star server. After that I open a new terminal typing `th example/demo2.lua`. But I got nothing but infinite `visdom http request failed: host or service not provided, or not known`

[2017-03-18 04:34] vanzytay opened #21 "rownames/column names automatically removing identical items in list"
Hi,

I was wondering if there is anyway to allow the labels on the xaxis or yaxis (column names or rownames) to show duplicated items. I am trying to visualize a sentence via the heatmap and all my pad tokens are converted to a single pad token which changes the alignment.

Thanks!

[2017-03-18 14:46] lvdmaaten commented on #8
Closed by https://github.com/facebookresearch/visdom/commit/91105e40bd0f71ba64e4bd6c21f1fcf2b8a0ac1b.

[2017-03-18 14:46] #8 closed

[2017-03-19 20:22] ajabri commented on #13
Solved by #14.

[2017-03-19 20:22] #13 closed

[2017-03-19 20:26] #16 closed

[2017-03-19 20:31] #7 closed

[2017-03-19 23:31] lvdmaaten commented on #21
I have been looking into this, and it appears that this is a "feature" of Plotly.

I used the following test code:
[code]

Looking at the message that is being broadcast at https://github.com/facebookresearch/visdom/blob/master/py/server.py#L220 (`p`), everything still appears to be fine:
[code]

Which suggests this must be happening in the rendering. Indeed, others appear to have observed the sam

[2017-03-19 23:51] tachim opened #25 "interactive features?"
Hi, are there any plans to include interactive features like sliders?

[2017-03-20 00:16] ajabri commented on #25
Hi @tachim,

Thanks for your post! Can you provide an example of 'sliders'? In general, we're looking forward to plugging in various visualization APIs into visdom.

[2017-03-20 00:26] tachim commented on #25
Hi @ajabri, I'm referring to visualizations like these: https://nbviewer.jupyter.org/gist/jackparmer/239c00f721097deb11fd. Not high priority at all, just a thought.

[2017-03-20 09:43] hashbangCoder opened #26 "How to specify the env for a figure?"
I couldn't find a suitable option for the `vis.Visdom()` object.

[2017-03-20 15:01] ajabri commented on #26
Hi @hashbangCoder,

The `env` parameter is specified with the figure call, not the creation of the visdom client, e.g:

[code]

[2017-03-20 15:03] #26 closed

[2017-03-20 21:06] fernavid opened #28 "Feature request: Plugin Templates"
I was thinking something that could be useful would be to expose an API that allowed contributors to easily build custom plotting functions.

I could imagine many common use cases where you take some data input, and let the plugin seamlessly transform it into a graph. As an example, imagine a plugin that simply takes predictions and class labels and pushes live updates to an ROC curve after every

[2017-03-20 23:45] ajabri commented on #28
Hi @fernavid ,

Thanks for your post. That's definitely something we want to support going forward. One potential method could be to add some sort of 'HTMLPane' that can render any js/html passed to it. Other than that, what you describes seems to be simply having (more sophisticated) reusable plot functions. Am I understanding correctly?

[2017-03-21 08:56] zuoxingdong opened #29 "Feature Request: Animation of sequences of images"
Sometimes we would like to visualize the evolution of feature maps or kernels. It is interesting to be able to produce an animation given the sequence of such images over time.

[2017-03-21 09:17] simopal6 opened #30 "Feature request: support to Pytorch tensors"
Currently I have to convert Pytorch tensors to numpy (and reorder the color channels). It's no big deal, but it would be nice not to have to do it :)

[2017-03-21 13:50] ajabri commented on #29
Good idea!

[2017-03-21 14:32] simopal6 opened #31 "Plotting a single point with line() doesn't work"
When `X` is a single point, squeezing it (https://github.com/facebookresearch/visdom/blob/master/py/__init__.py#L441-L442) causes it to have `ndim == 0`, which contradicts the assertion.

[2017-03-21 15:39] jihunchoi opened #32 "Cannot save the environment if it contains slashes"
Hi, thank you for the great software first!

I am really enjoying using the software, however I found some trivial bugs that occur in corner cases.
When I try to save an environment which contains slashes, for example "model_1/dim100", it cannot save the environment and makes some unhappy side effects.
If I save it programmatically, for example `vis.save([env_name])`, the server makes error logs o

[2017-03-21 15:57] ajabri commented on #32
Hi @jihunchoi , thanks for your post! You're right, and it sounds like 2 is a good solution. Since the change is pretty simple, want to submit a pull request?

[2017-03-21 16:01] jihunchoi commented on #32
Yup, I will send a PR within 24 hours.

[2017-03-21 19:23] zuoxingdong opened #34 "Feature Request: Grid of multiple images"
It is often useful to plot multiple images in a grid, for comparison need. It shall be very good if Visdom adds this functionality, e.g. PyTorch has this [make_grid](https://github.com/pytorch/vision/blob/master/torchvision/utils.py) function which is nice. Hopefully it can be improved a bit and integrated into Visdom.

[2017-03-21 20:20] ajabri commented on #34
Hi @zuoxingdong ,

Yes, definitely. In torch-image, you have `image.toDisplayTensor`. We originally thought that people make such grids in their own code before calling `vis.image`, but we can add it if you think it's useful. Want to submit a pull request?

[2017-03-21 20:40] jan-matthis opened #35 "Feature request: Formatting for text()"
Currently, there does not seem to be a way of getting line breaks in text boxes (?).

More generally, it would be great if text boxes would support formatting rather than interpreting the content as `text/plain` -- to get text in bold or italic, lists, et cetera. Possibly, a quick and flexible solution would be to interpret the content as html.

[2017-03-21 20:42] zuoxingdong commented on #34
Hi @ajabri , I am happy to work on it during next few days. Do you suggest to make it as a new API, e.g. `vis.image_grid(tensor, nrow, padding)`,

or put it as a flag with same API , `vis.image(img, )` to make everything internally, to check
1. if it is 3D tensor, then use original source code.
2. If it is 4D tensor, then make a grid that mimics the functionality in torchvision `make_grid`

[2017-03-21 21:50] ajabri commented on #34
Both sound reasonable. You can also make `vis.images(tensor, ...)` that makes the grid and then calls `vis.image(img, )`.

[2017-03-22 02:03] ajabri commented on #35
#35

[2017-03-22 02:03] #35 closed

[2017-03-23 00:53] lvdmaaten commented on #29
I'm working on a PR for this.

[2017-03-23 05:37] SSeanHsu commented on #11
@junhocho Did you succeed?

[2017-03-23 07:05] bongmo commented on #11
I solved this problem by adding 'vis.ipv6 = false' after initialization.

[2017-03-23 10:31] junhocho commented on #11
Sorry still not working. Uninstalled and installed again, not still working. Maybe I should try more. Also can not understand @bongmo 's solution.

[2017-03-23 10:40] junhocho commented on #11
I just tried another 2 linux machines. Same failure
[code]

[2017-03-23 10:58] SSeanHsu commented on #11
@bongmo Still not working. But I am pleasant to see guys working on it.

[2017-03-23 13:05] DmitryUlyanov opened #38 "Feature requests: default env and let win to be set from the start"
Hello, first thank you for maintaining this project, it is wonderful (and did not fail for me so far).

1) Now you must specify `env` for each visualization you create. But I assume a lot of people use only one `env` per script (for example each `env` corresponds to an experiment and you plot a lot of things for it). So I would love to set `env` once and then pass `viz` object wherever I want (now

[2017-03-23 13:48] ajabri commented on #38
Hi @DmitryUlyanov ,

Thanks for your post.

For (1), I think we can just add a `default_env` parameter to the visdom client constructor (for now default env is hard coded to `main`).

For (2), you should actually be able to specify `win` for every plot... Have you tried this? This is the usual use-case and it should work.

[2017-03-23 14:03] DmitryUlyanov commented on #38
Hi @ajabri, I tried to pass 0,1,2 .. as `win` variable, but the plots did not appear. Do I missing something?

[2017-03-23 14:37] ajabri commented on #38
Hm, it does indeed look like giving an integer `win` variable fails. For now, can you cast `win` to a string? I can fix this later today. Feel free to submit a pull request too.

[2017-03-23 14:56] bongmo commented on #11
@junhocho @SSeanHsu Would you please test following code? and I made ~/.ssh/config file with LocalForward 127.0.0.1:8097 127.0.0.1:8097

require 'image'
vis = require 'visdom'()
vis.ipv6 = false -- in my case vis.ipv6 was true
vis:text{text = 'Hello, world!'}
vis:image{img = image.fabio()}

[2017-03-23 16:43] SSeanHsu commented on #11
@bongmo Awesome! Your code works. Thanks a lot.

[2017-03-23 17:05] #32 closed

[2017-03-23 17:26] dmitriy-serdyuk opened #39 "Line update doesn't update in some cases"
Something strange happens when I try to update a line plot with several lines. It just does not update in some cases, I created a minimal example:

[code]

It produces only a single point at `(1, 2)`:
![screen shot 2017-03-23 at 1 11 50 pm](https://cloud.githubusercontent.com/assets/2872615/24260814/6dd9bea4-0fcb-11e7-9f6b-e8726e794f93.png)

I had to use NaNs to mitigate the issue #31.

[2017-03-23 17:47] lvdmaaten commented on #11
I updated the `README.md` accordingly: https://github.com/facebookresearch/visdom/commit/feb3bd847635c0e0bbc47f2a9909fe7711607bc6

Closing this issue for now. Feel free to re-open it if the work-around does not work for you.

[2017-03-23 17:47] #11 closed

[2017-03-24 05:06] ajabri commented on #38
I fixed this, will land tomorrow.

[2017-03-24 05:09] ajabri commented on #30
Solved in commit f490fc2.

[2017-03-24 05:09] #30 closed

[2017-03-24 06:00] DmitryUlyanov commented on #38
Thanks!

[2017-03-24 06:17] cympfh opened #40 "Feature Request: support datetime fot tics"
![test](https://cloud.githubusercontent.com/assets/2749629/24282777/0ba5dc24-10a5-11e7-81a1-f8c22319d596.png)

[2017-03-24 14:25] ajabri commented on #38
Solved by commit ee4087a.

[2017-03-24 14:25] #38 closed

[2017-03-24 16:44] #31 closed

[2017-03-24 16:44] #39 closed

[2017-03-24 20:14] lvdmaaten commented on #21
Tracking this further here: https://github.com/plotly/plotly.js/issues/1516

[2017-03-24 20:50] lvdmaaten commented on #21
I haven't tested it, but https://github.com/plotly/plotly.js/issues/1516#issuecomment-289136644 suggests the plot will render okay when you use `columnnames = {'d', 'd '}`.

[2017-03-25 13:18] lvdmaaten commented on #29
Implemented by https://github.com/facebookresearch/visdom/commit/f00207e35680e97414f8e672d3eab63589ad8303.

[2017-03-25 13:18] #29 closed

[2017-03-25 21:12] ypxie opened #43 "update heatmap in the same panel"
How to update the image content?

[2017-03-25 21:22] lvdmaaten commented on #43
Maybe I misunderstand your question, but doesn't something like this work for you?

[code]

[2017-03-25 21:27] ypxie commented on #43
Thank you.
I mean I need to update the image being displayed in a certain window.
Could you give a python example?

[2017-03-25 21:29] lvdmaaten commented on #43
In Python it is the same. Each plot function returns a window handle and takes as input an optional window handle `win` that can be used to overwrite the content of the corresponding window.

[2017-03-25 21:32] ypxie commented on #43
Thank you!

[2017-03-25 21:32] #43 closed

[2017-03-26 02:21] ypxie opened #44 "Is there near plan to add more documents?"
Great tools!
and I have several questions.
how to create different visdom workspace programmingly?
Is it possible to make the following code work if the window 'loss' has not been initiated before. It's quite inconvenient if I have to create every window first using some dammy data and then update it.
[code]

Thank you~

[2017-03-26 15:07] lvdmaaten commented on #44
The `win` handle should exist if you specify it. What do you need dummy data for? A code setup like this should work just fine:

[code]

This code pattern is used in this Lua example: https://github.com/facebookresearch/visdom/blob/master/example/demo2.lua#L99-109

[2017-03-26 15:07] #44 closed

[2017-03-26 18:35] ypxie commented on #44
Thank you for your reply.
But in my case, I'd prefer win be a pre-specified 'string', if I use None as Win, it will return a very complex string rather than a meaningful one.

Fot the line-plot, is there anyway to get access to the data (X, Y) stored in the figure?
Thank you!

[2017-03-26 19:22] lvdmaaten commented on #44
You can use a pre-specified `win` string:

[code]

This will print `'my_window'`.

There is currently no way to access the data on the server from the Python/Lua wrapper, but you can use the `update='append'` option to add new data to the existing data.

[2017-03-26 19:29] ypxie commented on #44
Thank you for your answering.
For example, I have already  many  pairs of (x,y) in a plot.
But then I re-load my program and want to append new data points to the end of that plot.
But  the current x will start from 1 again and I don't actually know how many points in the original plot. so It will be hard to append to the right place.
Thank you~

[2017-03-26 23:14] zuoxingdong opened #45 "`video()` does not work with Python 3 and OpenCV 3"
The newly implemented `video()` is not compatible with Python 3 and OpenCV 3.

In OpenCV 3, `fourcc` is a new API `cv2.VideoWriter_fourcc()`. Could you maybe add an if-else condition for this ?

[2017-03-26 23:16] zuoxingdong opened #46 "Feature Request: `video()` support mp4/avi/gif outputs"
It could be convenient if the support for mp4/avi/gif format with 4D Tensor input is added

[2017-03-26 23:24] lvdmaaten commented on #46
Doesn't this commit implement exactly that?

https://github.com/facebookresearch/visdom/commit/4b99344bd6ec648656bf057d018b578c986cfaf9

[2017-03-26 23:37] zuoxingdong commented on #46
@lvdmaaten If I got it correctly, it can play mp4 file if the path is the input. It seems from the commit that if tensor to be passed, the `videofile` has fixed `.ogv` extension.

[2017-03-26 23:45] lvdmaaten commented on #46
I initially tried exporting in MP4 format with the MJPG codec; the resulting videos played in Safari but not in Chrome: https://productforums.google.com/forum/#!topic/chrome/PslmTeeM8Fo

Using the Theora codec in OGG format was the only rendering I could get to work in Chrome (an option like WebM didn't work because ffmpeg wouldn't render it). The HTML5 codec situation is pretty messy in general:

[2017-03-27 00:29] #45 closed

[2017-03-27 00:45] shelper opened #48 "Bug in PIL when using vis.image in Python?"
when i run:
[code]

i got:
[code]

[2017-03-27 01:09] ajabri commented on #48
Oops, sorry this is because I changed the API to expect CxHxW instead of HxWxC. Forgot to change the example. It should be:

vis.image(np.ones((3, 10, 10)))

I can make this change later tonight.

[2017-03-27 03:46] ajabri commented on #48
Fixed in 4e45bca

[2017-03-27 03:46] #48 closed

[2017-03-28 15:03] soumith commented on #34
if you are interested, you can simply port this function over: https://github.com/pytorch/vision/blob/master/torchvision/utils.py#L6-L78

[2017-03-29 00:17] zuoxingdong commented on #34
@soumith @ajabri Thanks for the info. I've adapted this code to Numpy version, so that dependencies of torchvision is not required. The change made in PR #51

[2017-03-29 00:56] episodeyang opened #52 "line update="append" error"
When put in this get an error
[code]

[code]

[2017-03-29 01:03] episodeyang commented on #52
A closer read of the source code clarified the issue. Thanks!

[2017-03-29 01:03] #52 closed

[2017-03-29 09:35] Florian-Roessler commented on #40
I ran into the same issue and my solution so far has been the following:

The example here does not include datetime for ticks but it hopefully is obvious how this would work with a matplotlib figure generated with datetime ticks.

I generated the graph I wanted using matplotlib and then used plotly tools to convert it into a plotly graph:

[code]

The only issue with this is that the `mpl_to_plot

[2017-03-29 11:05] emanjavacas opened #53 "Programatically create an env"
In the docs it's said that it's possible to programatically create envs. However, I haven't been able to find an example of this in the python example, nor did it become evident after checking the source code.
Could anyone give a hint?

[2017-03-29 12:32] hashbangCoder commented on #53
You can just pass the `env` argument to the figure like in #26 and it creates a new `env`.
You have to refresh the browser to view the updated envs

[2017-03-29 12:38] emanjavacas commented on #53
Thanks!

The refreshing part was the tricky one in my case :-) Seeing all this reactivity in the front-end I wasn't gonna think that I would have to refresh the browser at all...

[2017-03-29 12:38] #53 closed

[2017-03-29 13:48] lvdmaaten commented on #40
Interesting @Florian-Roessler, thanks for sharing!

I think it may be useful to add a function `viz.matplot(mplfig)` to the Python client that takes as input Matplotlib figure `mplfig`, converts it to a Plotly figure (hacking the margins if necessary), and sends it to the server as you describe.

(Note that power users can directly use `_send()` if they want to hack their own visualizations.)

[2017-03-29 14:04] ajabri commented on #40
Note also that as @lvdmaaten mentioned, you can use `_send` directly with the usual Plotly API.

Specifically, for date/time xaxis, see https://plot.ly/python/time-series/ ('Time Series Plot with Custom Date Range'):

[code]
Note that you don't need to use `go.Scatter` and `go.Layout` (you can use `dict`s instead).
Once you have your Plotly `data` and `layout`, you can just do:
[code]

[2017-03-29 19:38] emanjavacas opened #54 "Independently add two lines to plot"
I am trying to send data to a line plot from two different processes, each of which is responsible for a single line. Currently I do this by keeping in memory the last point for each line so that when data comes for one line I can redundantly overwrite the last point assigned to the other.
While this works (with limitations), I'd like to implement a method that allows me to update a line in a plot

[2017-03-29 20:35] ajabri commented on #54
Hi @emanjavacas ,

Have you tried the `updateTrace` method? https://github.com/facebookresearch/visdom/blob/master/py/__init__.py#L394

You can specify the `name` of a trace and whether to `append` or `replace`. If you give a new `name`, a new trace will be added (as in the example here: https://github.com/facebookresearch/visdom/blob/master/example/demo.py#L172).

[2017-03-29 21:51] cpdurham opened #55 "Feature Request: Image zooming"
Heatmap has a nice way to zoom around and scale, was wondering about getting this into the image plot

[2017-03-29 23:21] lvdmaaten commented on #55
Good suggestion! (We actually had this in an earlier implementation of visdom.)

As a quick work-around, you can use the zoom functionality of your browser (press Command and + in Chrome / OS X) to zoom in on an image.

[2017-03-30 00:11] cpdurham commented on #55
Cool! Really liking this tool a lot!

I noticed that the zoom persists between tabs, so I have chrome zoomed out to fit the pictures and firefox for charts lol

[2017-03-31 07:39] psmaragdis commented on #40
@ajabri, can you rewrite the code above as a self-contained example? I get that "datetime is not JSON serializable". If I simplify the data to get past that, I get ```u''``` as the retuned window and nothing is being plot. I presume that self should be a visdom, right?

[2017-03-31 10:27] hornos opened #56 "Feature Request: moving x-axis range when update='append'"
Line updates with 'append' should allow to have opts = dict( xtickmin = xmin ), where xmin is a variable. After reaching some xtickmax older data should not plotted.

[2017-04-01 05:30] byronwwang opened #57 "bugs fixed for updateTrace in init.lua"
`return self:sendRequest{
         request = ({
            data      = nan2null(data),
            win       = win,
            eid       = env,
            name      = name,
            append    = append,
         }),
         endpoint = 'update',
      }`
should be
`return self:sendRequest(
         {
            data      = nan2null(data),
            win       = win,
            eid       =

[2017-04-03 17:11] emanjavacas commented on #54
Oh thanks,
Somehow I hadn't checked updateTrace yet.

[2017-04-03 17:11] #54 closed

[2017-04-04 07:37] brisker opened #58 "error running python example/demo.py"
[code]

[2017-04-04 07:49] #58 closed

[2017-04-04 18:42] drorata opened #59 "Error when running demo.py"
When I run `demo.py` I get the following error:

[code]

What's the problem?

[2017-04-04 18:46] lvdmaaten commented on #59
Are you using the latest version of visdom? The pip install may be lagging
behind (the mesh function was recently added).

On Tue, Apr 4, 2017 at 14:42 Dror Atariah <notifications@github.com> wrote:

[2017-04-04 18:54] drorata commented on #59
Indeed, installing from the source solved the problem. Thanks.

I documented my test [here](http://drorata.github.io/posts/2017/Apr/04/running-visdom-examples-within-a-docker-container/)

[2017-04-04 18:54] #59 closed

[2017-04-04 20:23] #57 closed

[2017-04-05 02:15] bfortuner opened #60 "CV2 Version 3 support"
I got this error running demo.py. Perhaps explain somewhere that its not compatible with the latest version of cv2?
http://stackoverflow.com/questions/15584608/python-opencv2-cv2-cv-fourcc-not-working-with-videowriter

bfortuner@bfortuner-MS-7A71:~/workplace/ml-study$ python visdom_demo.py
Traceback (most recent call last):
  File "visdom_demo.py", line 16, in <module>
    viz.video(tensor=video)

[2017-04-05 02:17] bfortuner commented on #45
+1 for fix

[2017-04-05 02:17] bfortuner commented on #60
Saw an existing issue that was closed with no reply.
https://github.com/facebookresearch/visdom/issues/45

[2017-04-05 02:17] #60 closed

[2017-04-05 13:06] brisker opened #61 "AssertionError: Y should be same size as X"
I want to dynamically update (x,y)
I used the codes below:
[code]
but why it always gives me this error:
    assert Y.shape == X.shape, 'Y should be same size as X'
AssertionError: Y should be same size as X
and once I set

[code]

there is no error.
So how to plot  (0,1) --> (1,10) -->(2,15)  ??
Why must 11-10 == 4-3 ?

[2017-04-06 00:01] episodeyang opened #62 "Mokeypatching visdom"
Hi,

I'm trying to patch visdom to take in a `name` variable on instantiation, but I keep getting an error. This is probably a stupid question, but what is the proper way to do this?

[code]

[code]

[2017-04-06 00:05] episodeyang commented on #62
Ha, I missed an underscore in the function name.

[2017-04-06 00:05] #62 closed

[2017-04-06 05:09] hashbangCoder opened #63 "[JSON file] Figure title saved in content field rather than title field"
Title field in saved json file is not getting populated
Sample Code :

[code]

Edit - I found the figure title buried in the `content` field. Is this to be expected? If so, what is the `title` field for?
[code]

[2017-04-06 16:15] scientist1642 commented on #60
and you close it as well? :)

[2017-04-06 20:03] Wakeupbuddy opened #65 "how to remove an env from drop down menu?"
First thanks for the team for the great tool!

I've tried deleting the json file from ~/.visdom/,  but the env name still shows in the drop down menu. I also tried hard refresh the page cache (i am using chrome), but still no luck.  Any clues? Thanks!

[2017-04-07 15:48] ajabri commented on #65
Hi @Wakeupbuddy ,

Did you restart the visualization server? I think that's the only way currently for the changes to take effect. I agree that this is not desirable and I'd like to eventually make it more reactive.

[2017-04-07 15:51] Wakeupbuddy commented on #65
@ajabri
yeah this works. Thanks for the reply:)

[2017-04-07 15:51] #65 closed

[2017-04-07 20:15] ajabri commented on #61
Hi @brisker ,

Thanks for your message! The error is because np.arange(3, 4) and np.arange(10, 15) are not of the same length... You could alternatively try:

[code]

[2017-04-12 15:07] rob-med commented on #40
I second that, it would be extremely useful, especially for already existing visualizations in Matplotlib that I would like to port to Visdom.

[2017-04-13 08:08] shubhamjain0594 opened #66 "Update README"
The readme does not have any details on how to use updateTrace or update linegraphs.

Any help into this is appreciated.

[2017-04-13 19:52] ajabri commented on #66
Fixed in #67

[2017-04-13 19:52] #66 closed

[2017-04-20 17:29] meetshah1995 commented on #59
@lvdmaaten  - Any plans to update visdom on pypi for the same?

[2017-04-21 15:10] ajabri commented on #59
@meetshah1995 sorry for the delay, I'll take care of this today.

[2017-04-24 06:23] ajabri commented on #34
Fixed in #51

[2017-04-24 06:23] #34 closed

[2017-04-24 10:06] pedropgusmao opened #69 "Select different port"
Hi, is it possible to select a different port for Visdom server?

[2017-04-24 12:50] lvdmaaten commented on #69
Yes!

The server takes as input an optional argument `-port`: https://github.com/facebookresearch/visdom/blob/master/py/server.py#L36

When you create the Visdom object on the client side, you can similarly specify the port to which to connect: https://github.com/facebookresearch/visdom/blob/master/py/__init__.py#L196

[2017-04-24 15:26] #69 closed

[2017-04-24 20:45] oal17 opened #70 "Specify individual colors/styles for different lines in same plot"
For example, say I've got data like this:
[code]
and I want to plot  them on the same axes, but with interpretable styles/colors, e.g. these:
[code]
Is such a thing possible? So far, I am only able to specify styles for all the lines in a plot at once. Thanks!

[2017-04-25 00:29] ajabri commented on #70
Hi @oal17

The current wrapper we have for `line` indeed does not support that, but you can totally just construct it yourself following the plotly convention:

https://plot.ly/python/line-charts/
https://plot.ly/python/reference/ (you can find the supported symbols there)

A simple example:

[code]

Hope that helps!

[2017-04-25 02:29] kmario23 opened #71 "Issue in visualizing array of Gaussian random numbers"
I'm trying to visualize samples drawn from a gaussian distribution but facing issues. Specifically it throws the error: `Cannot write mode LA as JPEG`. Below is the complete traceback.

[code]

Any ideas or insights about how to resolve this issue?

[2017-04-25 15:08] lvdmaaten commented on #71
`vis.image` is designed to display bitmaps, not arbitrary arrays. I think you want to use `vis.scatter`.

[2017-04-25 15:08] #71 closed

[2017-04-25 15:10] oal17 commented on #70
That works - thanks!

[2017-04-25 15:10] #70 closed

[2017-04-26 18:28] spro opened #72 "`opts` vs. `options`"
The true name of the options dictionary is `opts` but it is referred to as `options` in the Readme.

[2017-04-26 18:30] lvdmaaten commented on #72
Yeah, this is due to a discrepancy in the naming between the Lua and the Python wrapper. It may be hard to fix now without breaking things in people's code?

[2017-04-26 18:49] spro commented on #72
Would it be worth overloading with `options` for the sake of consistency (and documentation), and gradually deprecating the opts version? It might be a heavy change looking at the code, but better now than later.

[2017-04-26 21:20] ajabri commented on #72
IMO, we should actually change `options` to `opts` :)

[2017-04-27 06:33] spro commented on #72
Either sound good as long as they're the same

[2017-04-27 06:36] spro commented on #72
I'd be down to change that on the Lua side - it doesn't look as heavily used by Github search. Or even just the docs.

[2017-04-30 18:23] rooa opened #74 "Cannot expand figures to the bottom when figure at the bottom of the page"
There is an issue of not being able to expand a figure vertically when it is at the bottom of the page. I have tested on Safari and Chrome on macOS.

Please see the gif of the bottom of the page below:
![](https://i.gyazo.com/6c6a0e7b312ddf9aa62b11335cb6976b.gif)
I cannot expand at some point as it shows.

[2017-05-02 09:25] Florian-Roessler opened #75 "Feature Request: Subfolder/project support"
Hello,

I really like this project and have started to use it with multiple projects. However, this can quickly lead to a drop-downs with a considerable number of different environments from different projects. A colleague and myself have started a slightly hacky approach in implement subfolder support which works for viewing and loading files from different subfolders. Before we continue implemen

[2017-05-02 16:01] ajabri commented on #75
Hi @Florian-Roessler !

I agree that this can be annoying.

One option (as you suggest) is to start a different server; you can actually specify the `port` as well as the `env_path` from which to load envs. Doesn't this basically allow you to achieve the same thing as subfolders? I agree it is not as nice though...

Another feature that might help with a related problem is pane filtering, by which

[2017-05-02 16:21] Florian-Roessler commented on #75
Hi @ajabri,

Yes in theory the port/env_path thing works, but running a server per project seems a bit overkill. I am thinking along the lines of adding a "project" option when sending a new graph and executing a save directly. The project variable could then be used together with the knowledge of the relative path to write the JSON.

I like the pane filtering as a general feature! This would be v

[2017-05-04 05:10] ypxie opened #76 "The heatmap plot is upside down"
How to show them in a [not upside down] way?
Thank you!
[code]

[2017-05-04 15:17] lvdmaaten commented on #76
This is the default row order that Plotly uses. You can always manually flip the matrix if you want to have different behavior:

[code]

[2017-05-04 15:17] #76 closed

[2017-05-05 09:33] shubhamjain0594 opened #77 "Number of Frames Per Second in Video"
[Here](https://github.com/facebookresearch/visdom/blob/master/py/__init__.py#L419) 25 is explicitly used as number of frames per second. Ideally it must be a parameter given by the user.

[2017-05-05 14:33] ajabri commented on #77
Hi @shubhamjain0594

Good catch! Would you like to submit a pull request? It should be quite simple, just something like `opts.get('fps', 25)`.

[2017-05-06 06:04] shubhamjain0594 commented on #77
Onto it.

[2017-05-07 05:34] bodokaiser opened #78 "Feature request: Online rendering service"
Something like nbviewer for visdom .jsons would be really great so that you can share your work publicly. Any plans on that?

[2017-05-10 05:38] cpdurham opened #80 "Remote image loading issue"
I have an visdom environment with large images in environment '0' and I'm accessing the server remotely. When I load the environment '0', the first image takes a long time to load and loads in '0'. If I then change to environment '1' on the webpage, the rest of the images load in the environment '1', even though they were assigned to '0'. No big deal, just wanted to file a report for it.

[2017-05-10 06:35] mel-2445 opened #81 "Feature Request: Grayscale image display"
The image function seems to only support 3-channel images.

\>\>\> img = np.random.uniform(size=(1, 64, 64))
\>\>\> viz.image(img)
...
ValueError: axes don't match array

The simple workaround is to use the heatmap function
\>\>\> viz.heatmap(img, opts=dict(colormap='Greys'))

For convenience and better viewing, though, it would be nice to use the image function for grayscale images.

[2017-05-10 20:08] geyang opened #82 "`heatmap` append and more data cache/handling in visdom?"
Hi,

it looks like the both `line` and `scatter` has an `append` option in plotly, but `heatmap` does not.

In our experiment, we are using heatmap to render incoming streams of spectrum data, and it becomes quite slow to have to send over 100 kB of heatmap image for each additional column.

Is it within the scope of this project to add datacaching and functionalities like smoothing in this projec

[2017-05-11 04:09] ajabri commented on #82
Hi @episodeyang !

Yes, you're right, its something that IMO should definitely be there. In general, I think it would be useful to have a plot object that can be updated efficiently; I suppose the question is where should the data caching happen -- server side, client side? I guess there are tradeoffs. If you do it on the server, you still have to send the whole thing to the browser. If you do it

[2017-05-11 04:20] ajabri commented on #80
Hi @cpdurham !

Yes you're right. I've observed this myself as well. I think the socket should be flushed when the env is changed. Another option is to just refresh the page. I'll get to this sometime soon -- unless you want to give it a try? ;)

[2017-05-11 19:16] shubhamjain0594 commented on #77
@ajabri Check our PR #79

[2017-05-12 02:51] ajabri commented on #77
Solved in #79 -- Thanks @shubhamjain0594 !

[2017-05-12 02:51] #77 closed

[2017-05-14 20:43] episodeyang commented on #82
@ajabri awesome! I'm up for it! I can keep the discussions here and link to the issues here!

[2017-05-18 12:37] hfarazi opened #85 "Feature Request: please support some authentication method"
It would be really useful to  support some http authentication method  (login page)

[2017-05-18 22:04] hsclouse opened #86 "X and Y in scatter: not x and y as in y=f(x)"
Just wanted to mention that as someone not familiar with plotly (I suppose that's where it comes from), the use of `X` and `Y` in the [python examples](https://github.com/facebookresearch/visdom/blob/master/example/demo.py#L48) kept me confused as to how to produce a scatter plot for several hours.

My goal was to plot a single variable with markers, not a line (i.e. with `scatter` not with `line`

[2017-05-29 12:29] shubhamjain0594 commented on #55
@lvdmaaten is anyone working on this or is it up for grabs?

[2017-05-29 12:53] lvdmaaten commented on #55
It's up for grabs!

On Mon, May 29, 2017 at 08:29 Shubham Jain <notifications@github.com> wrote:

[2017-05-30 01:13] episodeyang commented on #18
it looks like this will be difficult without updating plot.ly library.

[2017-05-30 01:15] episodeyang opened #87 "feature request: allow plot request over network"
Dear Maintainers,

I would love to setup a visdom plotting server, and have all of my cluster machines access the plotting server over the network using an access token.

Would this be considered for the roadmap?

[2017-05-30 01:21] ajabri commented on #87
Hey @episodeyang !

By 'access the plotting server', do you mean plotting remotely over a network? Yes, this kind of support is implicitly built in (we actually use it this way already), though the access token authentication hasn't really been implemented yet (#85). Did you mean something more elaborate?

Allan

[2017-05-30 01:46] episodeyang commented on #87
@ajabri I just found out about this in the source code:) Closing since this feature is already implemented.

[2017-05-30 01:46] #87 closed

[2017-05-30 17:47] ypxie opened #88 "how to plot figures of different projects in different workspaces?"
Currently, there are all showing in one page, which makes it look really crowed.
Thanks!

[2017-05-30 17:50] lvdmaaten commented on #88
Each plotting function has an `env` input variable, which specifies the
environment ("workspace") in which the plot gets added. You can use the
dropdown menu in the top bar to select the environment you're viewing.

Note that you may have to reload your page whenever you add a new
environment in visdom.

On Tue, May 30, 2017 at 1:47 PM, Yuanpu Xie <notifications@github.com>
wrote:

[2017-05-30 17:52] #88 closed

[2017-05-31 06:48] karandwivedi42 opened #89 "call to write_message slowing down training"
While training, if I plot a line graph and update it after each iteration, as the number of points increases, the call to updateTrace begins slowing down the entire training (by 3-4x).

On digging inside visdom, I found that the call to `write_message` [here](https://github.com/facebookresearch/visdom/blob/master/py/server.py#L221) is the culprit. To avoid this slowdown in training, my current fix

[2017-05-31 17:59] ankoorb opened #91 "TypeError: _send() got an unexpected keyword argument 'data'"
- Python 2.7.6
- I am getting TypeError when I use the code provided in the [Generic Plots](https://github.com/facebookresearch/visdom#generic-plots) section of README. Here is the exact error `TypeError: _send() got an unexpected keyword argument 'data'`.
- I have checked the [source code (line: 226)](https://github.com/facebookresearch/visdom/blob/master/py/__init__.py) and found that the args/k

[2017-05-31 21:56] zizhaozhang opened #92 "Unable to write data into visdom web"
Hi
Probably this issue is not because of problems of visdom itself, but I do not know whereelse to ask.
When I run the toy example
[code]
I got errors like the following. The visom pane at webpage of localhost:8097 shows nothing. How to solve this issue? Is there anyway to set the ip to 0.0.0.0? THX!

`u'<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">\n<h

[2017-06-01 00:14] lvdmaaten commented on #92
It's difficult to say, but this looks to me like a firewall / proxy / VPN issue. Something on your server is preventing you from accessing port 8097 on localhost. Did you try using an SSH tunnel?

[code]

[2017-06-01 12:17] Varal7 commented on #91
Fixed by #90

[2017-06-01 14:50] ajabri commented on #91
Thanks @ankoorb and @Varal7 !

[2017-06-01 14:50] #91 closed

[2017-06-01 15:10] zizhaozhang commented on #92
Hi
Thanks for your reply. I tried this. Still not working.
But I am fine of using Tensorboard which use ip of 0.0.0.0. If this ip works, i think localhost should work based on my understanding. Right?
Is there any way to edit the IP of visdom to 0.0.0.0(in Pytorch not Torch)?

[2017-06-01 15:43] lvdmaaten commented on #92
The visdom client lets you specify the server you want to connect to, so if your server is running at 0.0.0.0 then you can connect to that: https://github.com/facebookresearch/visdom/blob/master/py/__init__.py#L205

[2017-06-01 20:10] abeschneider opened #93 "Does not work with Numpy 1.7"
I get an error resulting from a change to how `numpy.take` operates. It looks like the older version requires a tuple to be passed as the indices, whereas newer versions (tested with version 1.12.1) do not. This causes operations like `line` and `scatter` to fail.

I haven't submitted a PR as there are two potential solutions (not sure which is preferred):
1. Change how `numpy.take` (in particular

[2017-06-02 23:09] aosokin opened #94 "updateTrace does not plot lines with NaNs"
Hi,
currently, updateTrace does not plot lines containing NaNs.
Code below produces just one line instead of two:
[code]

[2017-06-06 18:35] lixiao89 opened #95 "quiver doesn't exist"
Hi,

I can't seem to find the quiver function in python. Any help would be great. Thanks

[2017-06-07 00:36] ajabri commented on #95
Hi @lixiao89 !

You're right, it looks like the quiver function is currently only implemented in lua. The python feature should be added within the next few weeks. You're also welcome to submit a pull-request for it, if you want!

[2017-06-07 00:40] ajabri commented on #93
Hi @abeschneider ,

Thanks for your message! Option 1 sounds fine to me -- as long as it doesn't break compatibility. Feel free to submit a PR!

A

[2017-06-07 15:54] spurra opened #96 "Pane does not resize with figure"
I've got the following code:

[code]

The figure resizes successfully, but the pane it is in remains the same size. Is there a way to programmatically change it or make it adapt?

Edit: This is what I mean
http://oi66.tinypic.com/28btts5.jpg

[2017-06-07 15:57] ajabri commented on #96
Hi @spurra!

Yes, this feature will be added very soon. It has already been implemented on a local branch, just needs to be pushed out.

[2017-06-07 16:19] spurra commented on #96
@ajabri Thanks for your rapid response. Would it be possible to ping me once its in?

[2017-06-08 02:42] lvdmaaten commented on #95
I will push a commit implementing this.

[2017-06-08 15:43] lvdmaaten commented on #95
Added in https://github.com/facebookresearch/visdom/commit/b850bf4330732d0b1d73d3240012b6f809c98a19

[2017-06-08 15:43] #95 closed

[2017-06-12 20:45] xjtu-zeng opened #99 "updateTrace error"
when I plot multiple lines in the same **_win_**, the **_updateTrace_** method seems awkward.

`
vis_line = vis.line(X = np.array([1,2,3]), Y = np.array([[1,1,1],[2,2,4],[3,4,7]]),  win="mywin")
 vis.updateTrace(X = np.array([4,4,4]), Y = np.array([5, 6, 7]), win="mywin", name=vis_line)
`

can anyone clarify what wrong with the code?

[2017-06-14 12:07] dengbo22 opened #100 "Feature Request: Plot a BlankBoard."
Can we just plot a blank board, and alway use updateTrace to add new points or new lines?

[2017-06-17 10:45] obust opened #101 "Feature Request: Audio support"
It would be nice if the API could support audio `vis.audio` along with the other basic visualization functions:

- `vis.image` : images
- `vis.text` : arbitrary HTML
- `vis.video` : videos
- `vis.svg` : SVG object
- `vis.save` : serialize state server-side

[2017-06-17 10:54] obust opened #102 "Input range interaction"
Is there a way to add an input range associated to a plot with which we can interact.

A particularly useful use case in machine learning is to visualize model byproducts at different epochs during the training. For example, visualize images generated by a GAN at different epochs. It important to be able to do it within a single panes otherwise the plots proliferate and cluter the layout.

I am no

[2017-06-18 13:46] ajabri commented on #102
Hi @obust ,

Thanks for your message! I agree that this kind of thing would be useful. It's worth noting that such a pane would not have to involve plotly. In a sense what you describe is a video, except in the use case you describe you probably don't want to deal with compression. I think such an image scrolling feature could be implemented with plain HTML. For plot interaction, we have an open i

[2017-06-18 13:48] ajabri commented on #101
Hi @obust ,

Agreed! This should be easy to implement, it is basically a more simple version of the video function. See https://www.w3schools.com/html/html5_audio.asp .

[2017-06-18 13:50] ajabri commented on #100
Hi @dengbo22 ,

Thanks for your message! The vis.line API indeed does require at least one point. You can, however, use the generic Plotly API to maintain such a "blankboard"
 object (https://github.com/facebookresearch/visdom#generic-plots).

[2017-06-18 13:56] ajabri commented on #89
Hi @karandwivedi42

Thanks for your message. If the data grows quickly, this can indeed slow things down. The problem with passing a small amount of data in write_message is that effectively means that the state will be maintained on the browser end, which has drawbacks. IMO, the best solution may be to do the message passing without blocking the main thread. This could amount to making the visdom

[2017-06-18 13:58] karandwivedi42 commented on #89
I agree. I didn't know how to implement it without adding extra
dependencies though. Any plans regarding this?

On Sun, Jun 18, 2017, 19:26 Allan Jabri <notifications@github.com> wrote:

[2017-06-18 14:01] ajabri commented on #86
Hi @hsclouse ,

Thanks for your message! I totally see how this API initially seems unintuitive. When we implemented the plotting wrapper, we did indeed discuss the pros and cons of using `X` to contain both dependent and independent variables. In the end, we hoped that the documentation (https://github.com/facebookresearch/visdom#visscatter) would be enough to get people on the right track.

Note

[2017-06-18 14:05] ajabri commented on #89
I think the simplest way is to add an option to make the request sending asynchronous (e.g., modify the `send` method). I can probably get to this in the next few weeks!

In the meantime, a simple temporarily solution may be to send plotting updates less frequently, and to subsample the plotting data.

[2017-06-18 14:22] ajabri commented on #18
It's becoming increasingly clear that it might be worth it to assemble some utility functions. E.g, for the continuous error bars, something along the lines of:

[code]

[2017-06-19 07:32] ajabri commented on #96
Addressed in 0c494b0

[2017-06-19 07:32] #96 closed

[2017-06-19 07:33] #86 closed

[2017-06-19 07:40] #102 closed

[2017-06-19 16:26] ahmedmazari-dhatim opened #103 "How can l make loss and accuracy curves for CNN using visdom ?"
Hello,

l just discovered visdom. l get stuck at making loss and accuracy curves using it.

Thank you for your helps

[2017-06-20 06:59] #81 closed

[2017-06-21 11:23] CeLuigi commented on #100
Hi @dengbo22 ,

Thanks for your help. However, the following code:

vis = visdom.Visdom()

                    mode="markers+lines",  text=["one","two","three"], name='1st Trace')

raises the error:

Have any idea why?
Thanks

[2017-06-21 13:01] xjtu-zeng opened #104 "The updateTrace cannot update two line in the same win"
I want to draw two line in the same **_win_**, but I cannot use the updateTrace to update the two line in one win, Is my code error or does not support such function?

[2017-06-21 13:14] xjtu-zeng commented on #104
`vis.line(X = np.array([1,2,3]), Y = np.array([[1,2,3], [2,3,4], [3,4,5]]),  win="line1")
`
![newplot 1](https://user-images.githubusercontent.com/15373554/27385664-f9d5cdf8-56c5-11e7-8cfe-2abb7d198785.png)

Wrong update Code:
`vis.updateTrace(X = np.array([[4],[4],[4]]), Y = np.array([[4],[5],[6]]), win="line1")
`
`vis.updateTrace(X = np.array([4,4,4]), Y = np.array([4,5,5]), win="line1")
`

Any

[2017-06-23 07:04] C8LUKA opened #105 "AttributeError: 'Visdom' object has no attribute 'quiver'"
hi, when I install visdom in my ubuntu system, I try to run the demo.py example.and I got this:
AttributeError: 'Visdom' object has no attribute 'quiver'
I thought maybe I didn`t install quiver, so I pip install the quiver. then I try again, it still the same question:
AttributeError: 'Visdom' object has no attribute 'quiver'
Is any package I didn`t install?

[2017-06-23 07:07] ajabri commented on #105
Hi @C8LUKA ,

Thanks for your message! This is because we haven't pushed a new version to PyPi yet since quiver was added for python. If you need quiver, you can install from source. I'll push a new version in the next few days.

[2017-06-23 07:12] C8LUKA commented on #105
well @ajabri ,
thanks for you response, "you can install from source" You means I should try to python setup.py install?
but I did it ,it still not work

[2017-06-23 12:53] bishesh opened #106 "example/demo.py: video writer could not be opened"
The video example does not work.
I get the following error:

``
 File "visdom_demo.py", line 28, in <module>
    viz.video(tensor=video)
  File "/home/bk17/anaconda3/envs/pytorch/lib/python3.6/site-packages/visdom/__init__.py", line 420, in video
    assert writer.isOpened(), 'video writer could not be opened'
AssertionError: video writer could not be opened
``

I'm using the [video](http://media.

[2017-06-24 09:29] C8LUKA opened #107 "run example"
hi,
I found a strange question, when I run python demo.py, the visdom.server didn`t send the message to the web site, if I run sudo, it will be ok, what`s the problem?

[2017-06-26 07:06] j-min commented on #46
Is there a way to upload gif format?
I want to compare different gif files made by NN models with different hyperparameters.

[2017-06-26 14:36] lvdmaaten commented on #46
There is no native GIF support at present, but you could read the GIF as a 4D numpy tensor, and pass that to the `video()` function:

[code]

[2017-06-26 17:47] j-min commented on #46
It seems 4D numpy tensor doesn't work properly with `video()`

[code]
When I run the code above at Mac OSX python 3.6, it creates a empty video window.
![image](https://user-images.githubusercontent.com/18069263/27552580-e5051174-5ae2-11e7-85fe-2af30521728b.png)

which contains
[code]

Below is the stderr.

[code]
Do you have any idea?

[2017-06-27 13:56] skrish13 opened #109 "[Question] How to resume/update a plot across runs"
Example: Assume I'm plotting the loss of a neural network. How to update the plot when I'm re-running the code (resuming it from when I stopped).

[2017-06-27 14:32] ajabri commented on #109
Hi @skrish13

Thanks for your message. When you create a pane, you should get the id as a return value. You can also supply a pane-id as a target for your plot. So, you can do something like

[code]

[2017-06-27 14:47] skrish13 commented on #109
Right, this is cool. So basically, I should somehow store those pane-ids so that I can use it across the runs right?

[2017-06-27 14:47] #109 closed

[2017-06-27 15:21] ajabri commented on #109
Yep, or you can use your own id:  `vis.line(X=mydata, win='wazzup')`

[2017-06-27 15:41] skrish13 commented on #109
ohhh. I kinda assumed you first have to create a pane to get the id. This is epic. Thanks :D

[2017-06-27 15:42] skrish13 commented on #107
can you explain more or paste the exact log?

[2017-07-02 15:47] y406539259 opened #111 "visdom shows nothing"
I am very confused that I tried the demo.py but showed nothing at http://localhost:8097
The server has received the message but shows nothing, the web explorer only shows  blue background, It has no other windows.

y406539259@BILL-172:~$ python -m visdom.server
It's Alive!
INFO:tornado.access:304 GET / (127.0.0.1) 5.03ms
INFO:tornado.access:304 GET / (::1) 3.56ms
INFO:tornado.access:304 GET / (222

[2017-07-03 14:34] zengyu714 commented on #111
Same on python3.6, it used to be OK.

[2017-07-03 14:46] zengyu714 commented on #103
Hey,
maybe you can refer to [demo.py](https://github.com/facebookresearch/visdom/blob/master/example/demo.py), see the `# line plots` and `# line updates` part.
I also write a simple [class](https://github.com/zengyu714/pytorch-utils/blob/master/easy_visdom.py) based on the demo.
Hope these could help you.

[2017-07-04 19:41] lvdmaaten commented on #103
Please only use the issues tracker to report issues, bugs, and feature requests.

[2017-07-04 19:41] #103 closed

[2017-07-05 03:29] ysfalo commented on #111
Same on python2.7 ubuntu 14,04

[2017-07-05 19:18] ajabri commented on #111
Hmm. Can you surface the Developer Console in your browser and post any error messages that show up on the browser end? With Chrome you can get this in 'View'->'Developer'->'Javascript Console'.

[2017-07-06 04:44] zengyu714 commented on #111
This time-out error could be solved by  **proxy**, and then `visdom` is normal again.
Thank @ajabri  for providing a way to check errors.

Thanks to the GREAT Firewall in China. 👎

[2017-07-06 07:15] y406539259 commented on #111
process.env.ENV is not defined, assuming 'prod' env

GET https://cdn.rawgit.com/STRML/react-grid-layout/0.14.0/dist/react-grid-layout.min.js net::ERR_CONNECTION_TIMED_OUT 116.56.143.172/:24
GET https://cdn.rawgit.com/plotly/plotly.js/master/dist/plotly.min.js
net::ERR_CONNECTION_TIMED_OUT 116.56.143.172/:28

Uncaught ReferenceError: ReactGridLayout is not defined
    at Object.<anonymous> (http://

[2017-07-06 08:08] #111 closed

[2017-07-06 15:25] gyang1011 opened #112 "Plot data with respect to time"
Hello,

I would like to plot data with respect to time in real time. The x-axis should be a time step and it increases over time. The y-axis is the data at the specific time step.

I tried to use updateTrace( ) function to achieve that. How do I update the X with time steps?

[2017-07-07 12:51] lvdmaaten commented on #112
I think the easiest way to achieve this is by repeatedly calling `line()` with the new data `X` as input, and setting the `update` argument to `'append'`.

[2017-07-07 12:53] lvdmaaten commented on #107
This sounds like some kind of permission issue. We cannot investigate this without a much more detailed bug report.

[2017-07-07 12:53] #107 closed

[2017-07-07 12:57] lvdmaaten commented on #106
Did you ever manage to get video reading / writing via OpenCV to work on your setup? The code that does not appear to work for you is here: https://github.com/facebookresearch/visdom/blob/master/py/__init__.py#L422-L435

Unfortunately, the issue is hard to debug for us without a repro. It is most likely some issue with your setup.

[2017-07-07 13:02] lvdmaaten commented on #99
The `name` argument in `updateTrace` selects a trace to update. Since there is no trace called `vis_line`, your code is creating a new trace.

Your input arrays need to be transposed if you want to update all traces simultaneously:
[code]

[2017-07-07 13:02] #99 closed

[2017-07-07 13:03] lvdmaaten commented on #105
Closing this issue as the missing functionality was added: https://github.com/facebookresearch/visdom/blob/master/py/__init__.py#L900

[2017-07-07 13:03] #105 closed

[2017-07-07 13:10] lvdmaaten commented on #94
This looks like a bug, indeed. It is presumably related to this functionality: "Trace update data that is all NaN is ignored; this can be used for masking update." Will investigate...

[2017-07-10 17:30] tachim opened #114 "Feature Request: saving plots, history slider"
Hi all, very nice software, we're using this internally at my company. Two questions:

1. Are there any plans for supporting saving a dashboard to disk visually in PDF format? Right now I just use save to PDF which chops up some of the plots.

2. Any plans to support "history" in the plots similarly to how tensorboard does it? E.g. to be able to scroll back and forth in time for an image pane.

[2017-07-10 20:51] ajabri commented on #78
Hi @bodokaiser

Thanks for your message! I agree. We don't have something like that yet. It would also be nice to have a way to: 1) nicely serialize the dashboard to something viewable later offline, 2) make locally hosted dashboards viewable by the public. I've been thinking that `ngrok` might be a way to solve the latter.

[2017-07-10 20:54] ajabri commented on #114
Hi @tachim

Thanks for your message, we are glad you are finding visdom useful.

1. I've been looking at the possibility of rendering the dashboard without an actual browser, e.g. headless rendering. Unfortunately, there is not yet a nice way of serializing the frontend to something viewable offline later (at least not nicer than saving to PDF).

2. I think you mean something like #25. I definitel

[2017-07-11 06:06] bodokaiser commented on #78
Hi @ajabri

I agree with your ideas! However I think the main problem is if FB would pay server bills + admin hours to get this up and running.

[2017-07-11 19:14] ajabri commented on #78
Since this is an open-source project aimed at supporting the research community and not a product, FB would not be able to support any hosting. That said, with something like ngrok, as long as you have a public endpoint, you can access something like visdom running locally.

[2017-07-13 00:09] lvdmaaten commented on #55
Solved by https://github.com/facebookresearch/visdom/commit/ff379c05c00ca3f91e3787880b731bd07aa6c620

[2017-07-13 00:09] #55 closed

[2017-07-13 10:33] shubhamjain0594 commented on #25
Hi @ajabri

Is there any work being done on this. What are possible ideas for the slider and what exactly is it's utility? Issue #114 looks at much broader usage of slider, is that something we are looking. I am interested in trying to implement it out.

[2017-07-13 12:55] ASpeiser opened #116 "Feature request: Function returns if a window exists"
I want to monitor progress of different scripts in one window using line plots. So the idea is that the script that is run first uses viz.line and then additional scripts use viz.updateTrace to add lines to the same window. However right now I don't see a straight forward way to check if a window exists and should be updated,  or if a new window needs to be created.

[2017-07-13 12:58] lvdmaaten commented on #116
Each time you want to update the plot, simply call `line()` with the same name (for instance, the name of the experiment you're monitoring) as input into the `win` argument and set `update` to `append`.

[2017-07-13 13:49] ASpeiser commented on #116
Updating the plot works fine but I don't think it solves my problem.

I'll try to make my issue more clear:

Lets say I run the same script twice to train two networks (with different seeds) and I want to monitor their loss in the same plot.
When I first run it it uses `line()` to create a new window, and then I use `updateTrace` (or `line` with append) to monitor the loss.

If I run the script ag

[2017-07-13 17:49] lvdmaaten commented on #25
We're not actively working on this right now (busy with other things), but we welcome PRs implementing (part of) this functionality!

[2017-07-13 17:49] #112 closed

[2017-07-13 17:58] lvdmaaten commented on #104
Doesn't this do what you want?

[code]
Note that you can replace a value in `Y` by `None` if you don't want to plot a point on the corresponding line at a particular `X` value.

[2017-07-13 17:59] #104 closed

[2017-07-13 17:59] lvdmaaten commented on #94
Note: I think you can replace `float('nan')` by `None` to "ignore" the point when plotting. Does this solve your issue?

[2017-07-13 18:13] lvdmaaten commented on #116
I see. Yeah, I suppose it would make sense to add such a function. I'm not sure when we'll have time to get to it, but it should be an easy addition so please feel free to send a PR implementing this.

[2017-07-13 18:13] #106 closed

[2017-07-13 18:14] #92 closed

[2017-07-13 18:15] ajabri commented on #112
In other words, you need to maintain your own X timestep data.

[2017-07-14 12:20] aosokin commented on #94
@lvdmaaten Thanks, that works!

[2017-07-14 12:20] #94 closed

[2017-07-15 10:35] SelvamArul opened #117 "Lua torch line plot with multi lines fails during append"
The follwing snippet
[code]

fails with the follwing error message in visdom console:

[code]

This happens only when I create a Torch tensor from a Lua table of size 1. This following construct works

[code]

[2017-07-15 19:37] lvdmaaten commented on #117
Thanks for reporting! I will send out a fix soon.

[2017-07-17 20:18] aman-tiwari opened #118 "Uncaught TypeError: Cannot read property 'content' of null , no plots show up."
[code]

Getting this error in the JS console when opening `http://localhost:8097/`. None of my plots show up, even though the log printed by the server process shows that it should have been updated.

[code]
The code to create the plots is something like:
[code]

[2017-07-17 20:21] ajabri commented on #118
Can you try `clear`ing your env from the browser?

[2017-07-17 20:26] aman-tiwari commented on #118
That doesn't seem to change anything

[2017-07-18 17:24] #117 closed

[2017-07-21 09:44] bishesh commented on #106
Sorry, missed this for a while and then later was waiting to test OpenCV set-up properly before posting.
The problem is with the choice of codec in fourcc variable in the code you linked above. Would it be possible to support other codecs (like letting user choose it) ?
[code]
I tried a simple test code in my set-up and it works for certain codecs but not with the one used in visdom:
[code]

[2017-07-21 22:22] ysaatchi opened #119 "Doesn't work with matplotlib"
I would love it if I could easily send and update pylab plots within a pane. I can't see an easy way to do it right now.

[2017-07-22 17:25] ajabri commented on #119
Hi @ysaatchi,

You're right, there is currently no support for reactive plots with matplot lib. This would be good to have. It may be easy to do with something like this: https://github.com/plotly/plotly.py/blob/master/plotly/offline/offline.py#L540 .

Alternatively, for now, you can just use `vis.image` with images of your mpl plots.

[2017-07-24 12:01] shubhamjain0594 opened #120 "Text Scrolling"
![screen shot 2017-07-24 at 5 27 37 pm 1](https://user-images.githubusercontent.com/5080900/28522549-0630fba6-7096-11e7-9162-87b658ab948b.png)
Currently content in vis.text if larger than window, then window needs to be dragged and resized.

But instead we can have scrollable (in both x and y) window for text. So whenever content is larger than window, scroll is much better option than resizing wi

[2017-07-25 02:47] zengyu714 commented on #65
Hey, @ajabri
Restart is not very convenient indeed.
: P

[2017-07-25 20:01] ajabri commented on #65
Hi @zengyu714,

Thanks for your message. Yea :/ I realize it's not super convenient. Feel free to submit a pull request :) It should be a pretty simple commit.

[2017-07-25 20:03] ajabri commented on #120
Hi @shubhamjain0594

Totally sounds reasonable. This was actually added by someone at some point but incorrectly such that it added scroll bars to all pane types.
https://github.com/facebookresearch/visdom/commit/49c374af1ae021345378c0b5538f34e7487b2aa7

Please feel free to submit a pull request! And yes, I'll push a new release to pip, thanks for the reminder.

[2017-07-26 13:01] shubhamjain0594 opened #121 "Proper Docs for Visdom"
While going through the README I realised that visdom does not have a really well organized documentation. Till the section of API, Basics and Plotting, things look good but then going ahead we have Generic Plots and Simple Plots. Generic plots have no mention of `win` or `env` usage.

I think we need to organize docs properly or use sphinx. If we want to continue with README then I would recommen

[2017-07-26 18:28] ysaatchi commented on #119
Ah yes, that's a cool work around with vis.image :) I'm guessing it doesn't support sending a png directly, you have to save to png, then reload into an array.

[2017-07-27 15:10] bishesh commented on #106
Quickly checked the guidelines for sending a PR. Seems like I would have to update both the Lua and python code. I am not familiar with Lua at all and not able to invest time to learn it ATM.
I can try if I just need to change the python interface

[2017-07-28 14:46] ajabri commented on #40
Hi @psmaragdis

Sorry for replying so late! Here's a self-contained, bug-free example:

[code]

[2017-07-29 05:40] psmaragdis opened #124 "Unexpected tickmax/tickmin behavior"
This following piece of code creates a plot that is scaled from 0 to 0.5 in the y-axis, despite the use of the ```ytickmax``` option being set to 1.  This problem is also there if I omit ```ytickmin```, and is similar when I use the x-axis equivalents.

[code]

If I change ```ytickmin``` to a nonzero value then ```ytickmax``` works as expected.

[code]

[2017-07-29 08:15] saeedizadi opened #125 "Draw images in the same pane (inplace)"
Hi,
Assume that I have a loop and in each iteration I want to draw an image. Is there any way to draw images on the same pane? not adding more panes per image?

[2017-07-30 08:33] saeedizadi commented on #125
I found the answer here
https://github.com/facebookresearch/visdom/issues/109

[2017-07-30 08:34] #125 closed

[2017-07-30 16:42] ajabri commented on #121
Hi @shubhamjain0594

I suppose I can see what you mean, but I'm not sure I agree that it needs to fundamentally be reorganized. I agree that there are some holes that should be filled though, especially regarding the 'generic plots' details.

[2017-07-30 17:08] #120 closed

[2017-07-30 18:54] shubhamjain0594 commented on #121
Since there are no proper docs, it becomes difficult to search any particular API without using browser provided search utility. Whenever I or anyone will be using this API, they will have a specific need, and a long README without many intrapage links makes it difficult.

The content is all there but things needs to be re-arranged and indexed with intrapage hyperlinks. For example in APIs section

[2017-08-09 11:14] skrish13 opened #126 "[FeatureRequest] Save contents of pane for offline plotly rendering"
If I want to save a pane, how do I do it from python? (using the pane id basically). Asking wrt saving a graph (vis.line)

I checked the demo.py, didnt really find anything relevant to this.

[2017-08-10 01:33] ajabri commented on #126
By save a pane, do you mean save the plot content to a file?

[2017-08-10 03:27] yukang2017 commented on #111
Would you please give some instructions on how to use proxy to solve this? @zengyu714

[2017-08-10 03:29] yukang2017 commented on #111
Would you please give some instructions on how to use proxy to solve this? @zengyu714

[2017-08-10 05:08] zengyu714 commented on #111
That is, use your VPN.

2017-08-10 11:29 GMT+08:00 yukang2017 <notifications@github.com>:

[2017-08-10 08:01] zengxianyu opened #128 "sometimes can not open the localhost link in my browser"
Visdom is a excellent tool to visualize when training a model, and I've been using it for months.

However, recently, I often cannot open the localhost link to the Visdom server in my browser. The browser keep saying "connecting", and the visdom.server shows below information:

INFO:tornado.access:200 GET /env/main (127.0.0.1) 1.83ms
INFO:tornado.access:200 GET /static/js/main.js?v=4b72317f7636320

[2017-08-10 08:27] zengxianyu commented on #111
I don't think it can be solved by VPN. Sometimes I use VPN, and visdom works; sometimes I don't use VPN, and Visdom works. But sometimes I use VPN, and Visdom do not work.

[2017-08-10 08:32] zengxianyu commented on #111
I don't think it can be solved by VPN. Sometimes I use VPN, and visdom works; sometimes I don't use VPN, and Visdom works. But sometimes I use VPN, and Visdom do not work. @zengyu714

btw, it seems that you and me have a same name 'zeng yu' :smiley:

[2017-08-10 08:38] yukang2017 commented on #111
@zengxianyu
change py/__init__.py,line 206 server='http://localhost' to
server='127.0.0.1'
then resetup visdom using:
python setup.py install

It works for me without VPN

[2017-08-10 08:50] zengxianyu commented on #111
It does not work for me :cry: @yukang2017

[2017-08-10 09:22] yukang2017 commented on #111
When using it, go to the address : 127.0.0.1:8097 instead of http://localhost:8097.
@zengxianyu

[2017-08-10 10:22] skrish13 commented on #126
Yes i mean that only. Should've mentioned that, sorry.

[2017-08-10 11:00] zengxianyu commented on #111
Still doesn't work for me :rofl: I've left for tensorboard

[2017-08-11 07:02] y406539259 commented on #111
The reason is the web browser can not find plotly and react-gird-layout through internet
My idea is download these two packages and change the search path of them in index.html of visdom.

So I downloaded
1, plotly.js: https://github.com/plotly/plotly.js
2, react-gird-layout: https://github.com/STRML/react-grid-layout

And put them in
python2.7/site-packages/visdom/static/js/

And I added the sear

[2017-08-11 07:07] zhxt0 commented on #128
I encountered the same problem

[2017-08-11 07:13] zengxianyu commented on #128
my workaround is turning to tensorboard

[2017-08-11 19:30] ajabri commented on #128
I think the issue is related to the loading of JS dependencies. Can you open the developer console and share any error messages found there? In Chrome you can do this by `View`->`Developer`->`Javascript Console`.

[2017-08-12 02:19] zengxianyu commented on #128
@ajabri Here's the error messages:
[code]

[2017-08-12 02:24] lvdmaaten commented on #128
Yes, so for some reason, visdom cannot download the Javascript dependencies. Are you behind some kind of proxy that prevents traffic to the internet? Can you access https://cdn.rawgit.com/plotly/plotly.js/master/dist/plotly.min.js in your browser?

[2017-08-12 03:04] zengxianyu commented on #128
Thank you all

The reason is the web browser can not find javascript dependencies through internet. Like y406539259 said [in this issue](https://github.com/facebookresearch/visdom/issues/111#issuecomment-321743890), downloading packages or using proxy can solve this problem

[2017-08-12 03:04] #128 closed

[2017-08-13 03:25] cddlyf opened #130 "how to plot multiple line with different number points on one window?"
In `visdom.line` function, it only accept X and Y of size "N*M" . It means  each line must have the same length, but it is not the case in many scenarios. exp. training errors and validation errors.  Could you tell me how to implement this feature? or it has already implemented.

[2017-08-13 15:33] lvdmaaten commented on #130
You can fill missing values in the NxM matrix with `nan`s and they will not be plotted.

[2017-08-13 15:33] #130 closed

[2017-08-15 20:24] ypxie commented on #69
Hi,  how to specify port number in command line? 'python -m visdom.server' Thank!

[2017-08-16 00:58] lvdmaaten commented on #12
You should run the `python -m visdom.server` command from your terminal, not in the python REPL. Make sure the server is running, so start in it a separate terminal window (potentially using `screen` or `tmux`)

[2017-08-16 03:56] wj926 opened #132 "Address already in use"
I opened port 8097 and installed visdom in python3.6, then I typed
python -m visdom.server
however error message "Address already in use" came out
How can I solve this problem.
In this status when I go to http://localhost.com:8097, nothing comes out.

Here are the error messages.

(pytorch) tako@b7079:~$ python -m visdom.server
It's Alive!
Traceback (most recent call last):
  File "/home/tako/anac

[2017-08-16 04:28] ajabri commented on #132
HI @wj926

What do you mean by you 'opened port 8097'? That message means that that port is being used by another e.g. socket. This can also happen if you incorrectly kill a socket that was once on 8097.

[2017-08-16 04:50] wj926 commented on #132
Hello @ajabri
I mean that I allowed the port 8097 in /etc/ssh/sshd_config
I added "Port 8097" there

[2017-08-16 13:04] oleggrinch opened #133 "Blank blue screen"
Hi, I'm working on remote server.
I start visdom with

[code]

Server responses smth like

but http://10.0.4.165:8097 remains blank

Any ideas on what's going wrong? Thanks!

[2017-08-16 13:16] xqms commented on #133
Also experiencing this issue here. It seems that the CDN that visdom is using (http://unpkg.com) is down or has some problems. For example, see what is delivered instead of the react.js library: https://unpkg.com/react@15.6.1/dist/react.min.js

I think we should remove the dependency on external CDNs - what exactly do we gain?

[2017-08-16 13:43] lvdmaaten commented on #133
This seems to be working again now (it does for me)?

The reason for having the dependency like this is that we cannot distribute code by others as part of the repository. The right way to fix it would presumably be to have the install scripts download the dependencies and copy them somewhere in the install directory.

[2017-08-16 13:56] MartinKolarik commented on #133
Lots of people have been complaining about *random* 404 and 503 unpkg responses recently. You can always use jsDelivr instead, which works in a similar way but is more reliable: https://cdn.jsdelivr.net/npm/react@15.6.1/dist/react.min.js

[2017-08-16 14:08] SelvamArul commented on #133
Not solved yet. still facing the same issue.

[2017-08-16 14:26] xqms commented on #133
@lvdmaaten I'm not a lawyer, but I think all open source licenses allow redistribution as long as you also include the license file and copyright notice. I think that would be the simplest solution.

[2017-08-16 14:31] lvdmaaten commented on #133
Even if the license may allow it, Facebook does not want to re-distribute code.

[2017-08-16 15:56] SelvamArul commented on #133
@lvdmaaten Shall I work on a patch to download the required files to the py/static/css or js directories as a part of setup.py file and modify  index.html file to use the local files?

[2017-08-16 17:42] lvdmaaten commented on #133
@SelvamArul That would be great!

[2017-08-16 18:59] ajabri commented on #119
[code]

Then one can use `vis._send` as in https://github.com/facebookresearch/visdom/blob/master/py/__init__.py#L585 to send a request using plotly_fig's `data` and `layout`.

[2017-08-16 19:00] ajabri commented on #132
Have you tried using a different port, e.g. 8098? You should not need to add the port to you sshd_config by the way.

[2017-08-16 22:46] t-ae opened #134 "[FeatureRequest] Keep plots order, or sort plots"
Now I'm studying image generation task.
I plot images every fixed train epochs, like below.
![screenshot from 2017-08-17 07-33-19](https://user-images.githubusercontent.com/12446914/29388263-e7d3daa2-831e-11e7-8c50-47785e81b669.png)
But sometime (especially when I change the environment) the order is messed up.
![screenshot from 2017-08-17 07-33-31](https://user-images.githubusercontent.com/124469

[2017-08-17 02:07] heurainbow commented on #133
same problem, any solution now?

[2017-08-17 02:14] GaiYu0 commented on #100
@ajabri Could you explain how to use Plotly API to create a blank window in more detail? Thank you very much!

[2017-08-17 02:59] ajabri commented on #134
Hi @t-ae

We've also found this to be annoying internally :) An easy fix is to add a sort button that sorts by a field called 'content_id'. I'll try to get that done some time soon.

[2017-08-18 06:25] skrish13 commented on #126
@ajabri any updates?

[2017-08-18 09:44] skrish13 opened #136 "[Feature Request] Default name while saving a image/pane"
Can we have the default plot name while saving a plot/pane/window as either the pane-id or title of the plot or label? Anything which is related to that pane than just "newplot.png" (currently).

Thanks :)

[2017-08-18 12:03] lvdmaaten commented on #136
I don't see why not. Please feel free to send a PR!

On Fri, Aug 18, 2017 at 5:44 AM, Sri Krishna <notifications@github.com>
wrote:

[2017-08-20 15:39] tommy-qichang opened #137 "Old context get lost when too many WebGL contexts exist"
Hi,
When I use visdom, there are two things really annoying. One is the order of the plot is messed up(as #134 mentioned). Another one is old context get lost when too many WebGL contexts exist, even after sorting the plot. I save few 3d scatter plots every epoch, and I found the plots from past epoch disappeared even if I filter the plot and just allow few plot to show.
<img width="1241" alt="dis

[2017-08-20 15:54] lvdmaaten commented on #137
The WebGL issue presumably happens because each Plotly plot has its own
renderer? There is supposedly an ongoing effort to address this issue
[here](https://github.com/plotly/plotly.js/issues/949). I'm not sure there
is an easy way to fix this in visdom?

On Sun, Aug 20, 2017 at 11:39 AM, QiChang <notifications@github.com> wrote:

[2017-08-20 16:38] tommy-qichang commented on #137
Thanks for your timely reply, Ivdmaaten,

I think there are several ways to accelerate the process. I just quickly checked the implementation in Visdom. When filtering the plots, Visdom simply hides the other grid. I think if there are too many Plotly plots, it's reasonable to disable the older plots. However, if we filter and narrow down the number of results, Visdom should refresh the whole layo

[2017-08-20 18:18] ajabri commented on #126
Visdom wasn't really designed for that kind of use case. However, each of the data structures that are sent to the server by the python client API are compatible with Plotly's python offline plotting feature. It should be easy to add an option to simply return that data structure instead of sending it to the server, e,g, here https://github.com/facebookresearch/visdom/blob/master/py/__init__.py#L5

[2017-08-24 22:23] skrish13 commented on #136
Any pointers as to how to do it?

[2017-08-25 00:12] lvdmaaten commented on #133
Solved by https://github.com/facebookresearch/visdom/commit/2d121340c863c3bbb4ab36de972faf4ea24c5509

[2017-08-25 00:12] #133 closed

[2017-08-25 00:21] lvdmaaten commented on #136
Hmmm... the `newplot` name seems to come from here: https://github.com/plotly/plotly.js/blob/43d3710bdb183f9c1681f40efe8649a7238efce5/src/snapshot/download.js#L49

I'm not quite sure if that's what you mean though? The name we specify already appears to be the name of the pane: https://github.com/facebookresearch/visdom/blob/master/js/PlotPane.js#L48

[2017-08-25 01:05] skrish13 commented on #136
Riiight.... Just to clarify, I mean the filename which comes when you use "download plot as png" option.

[2017-08-25 01:39] lvdmaaten commented on #136
That button is implemented in Plotly, not in visdom: https://github.com/plotly/plotly.js/blob/5da37913cb2d52ed3ad9b161b66f361a142ca1e1/src/components/modebar/buttons.js#L48,L70

You would have to submit a PR in that repo, adding a `filename` option here: https://github.com/plotly/plotly.js/blob/5da37913cb2d52ed3ad9b161b66f361a142ca1e1/src/components/modebar/buttons.js#L62

I will close this issue,

[2017-08-25 01:39] #136 closed

[2017-08-25 01:40] skrish13 commented on #136
Ahh, okay! Thanks :)

[2017-08-26 00:50] magnusja opened #139 "Saving as png resizes plot"
Hey there,

whenever I save my plots as a png file, the plot gets resized and sometimes this results in the legend occluding the actual plot.

![image](https://user-images.githubusercontent.com/1659457/29737139-da3109c4-89bd-11e7-9ad6-e54680ca8097.png)

[2017-08-27 18:42] lvdmaaten commented on #139
This logic is implemented in Plotly, not in visdom: https://github.com/plotly/plotly.js/blob/5da37913cb2d52ed3ad9b161b66f361a142ca1e1/src/components/modebar/buttons.js#L48,L70

So you would have to report this issue on Plotly's Github issue tracker.

[2017-08-27 18:42] #139 closed

[2017-08-29 02:42] allenye0119 opened #140 "options.columnnames not working"
According to [README.md](https://github.com/facebookresearch/visdom/blob/master/README.md), bar plot (and some other plot types) has a `columnnames` option, but when I try it, it doesn't has any affect on the plot. And then I found out that in [demo.py](https://github.com/facebookresearch/visdom/blob/973caab69699172d554f26a58a964c6034d6016e/example/demo.py#L130), `rownames` is used instead of `col

[2017-08-29 14:42] lvdmaaten commented on #140
The use of `rownames` appears correct in the demo you mention: the labels correspond to rows in the matrix `X`.

[2017-08-30 02:31] allenye0119 commented on #140
The problem that I encountered is that when `X` of `vis.bar` is a 1-D array, setting `options.columnnames` doesn't seem to set the label on x-axis, but setting `options.rownames` does. However, according to the documentation, setting `options.columnnames`  should do the job. Also, `options.rownames` isn't even documented.

[2017-08-30 08:38] MangoChao opened #141 "nothing shows up on the local client"
when i run the python example code on jupyter notebook ,nothing shows up on the client and there is no error. i'm running python3.5.2 on windows, with visdom 0.1.5 pip installed.
i'm running the code:
[code]
the putput is `'pane_356f8b50f9580a'`. it seems to be correctly creating a pane, but there is nothing showing up on http://localhost:8097/. and the visdom server gave:
[code]
any idea about wh

[2017-08-30 17:09] DonYum commented on #92
@zizhaozhang Is that work?

[2017-08-30 21:17] lvdmaaten commented on #141
Is this specific to running from Jupyter notebook? That is, does it work when you use visdom from the Python CLI or a Python script?

Is this happening on all browsers? Does the JavaScript Console show any errors?

[2017-08-30 21:20] lvdmaaten commented on #140
Yes, the `README.md` is incorrect here. Pull request: https://github.com/facebookresearch/visdom/pull/142

Thanks for flagging this!

[2017-08-30 21:47] #140 closed

[2017-08-31 05:09] ajabri commented on #141
Can you surface the Developer Console in your browser and post any error messages that show up on the browser end? With Chrome you can get this in 'View'->'Developer'->'Javascript Console'.

[2017-08-31 06:28] allenye0119 opened #143 "Shape of X in updateTrace"
Is there a reason why when updating a line plot with multiple lines, we have to repeat the value of X so that it matches the shape of Y:
`vis.line(X = np.array([[4,4,4]]), Y = np.array([[4,5,6]]), win="line1", update="append")`
while creating a line plot with multiple lines, we can simply do
`vis.line(X = np.array([1]), Y = np.array([[1,2,3]]), win="line1")`?

[2017-08-31 14:43] lvdmaaten commented on #143
The logic for doing the "broadcast" of `X` is not implemented [here](https://github.com/facebookresearch/visdom/blob/master/py/__init__.py#L618;L620). Something akin to [this](https://github.com/facebookresearch/visdom/blob/master/py/__init__.py#L628;L629) should be executed there. Feel free to submit a PR implementing this!

[2017-08-31 15:25] allenye0119 commented on #143
OK, I'll submit a PR in one or two days.

[2017-08-31 17:07] zizhaozhang commented on #92
Hi DonYum, I realized that is because the authority limitation of the proxy of my machine. You should check you proxy of you machine.
Not the problem of visdom.

[2017-09-01 16:31] dzimmerer opened #145 "Disable global scrolling while on an image"
The whole window moves, while trying to zoom in on an image.

This is really very annoying  and sometimes leads to very unwanted results.

(Sadly I'm no react wizard so I cant do anything about it on my own =''( (except from disabling scrolling and setting the image width and height to 100% which I think is also a good solution) )

[2017-09-01 20:48] lvdmaaten commented on #145
Thanks for reporting! I will land a fix for this soon.

[2017-09-01 21:50] #145 closed

[2017-09-03 22:26] skelleher opened #146 "Do not globally enable logger.INFO messages"
server.py enables INFO messages for the root logger:

`logging.getLogger().setLevel(logging.INFO)
`

This, in turn, enables INFO messages for every included module.
This is super-annoying because every call to Visdom prints tornado messages to STDOUT:

[code]
Because server.py is a separate process, users can't even disable the logging from our code; we have to modify server.py.

Visdom should pro

[2017-09-04 12:03] hellozgy commented on #141
I get the same problem, I have tried the chrome and the firefox. I open the Javascript Console and the error info is like this:
react-grid-layout.min.js Failed to load resource: net::ERR_NAME_NOT_RESOLVED
Uncaught ReferenceError: ReactGridLayout is not defined
    at Object.<anonymous> (main.js:1)
    at t (main.js:1)
    at Object.<anonymous> (main.js:1)
    at t (main.js:1)
    at main.js:1

[2017-09-04 20:03] lvdmaaten commented on #146
Agreed. I will send out a fix soon.

[2017-09-05 04:09] zlmoment opened #147 "The 'title' for heatmap is not shown when used with line"
When I only use the heatmap and `opts=(title='some words')`, the title will show up. However, when a heatmap and a line graph are used together, the title of heatmap will disappear.

For example, the following codes will show a heatmap with a title:

[code]

and the following codes will only show a title in the line graph:

[code]

[2017-09-05 04:43] ajabri commented on #118
In the above I mean `clear` and then reload your page.

[2017-09-05 07:36] mottosso opened #148 "Serve over HTTPS"
Is there any way to tell Visdom to make requests over HTTPS as opposed to HTTP?

When setting up a reverse proxy with HTTPS, pointing to `localhost:8097`, I get these messages (Chrome).

[code]

Which is fine for development purposes, however I also receive this error message that I'm not sure how to resolve.

[code]

And this (Edge)

[code]

For completeness, here's the Caddy configuration on how

[2017-09-05 14:01] #146 closed

[2017-09-05 20:38] lvdmaaten commented on #148
I think in order to do this, we would have to make changes akin to this to `py/server.py`: https://stackoverflow.com/questions/20636145/tornado-ssl-certs?answertab=votes#tab-top

The basic idea is to pass a key-file and a cert-file into a tornado `HTTPServer`, and then run the server on port 443.

I think I would prefer to keep the default behavior as-is though: my hunch is quite a few users may w

[2017-09-05 20:45] mottosso commented on #148
I'm also uncertain about how exactly it can be done, but I don't think we need to involve certificates if certificates are handled by the reverse proxy; I think all we would need to do is have the Visdom web application make requests using the string `https://` rather than `http://`. It'd be for addresses requested from itself, such as for it's CSS and Javascript assets.

If that doesn't sound fam

[2017-09-05 20:57] lvdmaaten commented on #148
If that's the case, perhaps adding something like this may do the trick?
[code]

You would presumably have to add it [here](https://github.com/facebookresearch/visdom/blob/master/py/server.py#L180) (and hide it behind some input flag).

[2017-09-07 04:13] #89 closed

[2017-09-08 11:57] JanNogga opened #149 "[feature request]Enable passing markersize as a tensor"
It would be useful to create plots with points of different markersize. Currently, coloring points differently is supported by specifying the colors in an N, Nx3, or K and Kx3 tensor, N being the number of data points and K the amount of labels:
[code]
However, marker size is just a number.

[2017-09-09 21:59] ashwin-cognitiv commented on #100
I'm having a similar error. Did you find any fix?

[2017-09-10 08:23] zlmoment commented on #147
It turns out when updating the graph we also need the opts parameter. I didn't pass the opts parameters to the updating function.

[2017-09-10 08:23] #147 closed

[2017-09-11 05:55] xjtu-zeng opened #150 "How to draw a histogram with each bar different color?"
How to draw a histogram with each bar different color?

It seems there no options for the color of histogram or bar.

[2017-09-11 12:41] skrish13 opened #151 "env json file"
Where does the env json file exist? i can only find the `main.json` in `$HOME/.visdom/`. What about the json file of other environments? I dont save them explicitly, should I save them explicitly inorder to delete them? Even then where does it get stored by deafult and under what name?

Thanks in advance :)

[2017-09-11 13:41] lvdmaaten commented on #150
If you set `opts.stacked` to `False` and you make sure `X` has multiple columns, the bars will be grouped. Each bar in a group will have a different color.

Does that answer your question?

[2017-09-11 13:45] lvdmaaten commented on #151
All the env JSON files should get saved into the same folder (which is `~/.visdom` by [default](https://github.com/facebookresearch/visdom/blob/master/py/server.py#L93)). The name of the env equals the name of the file.

If you delete an env file in this folder, you may have to reload the server / reload visdom in your browser for the changes to take effect.

[2017-09-11 15:36] skrish13 commented on #151
Yes, I think what you said works when I **save** an environment. But if I don't save it manually (by clicking on `save` button) then there's no concept of **deleting** it? Is it because it doesnt save automatically? If it does, i don't find it in `$HOME/.visdom/` but i do find when manually saved (by clicking `save` button)

So, in that case I have one doubt, What does reloading the **server** do?

[2017-09-11 18:00] lvdmaaten commented on #151
Yes, I think unsaved environments ought to disappear if you don't save them.

[2017-09-11 18:02] skrish13 commented on #151
Cool. Thanks a lot :D. I will try it once my machine gets free. Closing it now :) ,will reopen in-case I find anything wrong.

[2017-09-11 18:02] #151 closed

[2017-09-14 03:22] NickYi1990 commented on #141
same problem here, nothing show up~

[2017-09-14 15:15] ChuXiaokai commented on #141
same problem here :(

[2017-09-14 18:29] praveenofpersia commented on #141
One thing that might be worth checking on the client is if your browser can connect to (load-pages/fetch-scripts from) the internet. `visdom` relies on some external resources (like react) which needs to be fetched from the web/CDNs using URIs.
(Make sure your proxy (if any) is set correctly in the browser etc. )

[2017-09-14 20:21] ajabri commented on #141
Yes, please check out #111 .

[2017-09-18 02:12] HenryZhou7 opened #152 "Visdom cannot plot small numbers?"
I was using viz.line() tool to plot learning curves. When I am trying to overfit on a small dataset, the loss quickly converges to 0 from around 1. But visdom seem not to plot very small numbers. I am talking about something in 1e-6 or 1e-9 in magnitude.

Is this a normal issue?

[2017-09-18 07:37] KeyKy opened #153 "Could you show me how to draw a Confusion Matrix"

[2017-09-18 07:37] KeyKy commented on #153
Thanks!

[2017-09-18 08:19] #153 closed

[2017-09-18 08:38] KeyKy opened #154 "how to plot multi lines text with '\n'"
viz.text plot multi lines in one line.

[2017-09-18 09:51] MangoChao commented on #141
@lvdmaaten @ajabri @praveenofpersia Thank you very much, it works now. It's the same issue as [#111](https://github.com/facebookresearch/visdom/issues/111) and [#128](https://github.com/facebookresearch/visdom/issues/128). The  Developer Javascript Console shows that **the browser can not fetch the following external javascript dependencies from the web**:
[code]
**This problem can be solved by do

[2017-09-18 09:56] #141 closed

[2017-09-18 10:57] MangoChao commented on #141
#111 #128

[2017-09-18 11:27] KeyKy commented on #120
@shubhamjain0594 could you tell me how to plot text with '\n' in your picture?

[2017-09-18 19:12] ajabri commented on #154
You can use '<br>' (as usual with HTML).

[2017-09-21 22:47] daavoo commented on #154
You can replace `\n`with `<br> ` and it will work.

From the vis.text section of the Readme:

`This function prints text in a box. You can use this to embed arbitrary HTML. It takes as input a text string. `

[2017-09-23 17:19] Valkeanaa opened #155 "Solved: How to use several plot methods on the same plot render?"
Hello,
I'm testing visdom with some ML code and I'm stuck trying to stack different types of plots in the same plot window...

For instance, If I plot my dataset using the scatter plot, how can I also draw some lines or curves over this very same plot in order to illustrate a decision boundary or the line of the prediction function once the thetas parameters are found?

I tried the code provided i

[2017-09-24 14:47] Valkeanaa commented on #155
I found a solution to solve this problem...

Here is a small example:

`import visdom
vis = visdom.Visdom()

data = [{
                'x':[1,2,3],
                'y':[4,5,6],
                'marker':{
                        'color': 'red',
                        'symbol': 104,
                        'size': "10"},
                'mode':"markers+lines",
                'text':["one","two","t

[2017-09-24 16:26] #155 closed

[2017-09-24 19:55] jkarimi91 opened #156 "how to programmatically check if the visdom server is running?"
Is there a way to do this?

[2017-09-25 01:30] #154 closed

[2017-09-25 01:36] lvdmaaten commented on #152
What do you mean by "visdom [does] not ... plot very small numbers"? It rounds them to zero?

I presume this is related to what happens to numbers when they're serialized by `json.dumps`: https://github.com/facebookresearch/visdom/blob/master/py/__init__.py#L240
There are several topics about how to change the rounding behavior of this function on StackOverflow, but most of them seem to involve ge

[2017-09-25 01:39] lvdmaaten commented on #156
I don't think there is any other way of doing this than by sending a plot and monitoring the response obtained in https://github.com/facebookresearch/visdom/blob/master/py/__init__.py#L242

Feel free to add a `check_connection` that creates an empty plot and closes it again to check the connection.

[2017-09-25 01:40] lvdmaaten commented on #149
Sounds like a reasonable feature. Feel free to submit a PR implementing this!

(Please make sure that the current behavior is still supported after your changes.)

[2017-09-25 18:15] weikaichenusc opened #157 "Update mesh plot in a single window"
Hi!

Is there any function that supports updating mesh plot in a single window (similar to updateTrace) instead of creating a new window for mesh plot every time? It could be very useful if we wanna check out the status of synthesized mesh output.
Thanks a lot!

[2017-09-26 02:17] ThibaultGROUEIX opened #159 "Add colors at the vertex level"
Is there anyway to add color at the vertex or face level instead of defining a global color for the entire mesh?

[2017-09-26 03:51] ajabri commented on #157
You can do this by using the same `win` id when you make the mesh plot call.

[2017-09-26 04:21] weikaichenusc commented on #157
Got it! It works, thanks!
Btw, how to tune the default view angle of the mesh plot?

[2017-09-26 08:45] KeyKy commented on #154
Thanks!

[2017-09-26 09:16] SilvesterHsu commented on #111
@zengyu714 I met many issues concerning `visdom` since March. This is one of it. Sometimes I am lucky to load the page, sometimes I got blank blue page. But I had never been considering this as an error. Presently, I add CDS into proxy rules, it works fine now.

[2017-09-26 10:48] shubhamjain0594 commented on #120
@KeyKy I have used table above. But for plotting `\n`, just replace it with `<br>`.

[2017-09-26 13:49] lvdmaaten commented on #157
I may have missed it, but Plotly doesn't seem to have an option for that at the moment: https://plot.ly/python/reference/#mesh3d

[2017-09-26 15:46] dendisuhubdy commented on #119
@ajabri Tried this but it didn't work, I got this error

[code]

[code]

[2017-09-26 15:55] JackUrb commented on #159
Given the current [plot.ly library](https://plot.ly/javascript/3d-mesh/) there is no clean way to implement something like this. Both `mesh` and `mesh3d` either only take a singular color or they use a 'colorscale' (which we currently don't support with mesh, but which you can access by creating a [generic plot](https://github.com/facebookresearch/visdom#generic-plots)).

Colorscales provide the a

[2017-09-26 20:29] ThibaultGROUEIX commented on #159
Hi Thanks a lot ! Getting colorscale to do what I wanted was too hard, but with your help, I manage to color different parts of the mesh by splitting it like 👍
[code]

[2017-09-26 20:31] #159 closed

[2017-09-27 21:31] ajabri commented on #119
You need to wrap the arguments you give to _send as a `dict`.

[code]

[2017-09-27 22:55] dendisuhubdy commented on #119
@ajabri thanks!

[2017-09-28 00:41] chenweikai commented on #157
Okay, got it! Thanks!

[2017-09-29 10:28] kuc2477 commented on #134
Is there any progress in this feature?

[2017-09-29 13:27] shouguicai opened #161 "How to install visdom on a linux server which can't reach the internet?"
I have just upload the package download by own computer and upload it to the server,
cd to the path of visdom and try python setup.py install.

![11](https://user-images.githubusercontent.com/5772802/31017916-bde7aeca-a55c-11e7-9e44-489374d34f1e.PNG)
when i run python -m visdom.server, it does't print 'It's Alive' and i can't reach it by my chrome.
![22](https://user-images.githubusercontent.com/5

[2017-09-29 13:37] lvdmaaten commented on #161
The dependencies on external libraries at run-time were fixed by https://github.com/facebookresearch/visdom/commit/b5bca2ec536ca64af933019b25720ed935025fcb. Have a look at the `download_scripts()` function in that commit. If your server cannot access the internet, you basically want to download the packages listed there manually, and `scp` / `rsync` them into the location described in the function

[2017-09-29 13:38] lvdmaaten commented on #132
Are you sure there isn't another concurrent visdom process still running that is blocking the port? Closing this since it does not appear to be a visdom issue.

[2017-09-29 13:38] #132 closed

[2017-09-29 13:39] #150 closed

[2017-09-29 13:39] #157 closed

[2017-09-29 13:39] #152 closed

[2017-09-30 06:39] shouguicai commented on #161
Thanks for your reminder. Problem solved.

[2017-10-01 14:57] #161 closed

[2017-10-01 22:00] jkarimi91 commented on #156
@lvdmaaten is there some sort of documentation for contributing, other than `CONTRIBUTING.md`;  I am having issues developing locally despite the instructions in the md file.

As noted in the my [SO post][1],  I have:
  1.  locally cloned a fork of the repo
  2. made modifications under a new branch (which is built off `master`)
  3. building the new branch within a `conda` env:
[code]

Running pi

[2017-10-03 16:08] JackUrb commented on #143
This was fixed in a separate issue but never closed, closing now. Thanks for the PR!

[2017-10-03 16:08] #143 closed

[2017-10-03 16:23] JackUrb commented on #61
Closing for inactivity

[2017-10-03 16:23] #61 closed

[2017-10-03 16:44] JackUrb commented on #124
Fixed in https://github.com/facebookresearch/visdom/pull/160

[2017-10-03 16:44] #124 closed

[2017-10-04 11:14] EtienneDesticourt opened #162 "Inconsistent naming (win/pane)"
Functions take a win (window) argument but the documentation refers to windows as panes, and the window id returned is "pane_UID".
It's inconsistent and confusing.

[2017-10-04 13:58] lvdmaaten commented on #162
Good point. I would propose to adapt the phrasing in the documentation (rather than changing the `win` name, which would be a breaking code change).

[2017-10-04 18:58] IssamLaradji commented on #100
+1. This would be very useful. I would also love to have a function that tells me whether a window exists to avoid overriding it when I am running independent experiments.

[2017-10-04 19:05] IssamLaradji commented on #116
Hi @ASpeiser,  did you manage to find/write a function that returns `True` if the window exists ?

[2017-10-04 19:24] IssamLaradji commented on #116
This is my current workaround, which seems to work fine for my needs:
[code]

[2017-10-04 22:45] ajabri commented on #100
Ah, I think there needs to be a 'type' field in each data entry:
[code]
This requirement should probably removed eventually.

[2017-10-05 07:28] jkarimi91 commented on #156
Expect a PR soon, the python side is complete but not the torch side; I have been unable to successfully setup torch on my machine. I opened an issue on the torch7 issue tracker and am waiting to hear back.

[2017-10-06 14:01] JackUrb commented on #72
moved from options to opts in 135525a224fe4b7bf859768517ef7e9344c0b570

[2017-10-06 14:01] #72 closed

[2017-10-06 14:04] JackUrb commented on #156
Hi @jkarimi91, as of 1753e20f4ba805cb94d3646d472c53bc8d990a2a we've converted the Lua code to be a wrapper around the python code, so the python code is certainly more valuable.

[2017-10-06 18:47] JackUrb commented on #116
Hi @ASpeiser @IssamLaradji, we just added this functionality in 99e675c41a4f95732ecdf355b125777ae3152be6. You should be able to call `viz.win_exists` with the window ID to see if it exists on the server yet.

[2017-10-06 18:47] #116 closed

[2017-10-07 06:41] jkarimi91 commented on #156
Thanks @JackUrb; expect a PR tomorrow.

[2017-10-09 12:35] plumdeq opened #165 "Fails to launch demo.py"
It appears that I cannot properly run the provided `examples/demo.py`, below is the dump of my shell window. I am using the version available via `pip`.

[code]

[2017-10-09 14:57] lvdmaaten commented on #165
The demo you're running is for a visdom version that is newer than the current pip version. Please run the demo that comes with the pip version, or do a visdom install from source using `pip -e`.

We will be updating the pip version of visdom shortly.

[2017-10-09 14:57] #165 closed

[2017-10-09 23:41] jkarimi91 commented on #156
This functionality was added in https://github.com/facebookresearch/visdom/commit/0d1e78bc6b99cabb9861ccbd598bfe978b59399f. You can now call `viz.check_connection()` to see if the server is connected.

[2017-10-09 23:41] #156 closed

[2017-10-11 19:24] lvdmaaten commented on #20
Fixed by https://github.com/facebookresearch/visdom/pull/168

[2017-10-11 19:24] #20 closed

[2017-10-12 09:51] pltrdy opened #170 "`NotADirectoryError` when starting server after installing from source"
Hi,

Using `Python 3.6.1 |Anaconda custom (64-bit)`:
[code]
returns:
[code]
---
It was working when I installed using pip, but then I can't run `example/demo.py` because there was no `Visdom.check_connection`.

[2017-10-12 12:59] lvdmaaten commented on #170
I'm no expert on Python installers, but did you try `cd visdom && pip install -e .` rather than running `python setup.py install`?

[2017-10-12 13:25] pltrdy commented on #170
It's even worse:
`Error while finding module specification for 'visdom.server' (ModuleNotFoundError: No module named 'visdom')`

[2017-10-12 13:56] JackUrb commented on #170
@pltrdy I'm investigating what might've happened now

[2017-10-12 14:07] pltrdy commented on #170
(note that I just removed and installed using pip, nothing critical, just sharing this problem)

[2017-10-12 14:52] JackUrb commented on #170
Alright I think I've come to the core of the problem, going to push a fix soon. After moving to setuptools from distutils the installation flow from source is a little different from what is currently in the docs.

If you want to get ahead of the fix, change `zip_safe` in `setup.py` to False, then use `easy_install .` from within the visdom directory rather than `pip`

[2017-10-12 15:20] JackUrb commented on #74
Hi @rooa: I'm trying to reproduce your issue, however I'm only running into it when the browser window itself is at the bottom of my screen. If the browser window is not at the bottom of my monitor I'm able to extend the figure below the page. Are you able to reproduce it in any circumstance other than having the browser window at the bottom of your monitor?

[2017-10-12 23:44] dmitriy-serdyuk opened #171 "Zoom resets after updating plot"
When I zoom in some particular region on a plot and a script calls `updateTrace`, the zoom resets and I have to zoom again. It is especially irritating when plotting a loss curve which updates frequently.

The [plotly example](https://plot.ly/javascript/streaming/) doesn't have this problem.

[2017-10-13 13:29] JackUrb commented on #171
Hi @dmitriy-serdyuk, I can see that this is probably pretty frustrating but I don't see a quick fix that has precedence over working out https://github.com/facebookresearch/visdom/issues/134, especially when that one is likely to change a lot of the server->frontend interactions.

This has a lot to do with how we're sending the update, namely that we currently "destroy" the old content by [updatin

[2017-10-13 13:32] #170 closed

[2017-10-13 15:55] skrish13 opened #172 "Problem with moving env's .json files"
I take the <>.json file and transfer it to another machine's ~/.visdom/<>.json. And restart visdom in the new machine, it should work right? It doesn't.

Right now it shows the env but theres no plots/panes inside it. Its blank blue empty environment....

Would like a fast response. Thanks :)

[2017-10-13 16:03] JackUrb commented on #172
Hi @skrish13, are you seeing any errors in your browser's javascript console or in the terminal you're running the server in? I'm not quite sure where the env contents are getting lost

[2017-10-13 16:13] skrish13 commented on #172
I don't see any errors on the terminal. Not sure about javascript console. Opened the json file to check, it has all the contents...

One thing which i see now (and not before) is

Earlier it was just simple "It's Alive!" (if i remember correctly? maybe I'm wrong)

[2017-10-13 16:15] JackUrb commented on #172
It's likely on the javascript side if you're not seeing any server errors. Can you open the js console on the window you're using visdom in? You can get there using right click -> inspect element and then clicking console.

[2017-10-13 16:19] skrish13 commented on #172
Yes, it says something like this. (For all the panes)

And also this. with a cross on the left most side and highlighted in red (same as above)

[2017-10-13 16:26] JackUrb commented on #172
Ah okay I see the issue - I'll need to push a fix, but the command "pane" was deprecated in  99e675c41a4f95732ecdf355b125777ae3152be6 and I hadn't considered it might break cross-compatibility between versions. The new machine is definitely running a newer version of visdom than the old one. I'm going to push a fix that addresses this and restores backwards compatibility. In the meantime, if you r

[2017-10-13 16:29] skrish13 commented on #172
Ah okay. Yes, the json was created with an older version on visdom. Both machines are on same (master) version only but.

[2017-10-13 16:37] #172 closed

[2017-10-13 23:40] IssamLaradji opened #173 "vis._send is not working"
`vis._send ` doesn't seem to be working.
I ran this code:
[code]
and the output I get is
[code]
As a result, I don't see any pane in my visdom dashboard. I do get a pane if I run `vis.text("hello world")` which tells me that there must be an issue related to `vis._send`.

[2017-10-16 12:20] JackUrb commented on #173
Good catch - We should have this in our demos (which we frequently use for testing our code) to ensure it doesn't break in the future. Pushing a fix to the server soon, though it'll require entering a 'type' in the trace dict, like `type='custom'`. Going to update that in the docs as well.

[2017-10-16 13:12] jdhao opened #174 "can not connect to visdom server On Linux"
I have installed visdom python package on my Linux system After starting the visdom server, I can not open the page `localhost:8097`. I have tried to add `LocalForward 127.0.0.1:8097 127.0.0.1:8097` to `~/.ssh/config`, but it does not help either. I have also tried to install visdom on my Windows computer, and it works fine.

 Any idea how to fix this?

[2017-10-16 14:13] JackUrb commented on #174
I'm not quite familiar with how visdom will act on linux (as I know networking on linux tends to vary by distribution) but it could be possible that routing to localhost isn't properly configured. Are you able to successfully ping localhost via a terminal?

[2017-10-16 14:20] jdhao commented on #174
@JackUrb , I am using CentOS 7.2. When I use `ping localhost:8097`, I get an error:

[2017-10-16 14:21] JackUrb commented on #174
Are you able to ping localhost without the port? just `ping localhost`

[2017-10-16 14:22] jdhao commented on #174
Yes, I can

[2017-10-16 14:27] JackUrb commented on #174
And when you run the server the line `You can navigate to ...` appears, correct? While the server is running, what is the output of `nmap -p 8097 localhost`?

[2017-10-16 14:39] jdhao commented on #174
No, both on Windows and CentOS, when I run the server using `python -m visdom.server`, only the line

appers.

The output of `nmap -p 8097 localhost` on CentOS is

Nmap scan report for localhost (127.0.0.1)
Host is up (0.000087s latency).
Other addresses for localhost (not scanned): 127.0.0.1
PORT     STATE SERVICE
8097/tcp open  sac

[2017-10-16 14:46] JackUrb commented on #174
Hm no other lines - What is the console output when you ctrl c? Also what is the output of `nmap -p 8097 localhost` if the server is not running? Also what browser are you using in CentOS?

I can't tell if the issue is something on tornado's end in not fully starting up or on the side of the browser side

[2017-10-16 14:57] jdhao commented on #174
The output of `ctrl + c` is

  File "/home/jdhao/util/anaconda3/lib/python3.6/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/home/jdhao/util/anaconda3/lib/python3.6/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/home/jdhao/util/anaconda3/lib/python3.6/site-packages/visdom/server.py", line 438, in <module>
    main()
  File "/home/jdhao/util/an

[2017-10-16 15:01] JackUrb commented on #174
Alright this seems to imply the visdom server is running properly (as `nmap` before and after shows the port opening and closing, and the server makes it to `ioloop.IOLoop.instance().start()`). Can you try navigating to `127.0.0.1:8097` in your browser instead of using localhost?

[2017-10-16 15:13] jdhao commented on #174
Whether I use `localhost:8097` or `127.0.0.1:8097`,  after a long time of loading, I see on CentOS the following
![image](https://user-images.githubusercontent.com/16662357/31619533-5f2ce062-b2c7-11e7-9f31-74e35ad11dd1.png)

While on Windows, I see this
![image](https://user-images.githubusercontent.com/16662357/31619574-7edf9558-b2c7-11e7-9d1f-748a88a97835.png)

The upper tool bar is not shown in

[2017-10-16 15:15] JackUrb commented on #174
Ah alright so the page does eventually load at least - can you check the contents of the javascript console in the window on CentOS? It's possible that some of the dependancies are not getting loaded for some reason.

[2017-10-16 15:19] jdhao commented on #174
On CentOS, the output of javascript console is
![image](https://user-images.githubusercontent.com/16662357/31619862-563f543e-b2c8-11e7-8fa6-349192e8fe3b.png)

And on Windows, it is
![image](https://user-images.githubusercontent.com/16662357/31619906-6e4a4d68-b2c8-11e7-98d7-f1e2e687c72f.png)

Maybe this is the cause. But how to solve this...

[2017-10-16 15:21] #173 closed

[2017-10-16 15:23] JackUrb commented on #174
Yeah the issue is definitely there - where is it trying to load those files from? You should be able to see on the network tab.

[2017-10-16 15:25] jdhao commented on #174
I think I have found the root cause. Thanks to the f**king GFW. On my windows, my browser connect to internet via proxy, but on CentOS, there is no proxy.  So some of the resources can't be loaded properly on CentOS.

[2017-10-16 15:30] JackUrb commented on #174
Ah that would definitely explain it. I know it's possible to connect through a proxy on CentOS, though I'm not sure how easy it is. Hopefully you'll be able to use visdom properly once you have that set up though!

I'm going to close the issue now that we're sure it's external to us

[2017-10-16 15:30] #174 closed

[2017-10-16 15:32] jdhao commented on #174
Ok, thanks for your help and patience~ 👍

[2017-10-18 04:23] shubhamjain0594 opened #175 "Error while running Demo file"
While running [scatter](https://github.com/facebookresearch/visdom/blob/master/example/demo.py#L92) in demo.py, raises an error:

[code]

This is because in opts['markercolor'] has keys as class numbers not strings. Which is being set [here](https://github.com/facebookresearch/visdom/blob/master/py/__init__.py#L612).

One way to solve is by deleting markercolor from opts if it exists since we are

[2017-10-18 11:56] teracamo opened #176 "If client is behind a firewall, which port should I forward?"
I am currently hosting the server over a DMZ IP, but when ever my client is behind a router, the server will display offline after loading the site. I figure it might be listening to updates, but the port is not fowarded

[2017-10-18 13:22] JackUrb commented on #176
If clicking the `offline` button to try and toggle it to online doesn't successfully work, I'd suggest trying to forward the port that the visdom server is communicating on (`8097` by default).

[2017-10-18 13:42] JackUrb commented on #175
Strange, I'm not running into the same issue - out of curiosity is this something that was newly introduced for you? (does it happen if you install earlier versions of visdom?)

Removing markercolor from opts right before the `_send` call does seem like it would solve the issue without breaking anything, so if it fixes it for you I'd accept that (as it would fix it for any others that might be hav

[2017-10-18 14:22] shubhamjain0594 commented on #175
I am running Python3.6.

Tried using fresh install of visdom by uninstalling and then doing `pip install visdom`. Then tried running demo.py by commenting out `check_connection` and `win_exists` api calls. Still the same error persists.

Will send the PR right away.

[2017-10-18 15:43] teracamo commented on #176
The offline button remains red after clicking. And I tried forwarding 80, 8097, 8080, 8000, they all dosen't seemed to work

[2017-10-18 15:59] teracamo commented on #176
I further tested and it seems that only clients within the same intranet can gain access to the server through a post request issued by main.js where the only param is "sid". If client is not within the intranet, it wouldn't give out this post request.

[2017-10-18 16:07] JackUrb commented on #176
The issue is coming before the sid post request. If the button never turns green, the [socket](https://github.com/facebookresearch/visdom/blob/master/js/main.js#L149) is never being opened. Are there any errors in your js console when clicking the button?

[2017-10-18 19:32] abisee opened #177 "Reconnect to a window after starting new Python session"
Thanks for this project! I'm using it to do something like Tensorboard for training deep learning models.

I'm using visdom to plot a line graph of the loss function as I train. Sometimes I need to stop training, then restart it again. When I restart, is there some way I can connect to that same window, and continue appending points to the graph?

For example, is there some way to assign a unique

[2017-10-18 19:35] JackUrb commented on #177
Yup this is definitely doable - If pass a value in for `win` when creating the window the first time and then save the env, on a future run you can use `updateTrace` on that same `win`. Let me know if you have any trouble getting this to work.

[2017-10-18 23:47] abisee commented on #177
Thanks @JackUrb!

Where can I find the API for `updateTrace`? I'm trying to use it but I don't know what arguments it should take.

[2017-10-19 00:08] abisee commented on #177
OK, I think I've figured it out. Posting my solution here if useful for other people:

[code]

[2017-10-19 04:10] teracamo commented on #176
I can see the "socket" request is published, but the response is empty. Also there were no javascript error, only some warning:
[code]
![untitled](https://user-images.githubusercontent.com/11690091/31753872-1f0b1fd4-b4c6-11e7-8947-c0570e10cb7f.png)

I also suspect if root privilege is required to host the server?

[2017-10-19 11:39] lvdmaaten commented on #176
Are you sure you are on the latest version of visdom?

We recently changed the behavior of visdom: rather than having the JavaScript code rely on external JS scripts that may sometimes be unavailable, we now switched to a model in which the server downloads all external JS scripts at launch time and serves them to the client. Users may still suffer from 404 errors in the new setup, but then the 40

[2017-10-19 11:41] #177 closed

[2017-10-19 11:41] lvdmaaten commented on #177
Thanks for posting your solution!

[2017-10-19 11:43] lvdmaaten commented on #148
@mottosso Did you get a chance to test this potential solution?

[2017-10-19 14:05] mottosso commented on #148
Hi @lvdmaaten, I did not, and have since moved on to other projects. Sorry about the noise.

[2017-10-20 07:50] shubhamjain0594 commented on #175
@JackUrb if you look at how opts['markercolor'] has been handled in `vis.scatter` and `vis.updateTrace` i.e [here](https://github.com/facebookresearch/visdom/blob/master/py/__init__.py#L621) and [here](https://github.com/facebookresearch/visdom/blob/master/py/__init__.py#L552) respectively is bit different. I did not dive into this problem but was curious to know why such difference.

If both of t

[2017-10-20 10:32] andrewssobral opened #179 "Question: how to make plots into the Visdom Server from other languages? (eg. C++, Java, ...)"
There is a REST interface or a specific HTTP request for that? Thank you!

[2017-10-20 11:14] lvdmaaten commented on #179
There are currently no code examples showing how to do this, but it is certainly possible. All plotting functions in the Python client generate a JSON data structure describing the plot contents, and post the JSON to the server: https://github.com/facebookresearch/visdom/blob/master/py/__init__.py#L246
The JSON format is defined by Plot.ly. Hence, you can generate the appropriate JSON in C++ or Ja

[2017-10-20 12:30] andrewssobral commented on #179
Great! Thank you for the detailed information @lvdmaaten

[2017-10-20 12:30] #179 closed

[2017-10-20 12:48] geekvc opened #180 "python example goes well but lua example failed"
th
[code]
I also added  `LocalForward 127.0.0.1:8097 127.0.0.1:8097`  at the start of ~/.ssh/config file.
when I post the message by `vis:text{text = 'Hello, world!'}`, error occured like follows:
[code]
Can anyone tell me why and how to solve it, Thank you very much in advance!

[2017-10-20 13:56] JackUrb commented on #175
From what I see it would appear that `updateTrace` is actually just not properly handling the `markercolor` in the way that `scatter` is. `scatter` is using a correct implementation, while `updateTrace` appears to be using an early format that we moved away from. It should be updated to use `scatter`'s handling at some point

[2017-10-20 13:58] JackUrb commented on #180
Hi @geekvc! How did you install visdom? What version are you running? It's possible that this is a discrepancy between what is currently in the pip package and what is in our github project

[2017-10-21 04:40] geekvc commented on #180
I installed visdom by `pip install visdom`
My runing version is visdom-0.1.5
It seems to be a version difference
and I `sudo pip uninstall visdom` successfully
and ` luarocks remove visdom` successfully
and `git clone https://github.com/facebookresearch/visdom.git`
[code]
It said `Found existing installation: visdom 0.1.6`
but, when I tested with python
[code]
I also tried the command  `sudo easy_

[2017-10-22 12:40] shubhamjain0594 commented on #175
Do we even need `updateTrace`? We can handle it with if else function at end of `scatter`, only difference is `endpoint` argument and handling `name` in case of `updateTrace`. What is the exact utility of `updateTrace`?

[2017-10-23 03:25] teracamo commented on #176
Actually I have two machines testing on the same matter, one is an intranet server with updated visdom but no control to firewall rules of client-server traffic, another is an internet server with ```pip install visdom`` version, but I have full control of the firewall. Both showed the same symptoms. I will try to update the internet server first.

About that proxies, would there be any documents

[2017-10-23 13:40] JackUrb commented on #180
We'll be updating the pip package rather soon, however in the meantime can you post the output of `which pip` and `which python`? If `pip install -e` succeeded but python can't find it it's possible pip is installing to a different area.

[2017-10-23 13:42] JackUrb commented on #175
To my knowledge updateTrace was supposed to be a catch-all function that we might expand in the future to update more than just scatter plots, but that hasn't quite happened yet.

[2017-10-23 13:49] JackUrb commented on #176
You can see what to provide proxies [here](https://docs.python.org/3/library/urllib.request.html#urllib.request.ProxyHandler). Examples can be found by finding examples of the ProxyHandler class, but the general idea is it takes a dict that maps connection protocols ('http', 'https', etc.) to proxy ip addresses.

[2017-10-23 14:51] shubhamjain0594 commented on #175
How about rather than calling `updateTrace` before any processing is done, we call it after the processing specifically required for that function (say `line` or `scatter`) is completed. So `updateTrace` will be called right before  `self._send` is called in the function end.

[2017-10-23 15:03] JackUrb commented on #175
I'd be happy with that kind of solution. Sure, updateTrace would become a wrapper around the functionality of updating, but it at least it would make the logic consistent.

[2017-10-24 12:52] SMZCC commented on #174
#### 你好
jdhao，
- 我遇到了和你一样的问题(我是Ubuntu 16.04  firefox / chrome)，请问下，你是怎么解决的，那个proxy是啥？该怎么设置（萌新瑟瑟发抖 :cry )
#### 谢谢 @jdhao

[2017-10-24 13:07] jdhao commented on #174
@SMZCC, I think using English is preferred.  Actually I have not spent my time to solve this problem. There are two ways I can think of to solve this problem, one is to set up your browser and connect to any website via proxy (so you have to install a shadowsocks client on your Ubuntu). Another way is to download the blocked javascript resource and put it somewhere the visdom page expect them to b

[2017-10-24 13:28] geekvc commented on #180
My which pip is `/home/wangty/.pyenv/shims/pip` and
which python is `/home/wangty/.pyenv/shims/python`
I am looking forward to the new version very much.
Thank you for your attention!

[2017-10-24 15:30] SMZCC commented on #174
- 感谢如此快速的回复
- 羡慕你的英语这么好 👍
- proxy和那个shadowsocks都没有用过，我先搜搜看
- 祝好

[2017-10-24 15:48] jdhao commented on #174
@SMZCC , I would rather advise you to try this tool, https://github.com/lanpa/tensorboard-pytorch.
There are not so many free shadowsocks that you can use. For beginners, it may not be so easy to configure to make it work. Try the simpler way~

[2017-10-24 16:22] JackUrb commented on #174
Hi @SMZCC @jdhao. It definitely is possible to download the required scripts manually and store them in the location that visdom expects them. We used to make these packages install during the initial download and setup, but then it was impossible to get visdom when our external content distributors were down.

[Here's](https://github.com/facebookresearch/visdom/blob/master/py/server.py#L538) the

[2017-10-25 01:43] SMZCC commented on #174
- 感谢，tensorboard还有点会 ,可以试一试 @jdhao
- Hi @JackUrb
- Thank you for your reply, however, I am a green hand who even can't understand the code you marked, sorry :crying_cat_face:
- Does location stored in key mean the location in ext_files?
[code]
- Does the location mean the download link or anything others?
- How can I get the download link?
- Where can I know the expected location of  the server?

[2017-10-25 13:53] JackUrb commented on #174
I used the line `print ('download from {} and put at {}'.format(key,filename))` right before [this](https://github.com/facebookresearch/visdom/blob/master/py/server.py#L610) one to be able to get the following:

[code]
You will need to find out where your visdom package folder is, as in my case it is `/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/visdom` but it migh

[2017-10-26 03:05] jcx1989 opened #181 "no res on the pane"
hello:i install screen and visdom,but when i try to run the example,just print 'pane_359c2835364460',it does not show the text-"hello world" on the pane,why?
thanks!

[2017-10-26 14:12] JackUrb commented on #181
Are you using the version of visdom currently on pip - `pip install visdom`? We're having issues updating to the version that the demos requires, which is the version that can be built from source with `pip install -e` while inside the visdom folder.

[2017-10-27 15:00] JackUrb commented on #181
Hey @jcx1989 - we just updated visdom on pip to version 1.6.1 (which supports all the demo features), so you should be able to run `pip install --upgrade visdom` and try the demo now. Let me know if this solves the issue!

[2017-10-27 15:01] JackUrb commented on #180
Hi @geekvc - We were just able to upload the correct version of visdom to PyPI. You should be able to use it after running `pip install --upgrade visdom`. Let me know if this solves the issue for you!

[2017-10-27 15:59] abisee opened #183 "Feature Request: Programmatically resize window?"
I'd like to be able to define the width and height of a window programmatically. So far I can only find `opts.width` and `opts.height`, but those (a) resize the *figure* but not the *window* and (b) isn't available for e.g. text windows, which I'd also like to resize. Is there some way to programmatically resize a window?

[2017-10-27 16:11] JackUrb commented on #183
Currently visdom doesn't support programmatically sizing windows, however we wouldn't be against supporting such functionality moving forward. If you're interested in contributing to such a feature, it would entail adding an additional pair of options (`win_width` and `win_height`) seem appropriate. One tricky thing you may run into looking at the code is that on the frontend windows are referred

[2017-10-27 17:18] geekvc commented on #180
Good job, this command solved my issue.
Thank you very much for your great work!

[2017-10-27 18:30] #180 closed

[2017-10-29 03:57] lpplbiubiubiub opened #184 "stucked when start server"
When I start server use "python -m visdom.server", I found the code is stucked and there is no response.  I terminated  this and got this:
`File "/usr/lib/python2.7/runpy.py", line 162, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "/usr/lib/python2.7/runpy.py", line 72, in _run_code
    exec code in run_globals
  File "/usr/local/lib/python2.7/dist-packages/visdom-0.1.6.1

[2017-10-29 06:04] lpplbiubiubiub commented on #184
Because of GFW...

[2017-10-29 06:04] #184 closed

[2017-10-29 14:44] huoliangyu opened #185 "Connection timed out : when using python -m visdom.server"
Hi, when I use
`python -m visdom.server`
to start visdom server, I got Connection timed out error as following:
`Traceback (most recent call last):
  File "/root/anaconda2/envs/gtn_env/lib/python3.6/urllib/request.py", line 1318, in do_open
    encode_chunked=req.has_header('Transfer-encoding'))
  File "/root/anaconda2/envs/gtn_env/lib/python3.6/http/client.py", line 1239, in request
    self._sen

[2017-10-29 22:10] lvdmaaten commented on #185
Visdom downloads some external JS dependencies at server start-up time. It looks like those downloads fail for you. Do you need a proxy to be able to access public URLs from your machine?

[2017-10-30 13:19] huoliangyu commented on #185
Thanks for your suggestion . However,  It seems that I don' t need a proxy, since another machine is able to run the visdom server normally with the same Internet setting as mine. Is there any possible for other problems ? Thanks a lot.

[2017-10-30 13:20] JackUrb commented on #184
It's possible to get visdom to work despite the firewall if you're able to get the download the dependancies separately (however you can accomplish that) and then put them into folders as detailed in #174

[2017-10-30 13:27] JackUrb commented on #185
Still, if your `urllib` module is up to date it would seem at least one of the packages must be failing, though it's hard to say which one. Can you list the contents of your `/root/anaconda2/envs/gtn_env/lib/python3.6/site-packages/visdom/static` directory and sub directories?

[2017-10-30 14:36] huoliangyu commented on #185
Thanks for reply. The directory  "............../static" contains :
`css  fonts  index.html  js`
The directory  "............../static/js" contains:
`bootstrap.min.js  jquery.min.js  main.js  react-dom.min.js  react-react.min.js`
Does it  help ?

[2017-10-30 14:42] JackUrb commented on #185
Is there anything at all in fonts or css? If not it would appear the first thing missing in the order of things downloaded belongs in the font folder, namely the script downloaded by visdom from `https://unpkg.com/classnames@2.2.5` and stored as `visdom/static/fonts/classnames`. If nothing is in your fonts directory can you download that file manually, save it as classnames, and put it in fonts be

[2017-10-30 15:12] huoliangyu commented on #185
I have checked the `static/fonts` directory. It contains:
`classnames  layout_bin_packer`
In "classnames" , it is  commented at top as following:
`  Copyright (c) 2016 Jed Watson.
  Licensed under the MIT License (MIT), see
  http://jedwatson.github.io/classnames`
I am not sure if it is dowloaded from `https://unpkg.com/classnames@2.2.5`.
Do I  still need to download that file manually as you say

[2017-10-30 15:15] JackUrb commented on #185
No that's the correct file. It seems all the unpkg.com files from the first batch download then. Based on what you've listed the first file you're getting stuck on is `https://cdn.rawgit.com/STRML/react-grid-layout/0.14.0/dist/react-grid-layout.min.js`, which should be saved as `visdom/static/js/react-grid-layout.min.js`. Do you have this file?

[2017-10-30 15:44] JackUrb commented on #185
Correct, then try to start the server again and see if it makes it to running. In general as you run into problems with CDNs, the order that visdom downloads and saves files is as follows:
[code]
If you run the server and it hangs on downloading, you can download the next missing file yourself (based on the last file in the list you can confirm having)

[2017-10-31 01:20] IssamLaradji opened #186 "Legend is not shown when there is a single plot"
When I run the following code, I get the scatter plot but no legend. Is it possible to get the legend displayed ? Thanks!

[code]

[2017-10-31 02:42] teracamo commented on #176
The proxy trick eventually worked. Turns out the two machines I tested had two different problems with the same symptoms.

One is because the firewall allow traffic by applications instead of by port, and hence visdom server is not allowed since it is not on their list (which I am not sure how they differentiate visdom requests from other http requests, maybe they are checking the headers).

Anoth

[2017-10-31 02:42] #176 closed

[2017-10-31 07:02] huoliangyu commented on #185
It works for me. Thank you very much !

[2017-10-31 07:02] #185 closed

[2017-10-31 13:19] JackUrb commented on #186
this appears to be a bug in [_opts2layout](https://github.com/facebookresearch/visdom/blob/master/py/__init__.py#L104).  The line should read `'showlegend': 'legend' in opts,`. I'll push a fix

[2017-10-31 13:24] IssamLaradji commented on #186
Thanks @JackUrb !

[2017-10-31 15:52] #186 closed

[2017-11-01 06:08] ksnzh commented on #185
@JackUrb How to download `https://unpkg.com/classnames@2.2.5`? Is this a file?

[2017-11-01 06:50] ksnzh commented on #185
@JackUrb Yes, it's a js file. And following your instructions, I solved this problem. Thank you very much.

[2017-11-01 13:19] zergzzlun opened #188 "How can I change the background color?"

[2017-11-01 13:57] HenryZhou7 opened #189 "Display row names in full texts"
When I am using the stacked bar chart, the x row names cannot be displayed in full texts due to the size of the window. I am wondering if it can be displayed in full text or what I should do in order to do that. Thanks! The below image is shown as an example. The label should be Inception, 2 Fast 2 Furious, Marley and Me.

![image](https://user-images.githubusercontent.com/9815099/32278134-eb6fd2d

[2017-11-01 14:05] lvdmaaten commented on #188
I haven't tested it, but I think you can simply change this value: https://github.com/facebookresearch/visdom/blob/master/py/static/css/style.css#L24

[2017-11-01 14:16] JackUrb commented on #189
I don't know if there's a way to get the bounding box for those names, so your only option is to use the `opts['marginbottom']` attribute for that window. Right now it defaults to 60, but if you increase that you should be able to see the rest of the text

[2017-11-01 16:40] #189 closed

[2017-11-01 16:42] HenryZhou7 opened #190 "Feature to make the font size bigger for labels and rownames?"
The rownames' font size seems to be default. And it is quite small. Is there a way to make the font size optional?

[2017-11-01 19:10] JackUrb commented on #190
Once https://github.com/facebookresearch/visdom/pull/191 is in you should be able to use
[code]
or
[code]
to set the font size of labels on the x/y axis.

Or were you asking for something different?

[2017-11-02 14:53] samarth-robo opened #192 "Feature request: 3D line plots"
Since visdom already supports 3D scatter plots, it would be nice to be able to make 3D lines connecting those scatter points.

[2017-11-02 15:18] JackUrb commented on #192
This would be a nice feature, though I'm not sure the change is as straightforward as the 3d scatterplot change is given the way we currently implement `line`. I'll be working on some feature requests in the future once I have some free-er time, though I'm not sure how soon that will be. Feel free to [tinker](https://github.com/facebookresearch/visdom/blob/master/py/__init__.py#L659) with it in th

[2017-11-02 22:01] HenryZhou7 commented on #190
Yes. This solved my problem. Thank you!

[2017-11-02 22:01] #190 closed

[2017-11-03 05:33] zergzzlun commented on #188
@lvdmaaten
Thanks a lot.

[2017-11-03 05:40] zergzzlun commented on #188
@lvdmaaten
It worked! Thanks again!
![1405558678](https://user-images.githubusercontent.com/16285167/32361555-751eb48a-c09c-11e7-988e-6b4d9ddbdb7e.jpg)

[2017-11-03 05:41] #188 closed

[2017-11-03 18:18] Altares opened #194 "Quit the server properly?"
Hi, is there a method other than Kill to quit the server properly? I didn't find it in the wiki.

[2017-11-03 18:21] JackUrb commented on #194
No, for the most part we've just been using `ctrl^c` for quitting. It would probably be cleaner to have a real exit, but I don't think it's a priority for us to implement right now

[2017-11-03 22:10] Altares commented on #194
ok, thanks just checking :)

[2017-11-03 22:11] #194 closed

[2017-11-04 01:54] SanderGielisse opened #195 "[OSError] visdom fails to start"
When simply executing python -m visdom.server in CMD, I get the following error.

`C:\Users\sande>python -m visdom.server
Traceback (most recent call last):
  File "C:\Users\sande\AppData\Local\Programs\Python\Python35\lib\runpy.py", line 184, in _run_module_as_main
    "__main__", mod_spec)
  File "C:\Users\sande\AppData\Local\Programs\Python\Python35\lib\runpy.py", line 85, in _run_code
    exec

[2017-11-04 04:44] lvdmaaten commented on #195
Can you confirm for me that folder `C:\\Users\\sande\\AppData\\Local\\Programs\\Python\\Python35\\lib\\site-packages` exists?

I think the issues is that we use Linux-style path notation here: https://github.com/facebookresearch/visdom/blob/master/py/server.py#L611

We should have used something like `os.path.join` instead. I will try to push a fix soon.

[2017-11-04 13:08] SanderGielisse commented on #195
@lvdmaaten

The folder
`C:\Users\sande\AppData\Local\Programs\Python\Python35\Lib\site-packages`
Does exist, please note the capital of 'Lib', not sure if this is a problem.

Thanks a lot!

[2017-11-04 14:04] AndrewZhao commented on #185
@huoliangyu @JackUrb @ksnzh
hello,this [link](https://cdn.rawgit.com/STRML/react-grid-layout/0.14.0/dist/react-grid-layout.min.js) seems have some errors. Can you share me the files on this link? Thanks very much!

[2017-11-05 15:22] douhaoexia opened #196 "urlopen error when "python -m visdom.server""
Hello, I updated visdom by "pip install --upgrade visdom" . The visdom of old version can be started successful but nothing appeared in localhost::8097 , similar problem to the issue "no res the pane" .So I  update the visdom  while an error below occurred when i run "python -m visdom.server". （And I have **not** used the proxy.）Pleas help me..

############################################
Traceba

[2017-11-06 15:18] JackUrb commented on #196
This appears to be a firewall issue in downloading the scripts that Visdom is dependent on. If that sounds possible and you aren't running the requests that visdom is making through a proxy, you'll instead need to download the scripts manually and place them in the locations that visdom expects, as detailed [here](https://github.com/facebookresearch/visdom/issues/185#issuecomment-340486095)

[2017-11-07 04:58] HenryZhou7 opened #197 "Feature request: plot the legends within the graph"
Is it possible to add an option to plot the legends within the graph itself, or to change the location of the legends? Thanks in advance!

[2017-11-07 11:55] dominikandreas commented on #195
The problem is that windows doesn't allow "?" in filenames. A quick fix for windows users would be to delete the corresponding entry in ``ext_files`` in server.py
[code]
(lines 568-569)

@lvdmaaten Since this seems to correspond to internet explorer only, this should be an acceptable change right? I'll go ahead and create a pull request

[2017-11-07 14:19] JackUrb commented on #196
I'll need more context than that to find out the problem - can you check the javascript console and your python terminal for errors?

[2017-11-07 14:27] JackUrb commented on #197
This is currently supported by [plotly](https://plot.ly/javascript/legend/#positioning-the-legend-inside-the-plot) but not by visdom. You can consider adding a 'legendopts' param to opts, then adding a line to the [layout packing function](https://github.com/facebookresearch/visdom/blob/master/py/__init__.py#L100) that sets `'legend': opts.get('legendopts', None),`. I'd be happy to accept a PR tha

[2017-11-07 14:59] douhaoexia commented on #196
@JackUrb
When I ran "python visdom_demo.py" . The following error occurred and only image could display on the brower, any other plot including scatter、bar、line was blank with just titles. (And i don‘t know how to check javascript console..)

Exception in user code:

Traceback (most recent call last):
  File "/home/dou/anaconda3_pytorch/lib/python3.5/site-packages/visdom/__init__.py", line 262, in

[2017-11-07 15:07] JackUrb commented on #196
Looks like it's on the server side so the javascript console won't be needed. I haven't run into this issue so it's going to require a bit more information still to debug. Can you insert a line above line 262 in `visdom/py/__init__.py` that reads print(msg)? Then from the visdom directory run `python setup.py develop` and then run the demo again?

[2017-11-07 15:13] lvdmaaten commented on #195
Ah good catch! Ironic that a fix for Internet Explorer is breaking visdom on Windows... :)

Yes, let's remove this entry for now and encourage folks to use visdom in Chrome / Firefox / etc. Looking forward to your PR!

[2017-11-07 15:52] douhaoexia commented on #196
@JackUrb
Sorry, when i change the __init__.py ,and run "python setup.py develop",the visdom can not be started.

Traceback (most recent call last):
  File "/home/dou/anaconda3_pytorch/lib/python3.5/runpy.py", line 184, in _run_module_as_main
    "__main__", mod_spec)
  File "/home/dou/anaconda3_pytorch/lib/python3.5/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/home/dou/ana

[2017-11-07 16:43] JackUrb commented on #196
Can you first run `pip uninstall visdom` and then `python setup.py develop`? It seems python is confused on where to pull visdom from

[2017-11-08 01:39] douhaoexia commented on #196
@JackUrb
 I used "pip install visdom" to install it before,  but now I run "pip setup.py develop" to install from source, and start it by "python -m visdom.server",it comes an error:
“ /home/dou/anaconda3_pytorch/bin/python: No module named visdom.server ”
Then I attempt to use "easy install ." and start again , no "alive" printed in console, after a while ,an error message comes:

python -m visdo

[2017-11-08 09:35] skrish13 commented on #172
Hey @JackUrb is it fixed? if not should i keep this issue open?

[2017-11-08 14:35] JackUrb commented on #172
This is indeed fixed, thanks @skrish13 for noticing the issue in the first place

[2017-11-08 14:38] JackUrb commented on #196
Hm now it's back to the original problem, it's unable to re-download the files due to your firewall/proxy setup

[2017-11-08 15:16] douhaoexia commented on #196
@JackUrb
Now I succeed to start the visdom.server. I comment most of examples in the demo and just plot a scatter like this:
*******************************
Y = np.random.rand(100)
viz.scatter(
    X=np.random.rand(100, 2),
    Y=(Y[Y > 0] + 1.5).astype(int),
    opts=dict(
        legend=['Apples', 'Pears'],
        xtickmin=-5,
        xtickmax=5,
        xtickstep=0.5,
        ytickmin=-5,

[2017-11-08 15:23] JackUrb commented on #196
Alright and is there still an error?

I'm able to render this example myself after following these steps, so I'm still unsure where the issue is. It might be an old version of one of visdom's dependancies - can you paste the output of `pip freeze`?

[2017-11-08 15:29] douhaoexia commented on #196
The plot can not display correctly,yet.
**************************
pip freeze:
alabaster==0.7.9
anaconda-clean==1.0
anaconda-client==1.5.1
anaconda-navigator==1.3.1
argcomplete==1.0.0
astroid==1.5.3
astropy==2.0.1
Babel==2.3.4
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.5.1
bitarray==0.8.1
blaze==0.10.1
bokeh==0.12.2
boto==2.42.0
Bottleneck==1.2.1
certifi==2017.11.5
cffi==1.10.0
ch

[2017-11-08 15:37] JackUrb commented on #196
But in the console, do you see any errors like you did [here](https://github.com/facebookresearch/visdom/issues/196#issuecomment-342508792)

[2017-11-08 15:45] douhaoexia commented on #196
Yes ,when I run the all examples in the demo. Several error messages like that appeared. And all the plot except text and video are blank.
*****************************
------------------------------------------------------------
Traceback (most recent call last):
  File "/home/dou/anaconda3_pytorch/lib/python3.5/site-packages/visdom-0.1.6.2-py3.5.egg/visdom/__init__.py", line 263, in _send
    da

[2017-11-08 15:54] JackUrb commented on #196
But you don't get that error when you just run with the apples and pears scatterplot?

I'll actually need to see your javascript console then. To see this you'll need to right click in your browser window containing visdom and click inspect. Then click console, and then refresh the page

[2017-11-09 05:12] douhaoexia commented on #196
Do you mean:
![visdom](https://user-images.githubusercontent.com/15043401/32589464-90c5c720-c54f-11e7-97d6-c0c0cdec1e5d.png)

[2017-11-09 05:16] douhaoexia commented on #196
And all the message are like this:
![visdom2](https://user-images.githubusercontent.com/15043401/32589574-3db4ac26-c550-11e7-930e-88fe0d7a33db.png)

[2017-11-09 15:04] JackUrb commented on #196
Alright so the only remaining issue is that the browser can't find plotly to plot with. What are the contents of your `/home/dou/anaconda3_pytorch/lib/python3.5/site-packages/visdom-0.1.6.2-py3.5.egg/visdom/static/js/` folder?

[2017-11-09 15:09] douhaoexia commented on #196
this:
![visdom3](https://user-images.githubusercontent.com/15043401/32612322-f03bae06-c5a2-11e7-922d-0f6cd6a244af.png)

Is there any lost?

[2017-11-09 15:11] douhaoexia commented on #196
this:
![visdom3](https://user-images.githubusercontent.com/15043401/32612426-42ccd9ba-c5a3-11e7-9ff3-a04e38ea8690.png)

Is there any lost?

[2017-11-09 15:15] JackUrb commented on #196
Ah alright so you have all the files, but it appears your plotly-plotly.min.js file is corrupted from the photo you shared earlier:
![plotly-expected-expression](https://user-images.githubusercontent.com/1276867/32612616-b9111108-c536-11e7-8929-b7cfdbba21f3.png)
Can you re-download this file and ensure it isn't corrupted?

[2017-11-09 17:31] #175 closed

[2017-11-10 05:08] douhaoexia commented on #196
I installed the visdom from source , and downloaded all the file needed in "static" manually. Then I ran the demo ,and all examples looked like ok! However, still an error occurred ,
************************************************
python visdom_demo.py
Exception in user code:
------------------------------------------------------------
Traceback (most recent call last):
  File "/home/dou/anaconda

[2017-11-10 15:01] JackUrb commented on #196
I'm glad most examples are working now, though I'm still trying to find out why the one that failed is failing. Can you add a line such that the bottom of the `_send` function in `__init__.py` looks like this:

[code]
Thanks for your help in trying to get this sorted out

[2017-11-10 17:11] IssamLaradji commented on #173
thanks. It doesn't seem to be working still. Is it working for you ?

[2017-11-10 17:12] JackUrb commented on #173
Have you updated visdom and added a type to your trace dict?

[2017-11-10 17:14] IssamLaradji commented on #173
Yes, my visdom is `visdom-0.1.6.2`

and I run the following:
[code]
I get this output:
[code]

[2017-11-10 17:18] JackUrb commented on #173
That is indeed what the demo script will output, however the server should output a post to `/events`. Then in your browser you'll end up with this:
![screen shot 2017-11-10 at 12 17 19 pm](https://user-images.githubusercontent.com/1276867/32670276-4abcfdd0-c611-11e7-8b93-22c73f248cf4.png)

[2017-11-10 17:19] IssamLaradji commented on #173
Oh nevermind! it's working. I forgot to restart the Visdom server with the updated version of Visdom. Thanks for the help.

[2017-11-10 17:19] JackUrb commented on #173
No worries, thanks again for the initial catch!

[2017-11-11 05:51] xiaofengqing commented on #185
@AndrewZhao  Can you share me all of the files in visdom/static? Thanks very much!
My Email address is 674868552@qq.com

[2017-11-11 10:21] douhaoexia commented on #196
After I ran the demo ,the message was printed as follows:
Exception in user code:

Traceback (most recent call last):
  File "/home/dou/anaconda3_pytorch/lib/python3.5/site-packages/visdom-0.1.6.2-py3.5.egg/visdom/__init__.py", line 262, in _send
    data=json.dumps(msg),
  File "/home/dou/anaconda3_pytorch/lib/python3.5/json/__init__.py", line 230, in dumps
    return _default_encoder.encode(obj)

[2017-11-11 13:00] zergzzlun opened #199 "Show black image after performing optimization on image"
I used optimizer from torch.optim.Adam() in pyTroch to optimize value of the image(torch.Variable). However, it gives a black image after one step but the value of each pixel changes only a little bit.

[2017-11-11 13:33] #199 closed

[2017-11-12 06:35] HenryZhou7 opened #200 "Feature request: is it possible to disable the background grid when plotting?"
[sample.pdf](https://github.com/facebookresearch/visdom/files/1464398/sample.pdf)

I am wondering if it is possible to remove the grid from the final plot. Is there an option? Thanks!
There is an example cropped PDF attached.

[2017-11-12 16:26] dukebw opened #201 "Feature request: error bars (basic and continuous)"
Hello! I am interested in using error bars in my Visdom plots, ideally the continuous error bars (https://plot.ly/javascript/continuous-error-bars/), but just as well the basic error bars (https://plot.ly/javascript/error-bars/).

I tried adding basic error bars simply by adding,

[code]

(for example) to `scatter()` here: https://github.com/facebookresearch/visdom/blob/master/py/__init__.py#L648.

[2017-11-12 21:08] ajabri commented on #201
Here's an example: https://github.com/facebookresearch/visdom/issues/18#issuecomment-309280610

[2017-11-13 16:30] JackUrb commented on #196
Ah this error is the same as what happened in https://github.com/facebookresearch/visdom/issues/175, and has since been fixed. Running git pull and then installing from source again should solve the issue. This change will be pushed to the pip version soon

[2017-11-13 16:40] JackUrb commented on #200
This, like https://github.com/facebookresearch/visdom/issues/197, is a feature supported by [plotly](https://github.com/facebookresearch/visdom/issues/175) but that we only expose through our [generic plotting](https://github.com/facebookresearch/visdom#generic-plots) method. It can be fixed by adding `'showgrid'` to the list altered in https://github.com/facebookresearch/visdom/pull/191, however

[2017-11-13 16:48] JackUrb commented on #201
Implementing something along the lines of @ajabri's linked method should only require changes to `__init__.py`, for as long as the error bar information is added both on creation and appending new info, the server should be able to handle the changes

[2017-11-15 01:49] douhaoexia commented on #196
OK,thank you for your so much help~

[2017-11-15 14:38] huguyuehuhu opened #202 "can someone share all your of the files in visdom/static?"
Can someone share  all of the files in visdom/static? Although with a VPN, I still can't  download the missing files caused by the firewall. Thanks very much!  My Email address is huguyuehuhu@gmail.com.

[2017-11-16 02:18] napsternxg opened #204 "Please update version on PIP"
The current pip version is not based on the current code. It doesn't have the name argument for the line function. Please update the version on pip.

[2017-11-16 02:44] lvdmaaten commented on #204
You can always just install the current source using `pip install -e`.

[2017-11-16 02:44] #204 closed

[2017-11-16 02:51] napsternxg commented on #204
When I do that I am not able to use visdom.

I get the error: `No module named visdom.server` when running `python -m visdom.server`

Also, the site-package directory doesn't have any python packages. It looks like this:
[code]

[2017-11-16 02:57] ajabri commented on #204
You can also try `python setup.py install`, from the visdom source directory.

[2017-11-16 02:59] napsternxg commented on #204
Ok that worked. Any idea why the pip install didn't work ?

[2017-11-16 11:43] ppeeou opened #205 "Using Visdom through an iframe with a reverse proxy?"
Hi, I want to use a reverse proxy while wrapping visdom in an iframe.
By the way, data in visdom is having difficulty parsing http header in nginx while using web socket. (There is no http referer.)

If I change the host, there is a cross-domain issue and I can not change it.

https://github.com/facebookresearch/visdom/blob/b7a2228f6c8449ec99d41f7008e16aab1c503ab7/js/main.js#L145

If you leave htt

[2017-11-16 14:46] JackUrb commented on #204
`pip install -e` sometimes has difficulties with linking module locations if you already have the module in question installed, I usually have to `pip uninstall` twice after accidentally installing with `-e` while I already have it installed. The pip version will be updated soon though - I had forgotten to bump the version number in the last set of updates

[2017-11-17 02:55] Nintorac opened #206 "Pane resize issue in firefox"
I am unable to resize panes, the initial click works and I can resize the window however the mouse up event never registers so the graph size is continually updated with my mouse movements despite not being clicked.

I think this has been an issue since updating to Firefox 58 ...currently running 58.0b4 (64-bit)

also tested in Chrome  62.0.3202.62 and everything works fine there

[2017-11-17 15:40] lvdmaaten commented on #202
We cannot redistribute the JavaScript dependencies, but you can find a list of all dependencies and the subfolders in which they should be copied [here](https://github.com/facebookresearch/visdom/issues/185#issuecomment-340486095).

[2017-11-17 15:40] #202 closed

[2017-11-17 15:59] lvdmaaten commented on #206
Do any errors messages appear in your browser console when you access visdom and/or when you try and resize a pane? (Check `Tools -> Web Developer -> Web Console`.)

[2017-11-17 16:07] JackUrb commented on #205
Can you provide more details about your setup and the issue you're having?

WebSockets are supposed to support cross-domain traffic, so at that point I'm not quite sure I'm following what is wrong.

If headers are your issue, please refer to the [WebSocket docs](https://github.com/websockets/ws/blob/master/doc/ws.md#new-websocketaddress-protocols-options) as I'm fairly sure there's a way to suppor

[2017-11-17 16:09] JackUrb commented on #181
Closing as a solution was provided and no activity followed for 3 weeks

[2017-11-17 16:09] #181 closed

[2017-11-17 16:14] JackUrb commented on #21
Closing as this is a plotly issue and we don't have a clean workaround to alleviate it

[2017-11-17 16:14] #21 closed

[2017-11-17 16:43] JackUrb commented on #74
Closing as it has been more than a month and I can't reproduce the issue

[2017-11-17 16:43] #74 closed

[2017-11-17 16:50] JackUrb commented on #196
Closing as the pip version that fixes this issue is now pushed

[2017-11-17 16:50] #196 closed

[2017-11-17 16:51] JackUrb commented on #195
Closing as the ironic fix for this has already landed and is now in the pip version

[2017-11-17 16:51] #195 closed

[2017-11-18 05:45] huguyuehuhu commented on #202
got it, thank you.

[2017-11-21 23:42] Nintorac commented on #206
no erros in console

[2017-11-22 13:58] FlyingRoastDuck opened #207 "sortLayoutItemsByRowCol error"
[code]
Getting this error in the JS console when opening http://localhost:8097/. None of my plots show up.
By the way, I changed line 27~35 of index.html in {$Anaconda3path}\Lib\site-packages\visdom\static like this for some known reasons(I'm in China and I've confirmed that all dependencies that https://github.com/facebookresearch/visdom/blob/master/CONTRIBUTING.md mentioned are included in my di

[2017-11-22 14:06] FlyingRoastDuck commented on #207
visdom version:0.1.6.3
OS:win 10
browser:chrome 62.0.3202.94

[2017-11-22 14:15] JackUrb commented on #207
Your javascript dependancies seem to be fine, but it seems you're missing [bootstrap css dependancies](https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css).
[code]
It's possible that getting these will solve the problem

[2017-11-22 14:32] FlyingRoastDuck commented on #207
Thank you, I've tried this and now, no 404 message are listed in my CMD window, but there are no figure
in browser. It doesn't work

[2017-11-22 14:38] JackUrb commented on #207
Alright so now the issue is on the frontend side - can you list the contents of your javascript console in your browser?

[2017-11-23 00:03] FlyingRoastDuck commented on #207
[code]
The error in JS console seems to have something to do with main.js in {#anaconda3Path}\Lib\site-packages\visdom\static\js\main.js and the console reports "Cannot read property 'sortLayoutItemsByRowCol' of undefined"

[2017-11-23 00:04] FlyingRoastDuck commented on #207
python version:3.5.2

[2017-11-23 05:08] FlyingRoastDuck commented on #207
![qq 20171123130737](https://user-images.githubusercontent.com/29745430/33159613-72a7f000-d04f-11e7-8aaa-151e78a2c9a1.png)

[2017-11-23 14:40] theFool32 opened #208 "[Feature Request] Any way to draw different color in a line?"
![image](https://user-images.githubusercontent.com/3063690/33177818-f40a0468-d09e-11e7-8ee3-1a6f93c15bcc.png)
For example, like the picture shows. It's useful when training with udpating different paramaters.
I don't know whether it can be done with current api. If it is possible, how to achieve it?

Thanks a lot.

[2017-11-23 16:30] lvdmaaten commented on #208
As far as I can tell, plot.ly currently does not support this type of plot. There is an open issue about it [here](https://github.com/plotly/plotly.js/issues/147).

I'm closing this issue here, because it is a feature that needs to be added to plot.ly (rather than to visdom). Please let me know if you have any further questions.

[2017-11-23 16:30] #208 closed

[2017-11-24 00:01] amini2nt opened #209 "4D Tensor videos only display when dims are square"
I have a 4d tensor to display my atari game and it only displays the video when I input the height and width as a square(meaning that I give the same number of dimensions for both the height and width). It does not work when I have different height and width values  How do I fix that?

[2017-11-24 00:07] amini2nt opened #210 "Error in documentation of Tensor"
The ordering of the documentation for the displaying of the tensor as a video is given as LxCxHxW whereas the C or Color would end up at the end.
But it should be LxHxWxC.

[2017-11-24 04:24] FlyingRoastDuck commented on #207
Is there anyone knowing how to solve the problem?

[2017-11-26 18:23] JackUrb commented on #207
The issue appears to be that the correct ReactGridLayout package is never actually being properly loaded. The type error is due to the line in main.js:
[code]
meaning this is failing at the import step. Specifically ReactGridLayout is missing the utils module, which was introduced in 2016. You're somehow using an older package. Thus the version being loaded in:
[code]
Is not correct

[2017-11-27 03:08] FlyingRoastDuck commented on #207
Thank you, your suggestion seems to be right. I downloaded the file from https://github.com/STRML/react-grid-layout/tree/stable since no react-grid-layout.min.js can be found in the  master branch. I noticed that the stable branch is updated 1 year ago. Has the stable branch been abandoned?How can I get react-grid-layout.min.js in new version?

[2017-11-27 14:41] JackUrb commented on #207
`https://cdn.rawgit.com/STRML/react-grid-layout/0.14.0/dist/react-grid-layout.min.js`, as listed in the [contributing guidelines](https://github.com/facebookresearch/visdom/blob/master/CONTRIBUTING.md)

[2017-11-27 15:19] JackUrb commented on #209
Can you give more context than 'it does not work' -> Do any errors appear in either the server or frontend console when using different values? What function are you using to render it?

Please refer to the [contributing guidelines ](https://github.com/facebookresearch/visdom/blob/master/CONTRIBUTING.md) and try to provide some more context so that we can better help you solve this issue. Thanks!

[2017-11-27 15:21] JackUrb commented on #210
Ah this is indeed an issue in the docs for using visdom with Lua - we no longer have a different API than the one used for Python, so I'll update the docs

[2017-11-27 15:46] #210 closed

[2017-11-28 00:40] FlyingRoastDuck commented on #207
![default](https://user-images.githubusercontent.com/29745430/33296671-be7fbd5c-d417-11e7-8e85-48c8cb529d17.PNG)
more errors ：(

[2017-11-29 13:36] JiangPQ opened #213 "How to run visdom on 0.0.0.0 ?"
I would like to deploy visdom on my cloud server but cannot find a way to do so.
Is that possible for visdom?

[2017-11-30 14:49] TCPN opened #214 "Feature request: no error message when check_connect fails"
I run visdom in python and I use Visdom.check_connection to check whether the server should be started before any other usage, but it always gives me some error messages like "Max retries exceeded with url: /win_exists" and makes the screen looks messy.
Could the error messages be not printed when the server is not on and Visdom.check_connect is called?

[2017-11-30 18:57] JackUrb commented on #214
This is reasonable and not necessarily a hard fix. It would require adding a `quiet=false` parameter to the `_send` function:
https://github.com/facebookresearch/visdom/blob/c1ffcb3d5175f41a7fff85f7e9bed3914ac62703/py/__init__.py#L247
and then only printing on line 267 if `quiet` is false. Then `win_exists_wrap` can call `_send` with `quiet = true`.

I'm likely not going to be able to jump into ac

[2017-12-01 05:06] amini2nt commented on #209
I understand that once the 4D image tensor of the form `FRAMESxHIEGHTxWIDTHx3`, is provided to the tensor argument of the video, it will generate a new window in the visdom server. Now, based on my experiments, the video in the browser could be played only when the images are square (`HIEGHT=WIDTH`). Otherwise the window will contain a blank video and could not be played. I tested it with Google C

[2017-12-01 10:49] ppeeou commented on #205
hi ! @JackUrb
To better explain our service, Our system tries to put visdom into an iframe.

The server where the actual visdom is running and the server being serviced are in different spaces, We could not verify the server information running on visdom.

Below is a flow that inserts visdom into an iframe,
![image](https://user-images.githubusercontent.com/10924072/33478749-b93ed55e-d6cd-11e7-8fb

[2017-12-04 14:12] logic1988 commented on #185
Thank @JackUrb . I changed the download link to a shell command with a text replacement:
[code]

[2017-12-04 16:31] JackUrb commented on #185
@logic1988 thanks for the suggested conversion - I'll update the docs with this (as in the best case it automates the download and in the worst case if someone can't wget through their proxy it's no worse than the copy-paste it was before)

[2017-12-04 16:47] JackUrb commented on #209
Ah whoops I missed that that documentation mistake existed outside of the README. A PR would be really appreciated on that front.

I'll do some investigation into why only square videos play, I don't believe we've had that issue in the past.

[2017-12-05 16:27] ppeeou commented on #205
Resolved by using browser cookies.

[2017-12-05 16:27] #205 closed

[2017-12-06 17:24] IssamLaradji opened #218 "Structured placement of plots and images"
When I have several experiments running, my visdom dashboard can become very messy. And I usually end up hunting down new plots and having to move them around to declutter.

Would it be possible to divide the dashboard into - maybe - a grid made of a set of cells and then assign each window to a cell ?

That way we can know which cell each plot goes to.
Would this feature be easy to add ?

I think

[2017-12-06 20:46] JackUrb commented on #218
When you have multiple experiments running you could declutter by using the different environments feature. This will ensure that each environment only has the relevant plots. Have you tried using environments to solve your clutter issue?

[2017-12-07 16:39] farleylai commented on #100
@CeLuigi Use vis.line() instead. vis._send() is internal and subject to change I guess.
[code]

[2017-12-07 16:57] IssamLaradji commented on #218
Thanks, that works great! :)
Is there a way I can programmatically create an environment ?
For example, if i run this and environment `debug` does not exist, nothing is display,

`vis.images(imgs, opts=options, nrow=nrow, win=win, env="debug")`
Is there a way I could programmatically create an environment if it does not exist ?

Thanks!

[2017-12-07 17:02] lvdmaaten commented on #218
If the `debug` environment does not yet exist, your code sample will create that environment. You may have to refresh the visdom page in your browser to see the new environment appear in the dropdown box.

[2017-12-07 17:02] #218 closed

[2017-12-09 03:52] HenryZhou7 opened #220 "surf plot feature enhancement."
Is there a way to continuously update on one window instead of using a new window every time I update the plot?
[code]
This code would still generate a lot of different windows.

[2017-12-09 06:39] amini2nt commented on #209
Hi, how do you think it is now ?

[2017-12-10 16:31] IssamLaradji opened #221 "Programmatically remove a specific plot from the figure"
Thanks for all the help you have given me! The following is an issue I often face when running multiple experiments.

Is it possible to programmatically remove one of the plots in a figure, without removing the whole plot ? Perhaps using the plot's legend name ?

Let's say I am comparing the performance of two algorithms `alg1` and `alg2` as in the figure below.

![image](https://user-images.githu

[2017-12-10 19:39] lvdmaaten commented on #221
There is currently no function that "removes" a single trace from a line plot. However, to achieve the behavior you describe, can't you simply keep the data underlying `alg1`plot around in your code, and push this data together with the new `alg2` data to a new (or the current) visdom window?

[2017-12-10 19:41] lvdmaaten commented on #220
Doesn't `window = viz.surf(x, update='replace', win=window)` work?

[2017-12-10 19:53] IssamLaradji commented on #221
that would be difficult if I am running, say, 10 experiments independently - it might require synchronization of the read and write operations of the `.pkl` files containing the performace/epoch data of each algorithm.

Would it be easy to implement code that can remove a trace ? or is that something too embedded within `plotly`? I am thinking of adding such code to the lib and possibly add a pull

[2017-12-10 19:57] lvdmaaten commented on #221
It is certainly possible to add functionality that removes traces. You can look at the code that adds traces to a line plot for guidance on how to implement it.

[2017-12-12 07:56] Seraphli commented on #213
I don't know whether you had tried to connect to your cloud server. I check the code and it actually will listen on every available interface.

[2017-12-12 10:00] Seraphli opened #222 "Timeout problem"
FYI, getting `Connection refused` error or any timeout error in China while starting the server using `python -m visdom.server` is caused by GFW. You can see the console doesn't output any information, which means the script is stuck on downloading required js and css. So I fork this repository and download all required scripts. If someone is having this problem, please check out [my fork](https:/

[2017-12-12 12:48] lvdmaaten commented on #222
We are not allowed to re-distribute code by third parties (even if the code license allows it), which is why we download the dependencies at server launch time. For that same reason, we will not be able to accept your pull request.

Having said that, folks in China with firewall issues are presumably greatly helped by your fork. Thanks for setting it up!

We are thinking about a more permanent sol

[2017-12-13 02:36] Seraphli commented on #222
I manage to solve this problem, and I create a pull request #224 . I will keep the `pre-download` branch in my fork in case someone needs it.

[2017-12-13 03:02] HenryZhou7 commented on #220
[code]
It seems that `viz.surf` is always returning None.

[2017-12-13 05:27] HenryZhou7 commented on #220
It turned out that it is the matter of using out-dated version.
By the way, it doesn't need to have `update='replace'`.

[2017-12-13 05:27] #220 closed

[2017-12-13 07:08] Seraphli opened #225 "Call `vis.win_exists` and `vis.close` cause resize of other windows"
This bug can be showed using this script.
[code]
First, it will show three windows. And after you refresh the page, it will show two windows, but all two are stretched to fill the horizon.

[2017-12-13 15:24] lvdmaaten commented on #222
Awesome, thank you!

We are importing your PR. Closing this issue as I presume it is solved.

[2017-12-13 15:24] #222 closed

[2017-12-13 15:56] JackUrb commented on #207
As of https://github.com/facebookresearch/visdom/pull/224 you should be able to pull the dependancies regularly without necessarily needing to download by hand.

Closing as I believe the issue is resolved and it's been 2 weeks since my last comment with no answer. Feel free to reopen if reinstalling visdom doesn't work

[2017-12-13 15:56] #207 closed

[2017-12-13 16:09] JackUrb commented on #118
Closing as I don't have enough context to reproduce and it's been a long time since the bug was opened (and we might've even fixed this issue, updateTrace is no longer used for instance).

[2017-12-13 16:09] #118 closed

[2017-12-13 16:34] #40 closed

[2017-12-14 02:18] Seraphli opened #226 "Window on the page won't resize"
If I set the width and height, the plotly window will stay in that size and cannot be resized, even though the outer window can be resized using drag. And another problem is the plot can't be zoom in when the data are appended.
[code]

[2017-12-14 15:43] JackUrb commented on #226
The easiest solution here is to implement the enhancement described as in https://github.com/facebookresearch/visdom/issues/183, as plotly without a specified width and height just fills the size of the container. Rather than size the plot, we should size the container instead.

[2017-12-14 16:13] JackUrb commented on #63
Sorry for the incredibly late reply here. In case you or anyone is still wondering:
The title in this case is the pane title, as rendered within a window externally to the plotly title.
https://github.com/facebookresearch/visdom/blob/c1f5904834cf45b140d757abdfc0c6450fde2b4c/js/Pane.js#L78

[2017-12-14 16:13] #63 closed

[2017-12-14 16:25] #93 closed

[2017-12-14 17:08] #214 closed

[2017-12-15 02:03] JiangPQ commented on #213
Thank you for your reply! @Seraphli
I tried again on my server and it didn't react when running `python -m visdom.server`. After a long time it gave errors like below.
I didn't wait till it gave errors last time so I think that's why I thought visdom can't run on other interfaces.

It seems visdom is downloading its js scripts but can't fetch them.

`ubuntu@VM-72-243-ubuntu:~$ python -m visdom.ser

[2017-12-15 02:04] #213 closed

[2017-12-15 02:07] Seraphli commented on #213
@JiangPQ I fix that in the recent pull request, you can install the latest updated code. #224

[2017-12-15 12:27] JiangPQ commented on #213
@Seraphli
IT WORKS now!
Thank you!

[2017-12-15 16:48] #225 closed

[2017-12-15 16:48] #226 closed

[2017-12-15 16:48] #56 closed

[2017-12-15 16:48] #183 closed

[2017-12-16 16:05] udion commented on #12
I started the server using ```python -m visdom.server -p 7777``` and was able to open it in the browser,
![image](https://user-images.githubusercontent.com/18963158/34072189-d554f58e-e2a8-11e7-9f52-237f98d6852e.png)
![image](https://user-images.githubusercontent.com/18963158/34072194-e6af99d8-e2a8-11e7-82b0-d639a5617000.png)

but when trying
[code]
I get the following error:
![image](https://user-

[2017-12-16 16:16] udion opened #230 "unable to display plots, even after running the visdom server"
I started the server using ```python -m visdom.server -p 7777``` and was able to open it in the browser,
![image](https://user-images.githubusercontent.com/18963158/34072189-d554f58e-e2a8-11e7-9f52-237f98d6852e.png)
![image](https://user-images.githubusercontent.com/18963158/34072194-e6af99d8-e2a8-11e7-82b0-d639a5617000.png)

but when trying
[code]
I get the following error:
![image](https://user-

[2017-12-16 16:20] lvdmaaten commented on #12
You should make your client connect to the correct port: `vis = visdom.Visdom(port=7777)`.

[2017-12-16 16:34] udion commented on #12
Thanks,
also while running the demo script I get an error
![image](https://user-images.githubusercontent.com/18963158/34072406-04c2bb86-e2ad-11e7-9b17-3ee4a9dfaa84.png)
is this attribute not available yet through pip (I installed visdom using pip)

[2017-12-16 16:35] #230 closed

[2017-12-18 09:26] sergeywong commented on #185
I meet the same problem. It is stuck at downloading the file `visdom/static/js/react-grid-layout.min.js ` from the link `https://cdn.rawgit.com/STRML/react-grid-layout/0.14.0/dist/react-grid-layout.min.js`. The problem occurs in the version 0.1.6 of `visdom`. The problem is resolved with  the version 0.1.5.

[2017-12-18 13:46] JackUrb commented on #12
Hi @udion - Yeah I haven't updated the pip package just yet, sorry! Doing so now

[2017-12-18 13:52] JackUrb commented on #185
Hi @sergeywong - a fix for this was added to the github recently and I just pushed it to pypi. Try using version `0.1.6.4`

[2017-12-23 20:19] udion opened #232 "Download instead of save?"
I was wondering if I can download the output of viz.images(), I know I can save the ```env``` but is it possible to download the images and plots in jpg (or png)?

[2017-12-26 14:15] chenyuntc opened #233 "update='append' does not work anymore"
simple code to reproduce
[code]
It used to work, but I update visdom and it won't work any more.
I guess the problem comes from [here](https://github.com/facebookresearch/visdom/blob/master/py/server.py#L422)

If I change it to :
[code]
It works again. But I don't know whether it was the right way.

Since I use it a lot in my [project](https://github.com/chenyuntc/simple-faster-rcnn-pytorch/blob/m

[2017-12-27 15:30] JackUrb commented on #232
As lightly discussed in https://github.com/facebookresearch/visdom/issues/126 this wasn't really part of Visdom's design, especially considering that exposing some way to directly save the plots is almost definitely against Plot.ly's terms of service

[2017-12-27 15:33] JackUrb commented on #233
Ack sorry about this bug, going to push a fix right now. Pretty close to what you had, but I'm going to case it on the existence of `new_data` rather than append, which will fix appends and updates

[2017-12-27 16:05] #233 closed

[2017-12-27 16:20] lvdmaaten commented on #232
For plot.ly plots, downloading high-quality plots is possible via the `Edit plot in cloud` button, but it does require a (paid) subscription with plot.ly. As @JackUrb says: circumventing this is likely a violation of plot.ly's terms of service.

For the output of `viz.images()`: downloading those is currently not supported, but we could add functionality that does this (`viz.images()` does not use

[2017-12-28 20:31] #134 closed

[2017-12-31 00:07] meetshah1995 commented on #85
@JackUrb - I'm willing to send in a PR for this.

Any pointers on where I can start and what you have in mind for this auth feature?

[2017-12-31 20:57] lvdmaaten commented on #85
I have never tested it, but I think you would have to replace the [`main()` function in `server.py`](https://github.com/facebookresearch/visdom/blob/master/py/server.py#L741-L752) by something like:
[code]

(Note that this isn't a complete PR --- the server should only specify `ssl_options` if the user specified both a certificate and a key file, and similarly the printed URL should say `http://`

[2018-01-01 02:48] QinZiwen opened #238 "line append"
I want to use line's update=append parameter, like:
[code]
But second line do not showing.
![screenshot from 2018-01-01 10 48 01](https://user-images.githubusercontent.com/15364705/34465305-4c76e2f0-eee1-11e7-996e-15b7316bb081.png)

[2018-01-01 08:20] dengbo22 commented on #238
I meet the same problem. have you solved it?

[2018-01-01 14:14] QinZiwen commented on #238
sorry, no

[2018-01-02 13:30] amartya18x opened #239 "Feature Request"
I'm not sure if this is already possible. Excuse me if it does.

Can I plot two live experiments in the same plot ? i.e. is there a way to make two scripts plot a line in the same plot ?

[2018-01-02 15:54] lvdmaaten commented on #239
You can have two different experiments push data to the same plot by having both experiments use the same values for `env` and `win` as input into `vis.line`, `vis.scatter`, etc.

The behavior you describe is somewhat tricky to implement right now though, because the Python client does not maintain state, so there is no way for experiment 2 to retrieve data pushed by experiment 1 (or vice versa).

[2018-01-02 16:49] JackUrb commented on #85
@lvdmaaten That process seems a little more related to https://github.com/facebookresearch/visdom/issues/148 than here, I feel the original intent of the feature request is more just a 'login' page of sorts to ensure that people aren't getting access to the Visdom page if they don't have the credentials.

@meetshah1995 As far as where to start and what I had in mind (though it's still somewhat rou

[2018-01-02 16:52] JackUrb commented on #238
Looking into this now

[2018-01-02 17:24] JackUrb commented on #238
What version of Visdom are you running on? The demo reflects features that are not yet on Pip, but can be used if you install from source.

[2018-01-02 18:13] JackUrb commented on #239
As long as the two experiments don't need to be aware of each other though this is definitely supported simply by using the same `env` and `win` inputs. As long as each plot uses a unique name they will be shown as separate lines on the same plot.
Two caveats
1) you'll need to use the `legend` opt and give it a unique value for experiment 1 and experiment 2.
2) Only the first experiment to create

[2018-01-02 19:04] lvdmaaten commented on #239
Oh yeah... I forgot about the `name` option :)

Nice solution!

[2018-01-02 21:10] amartya18x commented on #239
Uh okay, that's helpful. @lvdmaaten thanks for explaining the problem there.

Also on a side note, are the window ids logged somewhere ? I have begun running a long experiment and would like to get the window id so that I can add some other plots to it.

[2018-01-02 22:23] JackUrb commented on #239
As of now they're only logged on close, though you can get around closing it by saving your environment, forking it, and then closing the window in the forked environment. The window id will be logged in the stdout of the server then and you can then return to the old environment.

[2018-01-03 17:01] chengyangfu commented on #238
Same problem here. It seems the "append" function of viz.line does not work now.
P.S. I use the pip version now.

[2018-01-03 17:10] lvdmaaten commented on #238
The demo uses features that are not yet in the pip-version of visdom. Please install visdom from source if you need these features. See [the relevant question here](https://github.com/facebookresearch/visdom/blob/master/CONTRIBUTING.md) for details.

[2018-01-03 17:21] chengyangfu commented on #238
Thanks! The repository version works now!

[2018-01-03 18:02] #238 closed

[2018-01-04 00:55] QinZiwen commented on #238
@JackUrb My version of visdom is 0.1.6.5 using pip install.

[2018-01-04 16:12] JackUrb commented on #238
@QinZiwen try following the instructions on the main README for installing from source. Not all features in the demo have been put into the pip version.

[2018-01-05 00:54] amartya18x commented on #239
Okay, I see. Thanks.

[2018-01-05 00:54] #239 closed

[2018-01-05 11:21] SherilynW opened #240 "'URLError' object has no attribute 'code'"
[code]
I got these when I was starting the server.
It seems that I have something wrong with the port......

[2018-01-05 14:37] JackUrb commented on #240
Hi @SherilynW - are you running from the pip version or have you built from source?

If from source, can you change that format call to read `.format(exc.reason, key)` instead and paste the reason?

[2018-01-05 20:11] varunagrawal opened #241 "Feature request: _send raises exception instead of printing it"
In the `Visdom` class's `_send` method, if the post request raises an exception, the exception handler prints the exception and returns false instead of raising it.

It would be nice if the exception handler raised the exception and let the user handle it based on the use case. The exception raised could have useful contextual information instead of printing out the exception, as printing the exce

[2018-01-05 20:11] varunagrawal commented on #241
I can work on this and submit a PR if needed.

[2018-01-05 20:21] JackUrb commented on #241
@varunagrawal While generally I agree this would be useful, it's important to note that for people who already have visdom in their workflow this could break an experiment if anything happens. This behavior is also already depended on by some functions, such as `win_exists`.

If you want to implement this feature, I'd suggest making it an option that is put into the `__init__` method of the Visdom

[2018-01-06 02:07] SherilynW commented on #240
I am running from the pip version. I have adjusted the scrip, but later found these issues:
[code]

[2018-01-06 15:37] zzzace2000 opened #244 "Viz line update does not work"
I try to update the viz line and it does not work.

Here is the minimal example:
[code]
Then I update the window with replace.
[code]
It does not work. Can you let me know what I might go wrong?

[2018-01-07 19:07] lvdmaaten commented on #244
This issue was fixed in https://github.com/facebookresearch/visdom/pull/234/files. Your example works fine for me using the latest version of the code.

We will update the pip install shortly to include this fix. In the meantime, you can do an install from source (see `CONTRIBUTING.md` for details).

[2018-01-07 19:07] #244 closed

[2018-01-07 19:24] lvdmaaten commented on #240
That URL downloads fine for me, so I'm unsure why you're unable to verify the SSL certificate. Perhaps this is some firewall or VPN-related issue?

Your best option is probably to try and do a manual install of the dependencies as described in `CONTRIBUTING.md`. Alternatively, you could try to bypass the SSL certification by adding the following at the top of `py/server.py` before start the server

[2018-01-07 19:24] #240 closed

[2018-01-07 22:46] varunagrawal commented on #241
@JackUrb Would it be better to deprecate this functionality in favor of the new one? For the time being, I can implement it as you have requested, but it would be great to perhaps add a deprecation warning or rewrite this while notifying folks of the breaking change.

I am not sure if Visdom follows any particular release cycle or is it released on a rolling basis.

[2018-01-08 02:58] SherilynW commented on #240
Thanks, this works for me :)
[code]

[2018-01-08 14:32] JackUrb commented on #241
I think it would indeed be better to deprecate the supressed-by-default behavior that visdom currently has for errors. If you put a date in it a few months from now I feel that would be enough warning.

As of now we don't follow a particular release cycle - I tend to move things from the Github to pypi every other week or so once I'm sure it doesn't break anything.

[2018-01-10 22:22] JackUrb commented on #209
Hi @amini2nt - sorry for the delay. I'm currently still investigating how and why this is happening, I don't have an update as far as when I'd predict it being done though.

[2018-01-11 14:45] #221 closed

[2018-01-15 17:51] varunagrawal commented on #241
Your argument on experiment workflow makes a lot of sense and I completely agree with it.

Here's an alternative to raising the exception: we allow a flag to suppress warning being printed out. This way Visdom behaves more like a logger while fixing the previous issue I raised as well.

As for which exceptions should be suppressed vs which should be handled by the user, I guess that is an intensiv

[2018-01-15 20:20] at-thirty opened #251 "ERROR:root:Error [SSL: TLSV1_ALERT_PROTOCOL_VERSION] tlsv1 alert protocol version (_ssl.c:590)"
python -m visdom.server
Downloading scripts. It might take a while.
ERROR:root:Error [SSL: TLSV1_ALERT_PROTOCOL_VERSION] tlsv1 alert protocol version (_ssl.c:590) while downloading https://cdn.plot.ly/plotly-latest.min.js
It's Alive!
INFO:root:Application Started
You can navigate to http://localhost:8097 [BUT THE SERVER HAS NOT BEEN STARTED]

[2018-01-15 20:22] at-thirty commented on #251
I'm using Python 2.7.10, MacOS 10.12.6

[2018-01-15 20:32] lvdmaaten commented on #251
Can you try installing the JavaScript dependency manually per the instructions [here](https://github.com/facebookresearch/visdom/blob/master/CONTRIBUTING.md)?

[2018-01-16 10:45] jj0mst opened #252 "Error when loading svg image TypeError: cannot use a string pattern on a bytes-like object"
This happens when i try loading an svg image using Visdom.svg().
I think i fixed it in my case replacing the following line from [https://github.com/facebookresearch/visdom/blob/master/py/__init__.py#L370](url):
`svgstr = loadfile(svgfile)`
with
`svgstr = str(loadfile(svgfile))`
but i don't know if it works in every case.

[2018-01-16 16:25] JackUrb commented on #241
I think having that kind of flag is mostly where my suggestion in https://github.com/facebookresearch/visdom/issues/241#issuecomment-355655626 referred to. Users could then use the flag to either have warnings/exceptions printed or to have them raised so they can be handled appropriately.

I'd be happy to have that kind of functionality.

[2018-01-16 19:32] JackUrb commented on #252
I'm fairly certain we've only rigorously tested locally generated svgs (thus already strings) rather than the file loaded ones. Considering we expect that value to be a string rather than a bytes-like object, forcing a string conversion is definitely safer than what we have. I'd be happy to accept your fix if you want to open a PR for it 👍

[2018-01-17 08:59] jj0mst commented on #252
The problem is [here](https://github.com/facebookresearch/visdom/blob/master/py/__init__.py#L71).

When the svg() method is given an svgfile it uses the loadfile() method, but this one reads the file in 'rb'.

We could change it to choose the reading mode (bytes or string), but i think it's easier to just convert it after reading.

Here is the PR: #253

[2018-01-22 08:37] jbaron commented on #119
Although the solution below is not as nice as plotly graphs, there are cases when plotly cannot convert Matplotlib figures. An alternative might then to use SVG:

[code]

[2018-01-22 14:41] JackUrb commented on #119
@jbaron Thanks for the tip - do you have any context for when plotly will fail to convert a Matplotlib figure? I'm hoping to add some support directly in the visdom side for Matplotlib soon (so that users have an easier way to interface between the two) and it would be useful to know how to distinguish.

[2018-01-24 12:16] KeyKy opened #255 "How to plot the same histogram as visualDL in visdom?"
How to plot histogram just like the histogram in https://github.com/PaddlePaddle/VisualDL

[2018-01-24 15:57] JackUrb commented on #255
Hi @KeyKy, our normal plotting backend (plot.ly) doesn't support that kind of tiered histogram. We'd be open to having the VisualDL folks help provide us a pane type that can leverage the kind of data their logs use, however it's probably not appropriate for us to implement their frontend here without their approval or assistance.

[2018-02-01 15:22] #252 closed

[2018-02-02 17:38] dizcza opened #256 "[Feature Request] Add 'readonly' flag to visdom.server"
How can I share my work with other people such that they could only _view_ the plots? It'd be nice to have the ability to block any changes made by a user to the server.

[2018-02-02 17:51] JackUrb commented on #256
Your best bet is to look into how the server handles incoming requests from the frontend. Everything comes in through the `SocketHandler` class. You could potentially add a flag that makes modifying calls to `on_message` no-ops, and then update the `main.js` file such that the online indicator had a third option (read-only?) which would disable the buttons in the same way that `state.connected` is

[2018-02-04 20:02] esc opened #257 "Question about Licensing"
I was wondering if you could clarify, why you chose to license the Project using a Creative Commons licences? I'd also be interested what implications this has from a legal standpoint.

[2018-02-04 20:54] OlegJakushkin opened #258 "Supporting script tags in TextPanes"
arbitrary HTML added via `vis.text`:

[code]

Had to create something like this:
![image](https://user-images.githubusercontent.com/2915361/35782251-5843c658-0a06-11e8-957e-401126b52764.png)

Yet greated this:
![image](https://user-images.githubusercontent.com/2915361/35782256-685bf93e-0a06-11e8-9bc9-6e5f06b25b32.png)

As you can see - no X3D element is present due to the absence of `link` and `sc

[2018-02-05 15:02] JackUrb commented on #258
Text panes allow arbitrary javascript by doing direct setting of the inner HTML:
https://github.com/facebookresearch/visdom/blob/590c790562a938442c48e69a5f8dec821ae75fc4/js/TextPane.js#L27

To my knowledge this method does not allow for script injection. I don't know of any good methods that do allow script injection. If you or anyone else comes up with an implementation that works however I'd be

[2018-02-05 15:51] lvdmaaten commented on #258
I'm wondering if adding a function such as this one would do the trick: http://www.javascriptkit.com/javatutors/loadjavascriptcss.shtml

Rather than adding the `script` and `link` tag, you could then call something akin to the `loadjscssfile()` function to load external JS and CSS files to make the above example work.

[2018-02-05 16:07] lvdmaaten commented on #257
Thanks for your question.  We chose CC-NC-4.0 here because it is a Creative Commons license (which is well-known within the open source community) and we would prefer the code to be able to be used by researchers but not for commercial purposes.  Unfortunately, we cannot provide legal advice for you in this forum, but you should read the explanation by Creative Commons of their licenses here: http

[2018-02-05 16:07] #257 closed

[2018-02-05 16:43] JackUrb commented on #258
@lvdmaaten though in that solution it would be required that the text pane figure out how to parse the given html for script and link components automatically. Creating a text pane doesn't really expose a method for calling functions on the frontend client to my knowledge

[2018-02-05 18:56] lvdmaaten commented on #251
Closing this because we do not have a repro, and the issue has not received comments for three weeks. Likely a firewall / networking issue.

[2018-02-05 18:56] #251 closed

[2018-02-05 19:07] JackUrb commented on #101
Implemented in https://github.com/facebookresearch/visdom/commit/590c790562a938442c48e69a5f8dec821ae75fc4

[2018-02-05 19:07] #101 closed

[2018-02-06 02:53] OlegJakushkin commented on #258
Ended up using old-bad **`iframes`** (with flask, bootstrap and x3d inside), so it is a closed issue for me.

The main drawback is that browsers are still challenged with iframe+BlaGL dragging around (mouse faster than view movement leads to window movement freeze, hard on GPU - seen some browser tab crushing).

Notes: it would be nice to have more control over windows\NavBar:
1.	download arrow is

[2018-02-06 14:38] JackUrb commented on #258
It seems any solution for running arbitrary script is going to encounter some kind of resistance from the browser, but I'm glad something is working for you.

Re some of these other features:

1. I haven't really investigated the use case for this (as it's more aesthetic over function), though if you feel it's worthwhile it isn't necessarily a hard change. You can implement it with the following.

[2018-02-06 16:49] OlegJakushkin commented on #258
Browser events sounds great!=)

"Window that creates other windows" like this (one with 4 buttons in the animation):
![ui101demo](https://user-images.githubusercontent.com/2915361/35871937-92fbddc8-0b76-11e8-86b8-7bc7a466eb00.gif)

[2018-02-06 17:03] JackUrb commented on #258
Wow I didn't even know this kind of application of visdom was possible right now - it's impressive. Hopefully browser events can help you continue to flesh out this functionality 👍

Also do you think you might take a stab at adding the navbar functionality? If not feel free to open a new issue and I'll see when I have a short cycle to take care of it

[2018-02-06 20:39] OlegJakushkin opened #259 "Building JS UI fails on build: `$_ ./node_modules/webpack/bin/webpack.js -p`"
So on windows and linux from fresh master repo clone. On 16.04.1-Ubuntu SMP with `apt-get` `npm` distro:
[code]
Same with latest npm:
[code]

**A fix** would look like this:
use ` "build": "webpack -p"` instead of `"build": "$_ ./node_modules/webpack/bin/webpack.js -p"` in `package.json` file, resulting in:

[code]

[2018-02-06 20:51] JackUrb commented on #259
@OlegJakushkin oh thanks for this! I've been relying on using webpack directly rather than the scripts. Forgot I was still using what was technically a hacky fix. I'd be happy to accept the fix if you want the PR, otherwise I'll put it up before the days up

[2018-02-06 20:57] OlegJakushkin commented on #259
"put it up before the days up"=)

[2018-02-06 21:04] JackUrb commented on #258
@OlegJakushkin once https://github.com/facebookresearch/visdom/pull/260 is in you can start trying out the close callback rather than needing to use win_exists

[2018-02-07 00:39] #259 closed

[2018-02-07 10:54] 0phoff opened #262 "`name` parameter is not used on first plotted line"
When plotting a line with the ``vis.line()`` function, one can specify a ``name`` for a trace.
This works fine when `` 'appending' `` new lines, but does not work for the first line you plot in a window.

One can work around the bug by adding a ``legend`` entry to the options, but this is a dirty hack imo...
The reason this is irritating is because this does not allow for a consistent API for upda

[2018-02-07 14:25] 0phoff opened #263 "Saving plots using matplotlib"
I noticed you save all the plot data in the json files and was wondering whether you could add an option to download a plot in png,eps,etc. that is generated by the server using matplotlib.

If this is against plotly's terms of service, could you at least allow us to save the data as csv files or something similar? That way users can get higher quality plots with excel, python, etc. for using in p